[2018-05-30 15:21] sbinet opened #1 "revive: unidiomatic `// revive:` syntax"
Just a quick drive-by comment after having glanced at:
https://blog.mgechev.com/2018/05/28/revive-golang-golint-linter/

you're using `// revive:xxx` to feed intructions to `revive`:
[code]

usually, in the Go ecosystem, comments that are meant for programs or machines do not have a leading space:
[code]

now, the consensus is to use `//go:xyz` as a directive for programs.

Just my 2-cents.

[2018-06-01 07:34] dominikschulz opened #4 "ignoreGeneratedHeader inverted logic?"
Maybe I got the documentation wrong, but I think the logic evaluating the `ignoreGeneratedHeader` option is wrong.

When I set `ignoreGeneratedHeader = true` it will check my generated files, if I set it to `ignoreGeneratedHader = false` it will not check my generated files.

IMHO there should be no `!` in here: https://github.com/mgechev/revive/blob/master/lint/linter.go#L66

Is that correct?

[2018-06-01 17:30] mgechev commented on #4
The property name looks ambiguous. The semantics is: "Ignore the header if the value is true," i.e., lint files with a generated header.

I'm open to suggestions to rename the config property. Until then, I'll update the docs.

[2018-06-01 17:54] #1 closed

[2018-06-01 18:12] dominikschulz commented on #4
Ahhh, thanks a lot for the explanation and updating the docs. Now this makes a lot more sense :+1:

[2018-06-01 18:12] #4 closed

[2018-06-01 23:52] tamird opened #5 "false positive in unexported-return"
[code]
The code in question: https://github.com/cockroachdb/cockroach/blob/97c3622c2a6f4ec579ed93655b9d8a83732ac654/pkg/sql/zero.go#L36

It's true that the returned object is of an unexported type, but it is being returned as an interface, which is exported.

[2018-06-01 23:56] mgechev commented on #5
Just like in golint, false  positives are possible in revive. The confidence of this warning is [0.8](https://github.com/mgechev/revive/blob/f74d3bd5eecded5f1b83c2e4b87f8cde22bd71d0/rule/unexported-return.go#L72). If you want to filter warnings with confidence below 1, you can use the config file.

[2018-06-01 23:56] #5 closed

[2018-06-01 23:58] tamird commented on #5
Whoa! Closing this issue seems aggressive given that it should be possible to fix this false positive.

[2018-06-02 00:01] mgechev commented on #5
This rule is directly ported from golint; I think it's reasonable to keep the current behavior with confidence level 0.8.

In case you'd be able to find some time to fix the false positive, I'd be more than happy to reopen the issue and introduce you to the codebase.

[2018-06-02 15:33] godcong opened #7 "can revive running on the goland"
i added an revive [file watchers] in goland
and it is not running...

[2018-06-02 15:42] mgechev commented on #7
I'm using vim & VSCode, not sure how we can add revive to goland and I have no way to test it. It'll be great if anyone with goland experience shares their thoughts!

[2018-06-04 09:09] godcong commented on #7
i edit the file watcher like this.
it running!!!
![image](https://user-images.githubusercontent.com/2727298/40908617-dd48828c-6819-11e8-9265-7a0f55ba5178.png)

[2018-06-04 09:09] #7 closed

[2018-06-06 19:21] chavacava opened #12 "Extending indent-error-flow to check for other branch statements"
The rule `indent-error-flow` checks if the `if`block ends with a `return` statement. The rule could also check for `if` blocks ending with branch statements like `continue`,`break`, or (ouch!) `goto`

[I've made the dev and I can make a pull request if you are interested]

Note: the rule is part of the `golint`-related rules, if the goal is to be isofunctional with golint then instead of extending

[2018-06-06 19:49] mgechev commented on #12
Hey @chavacava, yes, introducing a new rule will be great so we can keep the integrity of the inherited rules from golint.

[2018-06-08 17:30] #12 closed

[2018-06-08 20:37] danielbprice opened #15 "Implement -set_exit_status"
**Is your feature request related to a problem? Please describe.**

The problem is dropping this in as a replacement to `golint`.

**Describe the solution you'd like**

revive looks *very* close to being a drop-in replacement for golint, but support for the `-set_exit_status` flag that `golint` implements would really help.  We use this exit status to drive automation.
[code]

[2018-06-08 20:40] mgechev commented on #15
@danielbprice you can set the exit status in the config file https://github.com/mgechev/revive#configuration. You can:

[code]

[code]

[2018-06-08 20:40] #15 closed

[2018-06-12 23:16] mgechev opened #19 "indent-error-flow reports a false positive"
**Describe the bug**

`indent-error-flow` gives false positive for:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run the rule `indent-error-flow`
3. I got a warning `if block ends with a return statement, so drop this else and outdent its block`

**Expected behavior**

Should not get a warning in the case above because of

[2018-06-12 23:16] mgechev commented on #19
@chavacava let me know if you want to take this one.

[2018-06-13 07:10] chavacava commented on #19
Hi, please take a look to the corresponding pull request.

[2018-06-13 14:01] #19 closed

[2018-07-09 09:39] elvizlai opened #31 "vscode error"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

vscode user config
[code]

[code]

[code]

**Expected behavior**
I run the cmd manual, it works. but not the vscode

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: mac o

[2018-07-09 14:42] #31 closed

[2018-07-09 19:01] mgechev commented on #31
@elvizlai would you share what the cause is?

[2018-07-10 00:55] elvizlai commented on #31
@mgechev my mistake. the `go.lintFlags` should be an array. each flag should be separated.

[2018-07-10 01:47] mgechev commented on #31
Thanks for sharing this! I hope it helps others who face the same problem.

[2018-07-17 21:06] cvbarros opened #41 "Feature Request: Customize initialisms or remove "ID" from the common list"
**Is your feature request related to a problem? Please describe.**
In short, I'm looking for alternatives to `golint`, particularly because of this issue:
https://github.com/golang/lint/issues/89

**Describe the solution you'd like**
There are some options to implement this feature.
1. We could provide a "whilelist" of allowed initialisms, such as `Id`, in order to name variables such as `projectI

[2018-07-17 22:41] mgechev commented on #41
We can make the rule configurable. I'd prefer to keep this check under `var-naming` so we can be as compatible with `golint` as possible.

If you have some spare time, it'll be great if you can give it a try! We can discuss the approach you're planning here so we can collect some more thoughts! // cc @chavacava

[2018-07-18 07:01] chavacava commented on #41
As described by @cvbarros, the configuration with an optional (empty by default) white list of "relaxed" initialisms seems the most flexible approach. It may lead to inconsistencies across projects but not more than adding a new rule (option 3).

[2018-07-18 17:31] mgechev commented on #41
@cvbarros I won't be able to work on it shortly. Assigned the issue to you so you can take care.

[2018-07-19 21:09] jsedgwick opened #42 "Can revive only report problems on git changes?"
This would be essential to usage with github checks API and pre-hook linters

My organization would like to use revive instead of golangci-lint (mostly because of extensibility) but I cannot tell if revive has this feature. It is best described through this quote from golangci-lint docs

source: https://github.com/golangci/golangci-lint#golangci-lint-vs-gometalinter

[2018-07-19 21:14] jsedgwick opened #43 "Comparison with other linters"
To wit, golangci-lint. My org is leaning towards you but we're having trouble with the comparison process, and want input from the authors themselves.

Is there a comparison of your project vs golangci-lint somewhere?

- see #42
- Extensibility/customizability comparison
- Speed comparison
- Ease of integration with GH checks API comparison

Thank you! And anything that you point out that is posit

[2018-07-19 22:21] mgechev commented on #42
Just like with gometalinter, golint, govet, etc., revive works with `revgrep`:

[code]

`revive`'s default formatter prints the warnings in the same format, like the traditional linters so `revgrep` will be able to parse the output.

[2018-07-19 22:21] #42 closed

[2018-07-19 22:40] mgechev commented on #43
Compared to `gometalinter` and `golangci-lint`, `revive` **implements its own set of rules**, instead of delegating this responsibility to other tools (for example, both `gometalinter` & `golangci-lint` are internally running `golint`, `gocheck`, `gocyclo`, etc.).

`revive` provides a framework for static code analysis - i.e., a set of primitive APIs which you can use to extend the standard set of

[2018-07-19 22:40] #43 closed

[2018-07-20 04:20] jsedgwick commented on #42
OK. Thank you! Look forward to potentially using this

[2018-07-20 04:23] jsedgwick commented on #43
@mgechev first off, thank you for the the stellar, quick, and thorough response.

Can I ask why (for example) you would implement your own cyclomatic complexity tool instead of delegating to gocyclo? Same would go for other useful linters - how do you plan on avoid NIH syndrome?

[2018-07-20 04:26] jsedgwick commented on #43
Some context: we have an ambitious internal linter along the lines of `clang-tidy`. A big sell for revive would be the ability to just call out to it with no integration besides the call and reception of results.

[2018-07-20 04:28] jsedgwick commented on #43
Better linting is on short-term (<1 month) roadmap for us, hence the attempt to decide between one or the other now.

[2018-07-20 05:08] mgechev commented on #43
If you're planning to invoke an external linter, a better approach for you would be to use `gometalinter`/`golangci-lint`.

There's a rule for cyclomatic complexity for completeness. Three of the benefits I see of the approach I took with `revive`:
- Provides robust primitives for development of custom rules. There are a lot of boilerplates when working on a tool for static analysis and you write

[2018-07-20 23:33] jsedgwick commented on #43
Thank you again for the great response!
cc @diegs, @rodaine, @twoism

[2018-07-27 10:53] chavacava opened #46 "Package-wide analysis"
Hi @mgechev, I would love to develop some rules that need package-wide analysis (e.g. `unused-function`) but I do not see how to implement the analysis pattern required by these kind of rules.

I've developed one package-wide rule (`confusing-naming`). A raw description of the rule is: create a global registry of names, and for each linted file: a) enrich that list, and b) check new names vs those

[2018-07-28 16:13] mgechev commented on #46
Yes, you're correct. I see three potential solutions to this issue:
1. Allow rules to request a sequential application. This is similar to the optimization we do for rules which require type checking.
2. Collect data with "meta-rules" which run in parallel and when all meta-rules for the entire package are done collecting data, invoke package-wide rules.

I like 2.; the meta-rules can be the same

[2018-07-28 18:55] chavacava commented on #46
As you, I think the second approach is better than the first.
A third approach could be:

* Let package-wide rules implement a complementary interface (say `Reducer`, yes, the name is not terrific but...). That interface requires to implement the `Reduce` method that takes a `lint.Package` and yields a list of package level failures.
* In `package.lint` method, after all files were linted (i.e. af

[2018-07-28 19:32] mgechev commented on #46
This sounds good. What would be the `Apply` method of `Reducer` rules? In the general case, it looks like they'll just return? In such case, maybe it's worth having rules which can implement either the `Rule` or `Reducer` (maybe `Reducer` -> `PackageRule`, `Rule` -> `FileRule`) interface?

[2018-07-29 11:54] chavacava commented on #46
Package-level rules **still need** `Apply` method to collect data at file level. In the general case the **result** of `Apply` is an empty slice.(1)

For example, the rule to detect unused functions could be implemented as follows:
1. Use `Apply` method collect data on functions defined and used at file-level (in this case `Apply` will call, as standard rules do, `ast.Walk` and visit the AST of th

[2018-07-30 07:35] chavacava commented on #46
Yes, concurrency-safety is a concern (in #48, at `Apply`, I need to use a mutex to avoid race conditions on the map where data is collected)

Do we  delegate  to the `Apply(p *Package)` method the responsibility of iterating over all package files?

:warning: there is no  guarantee that `Apply(p *Package)` will iterate over files in a thread-save manner.

[2018-07-30 18:56] mgechev commented on #46
👍it's a responsibility to the consumer to guarantee this.

[2018-07-30 19:26] chavacava commented on #46
Wrapping-up my understanding of the proposed solution:

1. Add a new interface
[code]
2. At `Package.lint` iterate over rules and call `Apply` of those implementing the `PackageRule` interface and maintain current behaviour (iterate over files and call `file.lint`)
At the end of execution of an `Apply(pkg)` handle failures like `File.lint` do.

I'm ok?

[2018-07-30 19:28] mgechev commented on #46
This sounds good to me.

[2018-07-30 19:43] chavacava commented on #46
How do you want to proceed? Do you go ahead with the modification or do I take it?

[2018-07-30 19:46] mgechev commented on #46
In the next ~3 weeks, I'll not be able to make any significant work on open source. You can go ahead when you have some time.

[2018-07-30 19:53] chavacava commented on #46
:+1:

[2018-09-11 07:47] rkuska opened #58 "Exclude files for specific rules"
I would like to have an option to exclude certain files for specific rules.

Example - revive.toml config file:

[code]

Now when revive runs it will not check "path/to/the/file.go" for cyclomatic rule.

[2018-09-11 17:37] mgechev commented on #58
@rkuska currently you can achieve this with comment annotations. In `file.go` add a comment:

[code]

[2018-09-11 17:37] #58 closed

[2018-09-12 11:17] l2dy opened #59 "panic: assertion failed [recovered]"
**Describe the bug**
revive panics.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
No panic.

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: macOS 10.13
 - Go 1.11

**Additional context**
The repository tes

[2018-09-12 19:11] mgechev commented on #59
I'll look at this over the weekend.

[2018-09-15 21:03] mgechev commented on #59
@l2dy I cannot reproduce the issue using the same config, running the linter over thrift.

[2018-09-15 22:00] mgechev commented on #41
I implemented this feature right [here](https://github.com/mgechev/revive/pull/61).

Let me know if you have other suggestions.

[2018-09-16 02:12] l2dy commented on #59
I'm testing https://github.com/pingcap/tidb, as noted at the end of the issue.

[2018-09-16 03:13] mgechev commented on #59
Ups, missed that. Thanks!

[2018-09-16 04:15] mgechev commented on #59
Still cannot reproduce the issue. Tried also to run `dep ensure` but still didn't hit the `panic`.

Would you also run `golint ./...`?

[2018-09-16 04:30] l2dy commented on #59
Yes, `~/.gotools/bin/golint ./types/field_type.go` crashes.

[2018-09-16 05:39] mgechev commented on #59
It's interesting that I was able to reproduce it once and since then everything passes successfully. I'll try again tomorrow.

[2018-09-16 07:11] chavacava commented on #59
I can reproduce it systematically, using any type-checked rule.
For example, it fails with the following configuration
[code]

[2018-09-17 10:47] #41 closed

[2018-09-17 12:52] z0mbie42 opened #66 "Add SemVer releases"
**Is your feature request related to a problem? Please describe.**
The idiomatic way to create software is to publish releases when required (fix, new feature, api break...).
There is currently no versioning for `revive`.

**Describe the solution you'd like**

I would like to suggest https://github.com/astrocorp42/rocket to automate GitHub releases.
Thus We can automate releasing and binaries publ

[2018-09-17 15:00] z0mbie42 opened #67 "Add a rule to blacklist imports (imports-blacklist)"
**Is your feature request related to a problem? Please describe.**
For security reason we sometime want to blacklist some packages (`crypto/md5`, `crypto/sha1`....).

**Describe the solution you'd like**
Add a rule named `imports-blacklist` (inspired by https://palantir.github.io/tslint/rules/import-blacklist/) which takes a `[]string` as arguments and check that any of the imported packages are i

[2018-09-17 16:21] mgechev commented on #67
Sounds like a great suggestion! Feel free to take this feature.

[2018-09-17 19:00] mgechev commented on #66
Let's collect some more feedback here before we proceed.

[2018-09-17 20:06] #67 closed

[2018-09-18 16:17] mgechev commented on #59
Would you have time to look at it? I still can't reproduce the problem.

[2018-09-18 20:53] chavacava commented on #59
@mgechev, no problem. I will work on the problem from this Thursday.
It seems to be related to type checks.

[2018-09-18 23:06] z0mbie42 commented on #66
The case I encountered today was the following:
I use revive for one of my projects during the tests in the CI pipeline (in a docker container). The pipeline failed because revive was not at the good version and the `unix` formatter was not available because Docker cacher this `go get -u github.com/mgechev/revive` step.

`go get` unfortunately cannot enable to download a specific version of a go p

[2018-09-21 05:34] chavacava commented on #59
Progress: the problematic file is `types/field_type.go`, more precisely the declaration of `fieldTypeMergeRules` (line 484)

[2018-09-21 09:35] chavacava commented on #59
We can add a `recover` at our function `TypeCheck` that call go's (buggy) check function.
I've made the modification and `revive` does not panic anymore.

[2018-09-21 17:51] mgechev commented on #59
Closing the issue for now. Let's still keep an eye on this.

[2018-09-21 17:51] #59 closed

[2018-09-23 08:02] chavacava opened #73 "Support comments when enabling/disabling"
**Is your feature request related to a problem? Please describe.**
Currently, we can enable/disable `revive` with comments like

[code]

But the enabling/disabling comment pattern does not allow to add a, sometimes useful, explanation of why the developer is enabling/disabling the linter.

**Describe the solution you'd like**

It could be nice if we can write enabling/disabling directives like

[c

[2018-09-23 15:18] mgechev commented on #73
A comment above seems sufficient to me:

[code]

[2018-09-23 17:06] chavacava commented on #73
That was my first impression when my colleagues ask for this feature.

One "problem" with a comment above the directive is that both are somewhat decoupled, thus it is possible, for example, to delete one without deleting the other.
Moreover, if the directive has the `line` modifier, putting a comment in the precedent line does not facilitate code reading.

[code]

[2018-09-24 08:04] chavacava opened #74 "Rules documentation"
**Is your feature request related to a problem? Please describe.**
Some warning/error messages generated by rules are not enough to clearly understand what is wrong  in the code or, more important, _why_.

Linters are a good source of knowledge for beginners, we can learn from reported warnings/errors.

 For example, a warning `use i++ instead of i += 1` does not provide any clue about why we shou

[2018-09-24 16:59] mgechev commented on #74
The proposal sounds good. With [codelyzer](https://github.com/mgechev/codelyzer), for each rule, we add a link to the Angular style guide.

What about creating a GitHub page which contains a more detailed description of the individual rules. In the rule failure message, we can add the link with an anchor to the corresponding description.

[2018-09-25 09:19] chavacava commented on #74
:+1:
I can start working in a first version of such a page. Do you have a suggestion for the name of the page?

[2018-09-25 21:09] mgechev commented on #74
We currently have https://revive.run. We can reuse this domain if you don't have anything else in mind?

I did a short research on what we can use for the page. Here are few suggestions:

- [Docusaurus](https://docusaurus.io/)
- [docz](https://www.docz.site/)
- Next.js
- Gatsby
- Nuxt.js

An advantage of Next.js, Nuxt.js, and Gatsby is that if the website grows we can use predictive prefetching wi

[2018-10-03 16:55] chavacava opened #79 "Refactor `atomic` rule code to make `gofmt` function available to other rules"
Rule `atomic` has a method `gofmt` (attached to an internal struct).
It could be interesting to make this method accessible to other rules (eg `constant-logical-expr`)

I propose to move the method into `rule/utils.go`.

[2018-10-03 17:15] mgechev commented on #79
Sounds good to me.

[2018-10-03 18:56] #79 closed

[2018-10-08 06:27] chavacava commented on #73
Closing. Requested feature will not be implemented.

[2018-10-08 06:27] #73 closed

[2018-10-11 21:43] mgechev commented on #46
@chavacava let's close this one for now. There are not too many rules which require package-wide analysis, so it might not be worth it to introduce additional complexity or slow the execution down.

[2018-10-11 21:43] #46 closed

[2018-10-11 21:45] mgechev commented on #66
Let's tag the individual versions without publishing binaries for now. If we see this feature request again, we can reconsider.

[2018-10-11 21:45] mgechev commented on #74
@chavacava let me know if you have a more robust idea.

[2018-10-11 22:06] gsamokovarov opened #82 "Edge cases in empty-lines rule"
**Describe the bug**

The following example fails:

[code]

This is because of the trailing rule taking the position if the `if` statement, not the closing of the block into account.

**Expected behavior**

This is a false-positive and should not happen.

[2018-10-12 07:07] chavacava commented on #74
For the moment I'm writing rules descriptions in a .md document. The doc can be used directly as you described in your previous comment (linking to thigs like https://revive.run/r/#time-naming) or serve (at leas its content) as the basis for other more elaborated solution (like serving it through technos like Next.js)

I have the description of half of the rules, I'll try to finish the doc for the

[2018-10-12 07:11] chavacava commented on #46
I'm in the middle of the implementation for this issue. The approach, due to modifications on function signatures, requires some deep refactoring.

Ok to put it in standby

[2018-10-13 05:38] #82 closed

[2018-10-13 06:17] chavacava opened #84 "empty-lines, false positives in presence of comments"
**Describe the bug**
The rule `empty-lines` warns on blocks starting or ending with comments

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following command line and configuration file:

Command line
[code]

Configuration file `test.toml`
[code]

Test file `test.go`

[code]

**Expected behavior**

revive must not e

[2018-10-13 15:47] mgechev commented on #84
cc @gsamokovarov

[2018-10-13 16:34] gsamokovarov commented on #84
The comments are tricking the rule here. I'll put more work in the comments between nodes detection and get back to you.

[2018-10-13 18:15] #84 closed

[2018-10-26 03:15] #74 closed

[2018-10-28 10:40] chavacava opened #89 "Add a rule to warn on explicit triggers of the garbage collector"
Calling `runtime.GC()` to force garbage collection is rarely a good idea. In very few occasions triggering the GC is justified (when benchmarking for example) but most of the time is a symptom of the developer trying (and failing) to be smarter than the runtime.

We can add a rule to warn on the presence of `runtime.GC()`

[2018-10-28 14:50] mgechev commented on #74
I worked on the docs [website](https://guess-js.github.io/website/) for Guess.js. I'm planning to approach the same way with revive. We can have rules page with titles so that https://revive.run/r/#rule-id will be a link to the rule with the name `rule-id`.

I can also add a brief guide to creating a rule & a formatter.

Let me know what you think.

[2018-10-30 05:50] mgechev commented on #89
This sounds reasonable to me.

[2018-10-30 17:30] chavacava commented on #74
Hi @mgechev, it sounds good. The guides for rules & formatters are very important also. Let me know if I can help.

[2018-10-31 01:16] mgechev commented on #74
@chavacava just finished the website. You can find it [here](https://revive.run/).

[2018-10-31 14:32] #89 closed

[2018-10-31 15:45] chavacava commented on #74
Nice work!
(The [DOC](https://godoc.org/github.com/mgechev/revive) shows that we need to add some package comments :) )

[2018-11-05 22:43] jamesmaidment opened #91 "Length is has incorrect spelling in README"
**Is your feature request related to a problem? Please describe.**
In the https://github.com/mgechev/revive/blob/master/README.md length has the incorrect spelling.

`line-lenght-limit` -> `line-length-limit`

**Describe the solution you'd like**
This should be spelled correctly.

**Describe alternatives you've considered**
n/a

**Additional context**

![image](https://user-images.githubuserconten

[2018-11-06 06:09] #91 closed

[2018-12-10 08:14] awkj opened #97 "add package-naming setting rather var-naming"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
a rule, rule.var-naming have two effect, packakge name lint and variable name lint, I want to set them in two rule.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
add [rule.package-naming] s

[2018-12-18 18:34] mgechev commented on #97
Related to our discussion at https://github.com/mgechev/revive/issues/46

[2019-01-17 08:34] olivierperes opened #98 "disable-(next-)-line does not work for long comment lines"
**Describe the bug**
`revive:disable-line` and `revive:disable-next-line` do not work with rule `line-length-limit` when applied to comments, although they work fine with lines of code.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

[code]

**Expected behavior**

[2019-01-17 11:52] chavacava commented on #98
Hi @olivierperes, I can reproduce the problem. I'll work on a fix.
Thanks!

[2019-01-18 03:47] akerl opened #100 "Tagged version"
Howdy!

In https://github.com/mgechev/revive/issues/66 , it seems the determination was to tag releases w/o publishing release binaries. That said, it doesn't look like there's any tags as-yet.

I'm looking to use Revive in CI builds, where ideally I can lock the version of revive so that a given build is consistent. Right now, I'm locking to the git hash, but that's not ideal.

Is the intention t

[2019-01-18 15:33] #98 closed

[2019-01-21 14:51] mrVanboy opened #102 "lint: Disabling multiple rules require additional newline"
**Describe the bug**
After commit https://github.com/mgechev/revive/commit/c878d3090df36b2b57f9427ec7ea29be528e19ef disabling multiple rules at once require additional newline between comments.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. Can be tested with docker only in isolated environment with default `config.toml`:

[c

[2019-01-22 07:19] chavacava commented on #102
Hi @mrVanboy, thanks for reporting the bug.
I've reproduced it.
As you suggest, the problem is caused by the new regexp that does not expect two revive directives in the same line (GO parser returns a single line for all contiguous comment lines)
I will try to fix the bug ASAP, meanwhile, to get the expected behavior you can write

[code]

[2019-01-23 23:13] andradei opened #104 "Add option to enable all lints in the command line"
**Is your feature request related to a problem? Please describe.**
Having to pass a `-config config.toml` without being able to simply `-all` to get all of the lint rules.

**Describe the solution you'd like**
Add a `-all` or something similar to the command line options so a TOML config file isn't needed.

[2019-01-24 01:18] mgechev commented on #104
I'd prefer to not introduce new command line options and keep the interface minimalistic.

What are your main concerns with using a `config.toml` file?

[2019-01-24 17:14] #102 closed

[2019-01-24 21:31] andradei commented on #104
One extra config file to keep around as opposed to an extra command-line option. This really comes down to preference and convenience. I understand your goal, feel free to close the issue if it doesn't follow it.

[2019-01-24 21:43] mgechev commented on #104
Let's keep it open for now and collect opinions. If more folks would want to use `-all` flag we can enable it.

[2019-01-25 07:32] chavacava commented on #104
The configuration file does not only contain the list of rules to apply but also some knobs that control `revive` behavior (default severity, error code to return, [...](https://github.com/mgechev/revive#configuration)) **and** the particular configurations of some rules like `argument-limit`, `cyclomatic`, `max-public-sctructs`, `line-length-limit`...

Today those rules will panic if there is no

[2019-01-25 20:47] narqo commented on #104
This might be outside of the scope of the issue, but it would nice if revive allowed enable/disable particular rule via command line argument.

Since there is no one default name for the config file (i.e. `$PRJ_ROOT/.revive.toml`), it isn't clear how to configure an editor (vim+ale / vscode-go) use the same set of rules across different projects.

As an example `revive -rule.exported=off` would be

[2019-02-01 07:05] ademenev opened #105 "Separate checks for missing comments and comments format"
It's OK when linter tells me I should document a package or a method, or a a constant. But I do not like when it tells me **how** I should document my code.

Would be nice to have separate checks for missing comments and comments format

[2019-02-01 14:54] chavacava commented on #105
The problematic case is that of been unable to differentiating between a failure triggered by the absence of comments and a failure related with the bad format of a comment?

[2019-02-04 18:11] andradei commented on #104
@akerl Yes. The only way to configure any of the lints is via config file.

[2019-02-05 21:40] mgechev commented on #100
Let's close this in favor of https://github.com/mgechev/revive/issues/66

[2019-02-05 21:40] #100 closed

[2019-02-06 04:20] ademenev opened #107 "Adding more rules?"
Is there any policy about adding more rules to revive? Like "we want to keep them at minimum"? I am asking because I really like how fast revive works, but I am missing some checks that other linters have, like unused unexported symbols, empty branches or unchecked errors, and I would like to have those checks

[2019-02-06 04:41] ademenev commented on #46
Any news on this? I would really love to see support for package-wide rules in revive!

[2019-02-06 07:08] chavacava commented on #46
@ademenev do you have some rules in mind?
I imagine rules like: unused private function/struct/field

[2019-02-06 07:14] chavacava commented on #107
@ademenev you can also open an issue asking for a rule. Describe the expected behavior, provide examples or point to other linter implementation. It is very likely that someone will implement the rule.

[2019-02-06 07:21] ademenev commented on #46
Unused unexported symbols is what I want mostly

[2019-02-06 16:54] mgechev commented on #66
1. In the Angular team we have weekly patch releases monthly, major releases, and bi-weekly annual releases. We can introduce a similar schedule. Every new feature will be available in the master branch, so people who want to live on the edge can (feel free to propose a better release workflow)
2. I think we can keep it simple for now without LTS

[2019-02-07 12:58] chavacava commented on #66
1. Do you refer to [this schedule](https://angular.io/guide/releases#release-frequency)? LGTM
2. I agree.

Do we start with 1.0.0? When?

[2019-02-07 13:01] chavacava commented on #107
@ademenev Please open an issue describing the rule you want to implement. Like that, other users can comment on it. Thanks!

[2019-02-07 23:01] mgechev commented on #66
We can start tagging releases when https://github.com/mgechev/revive/pull/106 lands. I hope we're able to put some more thoughts into it by then.

[2019-03-18 06:16] chavacava opened #108 "Detect duplicated imports"
In GO it is possible to import the same package multiple times using different aliases.

For example

[code]
Most of the time duplicated imports are generated when using `goimports`.
Why do not create a rule that spots these cases?

[2019-03-18 16:15] floppyzedolfin opened #109 "Ignore preexisting technical debt"
My project is rather big, and already has lots of warnings raised by revive. I am using git.
My goal is both to avoid creating new debt items, and to reduce current debt. However, "new debt items" are lost in the sea of "existing debt items", which makes them very difficult to spot.

Any of the following would help me identify new debt items:
- Dumping the results of my code at date t0, and use th

[2019-03-18 16:36] mgechev commented on #108
This makes sense to me.

[2019-03-18 16:40] mgechev commented on #109
@floppyzedolfin I'd suggest to achieve this as part of an external tool. For example, something like [this](https://dev.to/ohbarye/lint-only-over-changed-files-4e7j) or https://github.com/mgechev/revive/issues/42.

[2019-03-18 16:40] #109 closed

[2019-03-20 08:57] chavacava opened #112 "Detect import name shadowing"
In GO it is possible to declare identifiers (packages, structs, interfaces, params, receivers, variables, constants...) that conflict with the name of an imported package.

for example (from Kubernetes):
[code]
The variable `signer` shadows the import name `signer`. This kind of shadowing makes the code harder to understand.

I propose to add a rule to spot identifiers that shadow an import.

[2019-03-20 18:54] #108 closed

[2019-03-20 18:55] mgechev commented on #112
I've hit this problem quite often. This makes sense to me. Would you want to take it or we can tag it with `help wanted`?

[2019-03-20 20:59] chavacava commented on #112
I will take it

[2019-04-15 08:06] chavacava commented on #112
closed by PR #114

[2019-04-15 08:06] #112 closed

[2019-04-15 08:24] chavacava opened #115 "New rule: warn on bare/naked returns"
In GO, when using named return values it is possible to use naked (aka bare) returns.
For example:
[code]
can be written as

[code]

This _feature_ is somewhat controversial, because it can lead to hard-to-understand code, see for example

* Nate Finch's [Go Nitpicks](https://npf.io/2014/10/go-nitpicks/)
* [proposal: Go 2: remove bare return](https://github.com/golang/go/issues/21291)

Why do not

[2019-04-15 10:47] mgechev commented on #115
I like that! I've seen this pattern frequently but if folks do not agree, they can just not enable the rule.

[2019-04-15 11:48] chavacava commented on #115
exactly

I'll try to do a PR this week

[2019-04-15 13:09] inliquid commented on #115
You must use bare return if you use named return params. This will help to distinguish them. Using named returns when return params already named - this is what actually needs to be warned about.

[2019-04-15 14:44] chavacava commented on #115
As said in the issue description, the subject is controversial.
Some people (including me) do not like bare returns because they find that code is less understandable.
On the other side, I love named results because, I think, they help in understanding the contract of a function (`revive` has a rule that suggests to add names to confusing results). As [Effective Go says](https://golang.org/doc/eff

[2019-04-17 09:19] chavacava opened #118 "Warn on unused method receivers"
In GO it is possible to define a method that does not use its receiver:

[code]

The above method can be also written to explicitly state that the receiver is not used:

[code]
or
[code]

I propose to create a new rule (`unused-receiver`?) to cope with this pattern

[2019-04-17 20:55] #115 closed

[2019-04-18 17:35] #118 closed

[2019-04-19 19:26] PaperMountainStudio opened #120 "Warn on unhandled error."
Sometimes I forget to handle an error. Go linters usually don't warn me. At least those I know. I don't think I am the only one who is bothered by this. By implementing this everyone's code will greatly improve.
For example:

Bad code:
[code]
But if we look into the docs, we can see that `os.Chdir` returns error.
Good code:
[code]
Actually, we don't need to check for the `if err != nil` part. It i

[2019-04-19 20:39] chavacava commented on #120
Hi @PaperMountainStudio, if I understand well you want to be warned in cases like:
[code]

or if
[code]
you call it
[code]

[2019-04-19 21:23] PaperMountainStudio commented on #120
Hi @chavacava  I don't know. In your example with assigning error to _, it seems fine. You chose to ignore the error.
But your second case is what I meant.
[code]

[2019-04-20 12:10] chavacava commented on #120
I get it. I like the rule.
I see some problems to implement it. The rule needs to known the signature of functions in order check for unhanded errors. Currently, a rule applies to a file, then it has only information about functions declared in the file.
We can try to provide a _dictionary_ of functions but this approach requires the maintenance of the dictionary to have decent confidence on the r

[2019-04-20 17:36] mgechev commented on #120
How about using the type checker? We can get the type of the result of each function invocation, and from there we can decide if we want to throw or not. The `TypeCheck` is per package, which will let us resolve non-local information.

[2019-04-20 17:55] chavacava commented on #120
@mgechev Yes the type checker is an option but the rule will cope only with functions declared in the pkg. In the initial example of @PaperMountainStudio, the rule needs to handle a standard library function.

We can develop a first version of the rule based on the type checker and extend it later to cope with _global_ cases

[2019-04-20 19:29] chavacava commented on #120
Good news, the type checking provides information of standard lib funcs.

For the following code:
[code]

I get the following info
[code]

[2019-04-20 21:13] chavacava commented on #120
@PaperMountainStudio
You can checkout and test the first working version of the rule from this PR #122
Feedback is wellcome

[2019-04-22 13:21] PaperMountainStudio commented on #120
@chavacava This rule wasn't enabled by default, so I had to manually add `[rule.unhandled-error]` to the end of defaults.toml and call revive with this config file.
Otherwise, it is perfect. I found more unhandled errors in my code than I imagined. :smile:

[2019-04-23 15:52] mapreal19 opened #125 "Imports order"
**Is your feature request related to a problem? Please describe.**
I'd like to see a clear order in imports between github packages, golang packages or custom packages

**Describe the solution you'd like**
Inspired by: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md

The idea is to have a code like this as _valid_:

[code]

While this would be _invalid_:
[code]

*

[2019-04-23 17:28] chavacava commented on #125
Hi @mapreal19, I'm currently facing this problem with my work's code base.
Some developers commit without ensuring correct formatting of their code (and that includes sorting imports with goimports)

[2019-04-25 12:47] mapreal19 commented on #125
@chavacava same here. How difficult would be difficult to detect local packages from 3rd party packages? I would include that separation for now and see if others like the rule.

[2019-04-25 13:43] chavacava commented on #125
I think that the rule needs to be in sync with the imports formatting provided by standard tools; that way using, for example, `goimports` will ensure that the rule will not complain.
I do not know if standard formatting tools separate third-party imports from local ones.

[2019-04-25 15:16] EricByers commented on #125
`goimports` has a `-local` flag that splits things up a bit more, but you have to provide the prefix.

https://github.com/golang/tools/blob/master/cmd/goimports/goimports.go#L50

[2019-04-25 18:27] chavacava commented on #125
Thanks for the info @EricByers. So, the rule needs to accept a parameter equivalent to that of `goimports`  to be able to sync the behaviors of the rule and the formatter

[2019-04-25 19:42] mapreal19 commented on #125
Found later this: https://github.com/golang/go/wiki/CodeReviewComments#imports

[code]

[2019-04-28 02:23] #120 closed

[2019-04-29 19:43] chavacava opened #127 "Add blacklist to unhandled-error rule"
Using the new `unhandled-error` has revealed cumbersome because in some cases it generates too many failures.

I propose to add the possibility of configuring the rule with a blacklist of functions for whom te rule must not generate a failure.

[2019-04-30 02:56] #127 closed

[2019-05-01 19:33] chavacava opened #129 "Warn on presence of too many indirections"
Expressions that have too many indirections are hard to understand.
For example (from Kubernetes):

[code]
Other than hard to read, this kind of code is fragile (calls and slice accesses are chained without checking for nil returns nor empty slices)

I propose to create a rule that warns when an expression has too many indirections (_too many_ must be configurable)

[2019-05-01 21:57] mgechev commented on #129
This sounds a bit like the [Law of Demeter](https://en.wikipedia.org/wiki/Law_of_Demeter). Makes sense to me.

[2019-05-02 07:35] chavacava commented on #129
Yes, I've did not mentioned Law of Demeter because a rule checking it is fare more complicated than just calculating call chains length. For example a builder like `MyObject().WithOption1().WithOption2()` chains calls but it respects the Law of Demeter. To detect cases like that we need to typecheck and then control on the types in the call chain.
Most of the time, a simple call chain length is en

[2019-05-03 07:22] mgechev commented on #129
Yes, this makes sense. LGTM!

[2019-06-06 08:16] korjavin opened #144 "Not clear how to disable one check"
I would like to have a simple method to disable one check.
Let's say "exported"
Ideally, with command-arg, but toml config is okay too.

I can't figure out how to do so from the docs.

[2019-06-06 11:30] mgechev commented on #144
A rule is enabled only if it exists in your toml config. By default revive runs with the golint configuration. To disable exported you need to create the following toml config file:

[code]

[2019-06-06 11:30] #144 closed

[2019-06-21 13:26] olivierperes opened #159 "Warn about unneeded parentheses"
**Is your feature request related to a problem? Please describe.**
This passes with no warnings:
[code]
**Describe the solution you'd like**
A warning about useless parentheses.

[2019-06-21 14:01] chavacava commented on #159
Hi @olivierperes, do you expect warnings for which of the following expressions:

[code]

[2019-06-21 14:20] olivierperes commented on #159
I was only thinking about cases in which they are pathologically useless, not even potentially improving readability, so only your first and last examples.

[2019-06-21 17:58] mgechev commented on #159
That's a fun problem to solve!

A potential algorithm could be:
- Parse the expression in an AST where the operation priority and the parentheses determine the position in the tree
- Serialize the tree to a string adding the minimum amount of parentheses, depending on the operations priority
- Compare the serialized expression with the original expression
- Warn in case the expressions do not matc

[2019-06-21 18:09] olivierperes commented on #159
This is a possible approach, but I fear it could be too restrictive. In a complex mathematical or logical expression, it might be good to keep a few unnecessary parentheses around, just so humans are convinced that the author got the priorities right. Of course, one could argue that such expressions should not be used in the first place, but broken down into simpler expressions.

[2019-06-21 18:25] mgechev commented on #159
How would revive distinguish between extra parentheses used for readability versus redundant ones that are in the expression because negligence?

[2019-06-21 18:42] chavacava commented on #159
An example of such an expression is

(1 * 2) + 3

Or more abstractly

( exp1 * exp2) + exp3

 Should we warn or not? It is a matter of "taste"... but algorithms do not have taste

[2019-06-21 19:04] olivierperes commented on #159
I think it should be possible to detect repeated parentheses, as in `((expr))`. Another simple case is when the expression directly after `=` or `:=` is between parentheses, as in `x := (expr)` or `x = (expr)`. I suppose the case of multiple assignment might be trickier. I don’t have a strong opinion as to whether anything deeper should be attempted, either a strict approach or a more relaxed one

[2019-06-22 00:55] mgechev commented on #159
Looking at the problem and the proposed solution https://github.com/mgechev/revive/issues/159#issuecomment-504516839, this sounds like a better fit for a formatter, not a linter.

[2019-06-22 06:12] olivierperes commented on #159
Hmm, I don’t know. Does gofmt suppress (non-whitespace) characters? It certainly moves them around, but more than that? I could always open an issue in that project and see what comes out of it.

[2019-06-23 21:23] #159 closed

[2019-07-01 14:18] markelog opened #165 "Revive violates the Rule of Silence"
When revive finds no errors it prints:

This violates the Rule of Silence:

What would you say to a PR that made revive silent by default?

[2019-07-01 15:17] mgechev commented on #165
@markelog this seems valid for the friendly & the stylish formatters. Would you fix both?

[2019-07-01 15:19] markelog commented on #165
Can do :)

[2019-07-09 15:50] albertorestifo commented on #66
Any update on this? Having tagged releases would be really helpful

[2019-07-26 15:59] jBugman opened #190 "Ability to provide a reason for rule disabling"
I would like the ability to provide a reason for rule disabling (on the same line) as an option. Adding anything to the `revive:` comment breaks it (regex I guess?), so currently I must do it on a separate line.

I propose two things:

1. Ability to write comments like
`// revive:disable-line:RULE   This is intentional`
or even (for cleaner integration with other tools)
//  revive:disable:var-nami

[2019-07-26 17:39] mgechev commented on #190
This makes sense. I'll look at it over the weekend. If anyone has bandwidth to take it before that please comment here.

[2019-07-27 10:57] chavacava commented on #190
Hi, I've proposed something similar last year (see #73)
I'll try to create a PR this weekend.

[2019-07-27 12:33] chavacava commented on #190
I have a first running version without the config flag.
Suggestions for the name of this flag?

[2019-07-27 17:09] mgechev commented on #190
`specifyDisableReason` maybe. It's a bit long but expresses well what it's all about. Open to other suggestions!

[2019-07-29 18:55] #165 closed

[2019-08-02 15:21] #190 closed

[2019-08-02 22:27] mgechev commented on #125
This looks to be more of a formatting problem rather than linting. I'd suggest to keep it outside of the scope of revive for now.

[2019-08-02 22:27] #125 closed

[2019-08-02 22:27] #105 closed

[2019-08-02 22:28] mgechev commented on #105
Closing due to inactivity.

[2019-08-02 22:29] mgechev commented on #104
Let's keep the configurability as minimalistic as possible. Closing it for now. Feel free to comment for further discussion.

[2019-08-02 22:29] #104 closed

[2019-08-05 13:13] wI2L opened #208 "struct-tag linter false positive for empty options"
**Describe the bug**
When using the following struct tag `-,`, which is valid according the `json.Marshal` documentation, to encode a field with `-` as the name, the linter `struct-tag` reports the following warning: `unknown option '' in JSON tag`

**Expected behavior**
No warnings.

**Desktop (please complete the following information):**
 - linux/amd64
 - go1.12.5

**Additional context**
Exampl

[2019-08-05 14:49] chavacava commented on #208
@wI2L can you please check if the proposed fix works for you?
Merci.

[2019-08-05 15:37] wI2L commented on #208
@chavacava Damn, you are quick !
I builded `revive` with your branch and I confirm that the warning is gone :tada:

However, it catched a case for the following JSON tag that, while absolutely correct, looks badly explained to me.
[code]
This JSON tag is invalid according to the **encoding/json** package because commas are not allowed in field names, while the message says: "option can not be empt

[2019-08-05 16:21] #208 closed

[2019-08-06 21:12] mgechev commented on #66
I'd prefer if we keep the release cycle the way it is right now. It's trivial to incorporate security updates downstream and we haven't introduced any breaking changes which require lock to a particular version.

I'd revisit this while the project evolves. Let's close for now.

[2019-08-16 21:39] Clivern opened #223 "Version validation failure for mgechev/dots"
**Describe the bug**
It is not with a stable go version but the bug with the new version of go that is expected to be released end of this year.

**To Reproduce**
Steps to reproduce the behavior:
1. I try to install revive on latest go `go get github.com/mgechev/revive`
2. I run it with the following configuration file:

[code]

**Expected behavior**
It should get installed, actually it used to wo

[2019-08-16 22:17] mgechev commented on #223
Thanks for sharing the failure! I'll look at it right now.

That's interesting. The latest update of dots is from 28th of December 2018.

[2019-08-16 23:03] Clivern commented on #223
Thanks @mgechev for checking. I will try also to run on linux with latest go and see how can we fix it.

[2019-08-17 16:38] #223 closed

[2019-09-04 02:36] entrope opened #229 "False positives for "exported" rule"
**Describe the bug**
revive reports "comment on exported type T should be of the form "T ..." (with optional leading article)" when the comment on that type is of the form "/* T ... */" (with a leading space).  Likewise for exported functions, and presumably ValueSpec entries as well.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive` (comm

[2019-09-07 00:49] gregwebs opened #230 "support build tags"
In order to lint all files, the linter needs to be able to use build tags. It will actually fail to run if all the files in a directory have build tags.

[2019-09-10 14:42] chavacava commented on #229
Hi @entrope, thanks for filling the issue.

I've created the PR #231. There you can check if fixes the problem and you can also see how to add regression tests for a rule.

[2019-09-10 17:26] #229 closed

[2019-09-10 17:33] mgechev commented on #230
Thanks for sharing this feature request! I see there's a request in golint as well https://github.com/golang/lint/issues/358.

I'm traveling in the next few weeks; will try to look at the feature after that. I see two ways to approach this:

1. Implement the functionality in `github.com/mgechev/dots`
2. Filter the files that `dots` returned in revive based on their tag

From what I understand, in

[2019-09-10 21:56] gregwebs commented on #230
I don't know of any environment variables. golangci-lint has a `--build-tags` argument, that might be a good point of reference.

[2019-09-15 00:32] mgechev commented on #230
Did some research and it looks like the difference is that `golangci-lint` uses `package.Load` which supports build tags, compared to `revive` that uses `golint`'s resolution algorithm that currently has no build tags support. I remember I did that for compatibility since in some cases `golint` matches more files compared to `package.Load`.

In October I'll have time to look at it. So far the idea

[2019-09-16 02:19] johnrichardrinehart opened #232 "Support Global Configuration"
It would be nice to support a global (possibly default) configuration for `revive`.

[2019-09-17 18:16] johnrichardrinehart commented on #232
Closed with #233

[2019-09-17 18:16] #232 closed

[2019-09-26 23:05] delfick opened #235 "config file discovery"
**Is your feature request related to a problem? Please describe.**
I want to be able to run revive from my text editor without having to make my text editor find revive.toml to use.

**Describe the solution you'd like**
Have revive look up directories until it finds a revive.toml rather than only looking in home.

**Describe alternatives you've considered**
I can make vim find a revive.toml to use

[2019-09-26 23:09] delfick opened #236 "Inheriting rules from default.toml"
**Is your feature request related to a problem? Please describe.**
When I define my own revive.toml, it seems to disable all the rules. It'd be great if I could just tell it to use the rules from default.toml (with perhaps ability to turn off specific rules) so I don't have to change my config when revive adds new rules, but still have options like what error codes to return with.

[2019-09-27 01:18] mgechev commented on #235
My concern would be for systems where the file look up is expensive (for example, at Google we're using one). This may delay the initial start of revive a lot depending on how deeply nested is the current working directory.

[2019-09-27 01:21] delfick commented on #235
perhaps introduce a cli argument to disable config discovery?

I imagine for most people, file lookup isn't expensive.

[2019-10-03 22:28] RoestVrijStaal commented on #144
tl;dr the key is to NOT add the rule `[rule.exports]` to **revive.toml**, or comment it out.

[2019-10-09 00:14] tommyjcarpenter opened #239 "fish/osx problems?"
I'm running fish shell on mac 10.14.6

**Describe the bug**
After installing this tool using the instructions, I cannot run it
[code]

This is slightly suspect as the go get command returns without an error however it also prints no stdout

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuratio

[2019-10-09 01:09] mgechev commented on #239
What's the value of `$GOPATH`? Did you add `$GOPATH/bin` to your `$PATH`?

[2019-10-09 12:14] tommyjcarpenter commented on #239
doh! $GOPATH/bin was not in $PATH, thanks for your quick help, and thanks for your work here, can't wait to give it a try!

[2019-10-09 12:14] #239 closed

[2019-10-17 10:53] inliquid opened #241 "Is it possible for revive to return a non-zero exit code when there are issues and zero if not?"
I'd like to run `revive` in some sort of automated test during build. However I found that it returns zero in any case. This makes it more complicated to check result of running the tool.

[2019-10-17 17:59] chavacava commented on #241
Hi @inliquid, in the configuration you can set

[code]
to the values you need.

[2019-10-17 18:03] #241 closed

[2019-10-17 18:04] mgechev commented on #241
@inliquid I'm closing the issue. Feel free to comment/open a new issue in case I misunderstand.

[2019-10-17 18:07] mgechev commented on #235
Maybe that's good enough? I'm trying to keep the configuration minimalistic and do not introduce any further configuration options/logic when it could be achieved with external tools.

I'll keep the issue open in case this is a pain that many people want to resolve.

[2019-10-17 18:09] mgechev commented on #236
It's not obvious what `default.toml` is without looking at the source code. Knowing it's what golint provides, is good enough for running `revive` without a config, but doesn't provide sufficient information on what would be the effect of the overrides.

I'd prefer if we keep this outside of the scope of the project, but let's collect more opinions.

[2019-10-17 18:10] mgechev commented on #129
@chavacava do you think we can close this?

[2019-10-17 18:47] #129 closed

[2019-10-17 20:21] chavacava commented on #236
The particularities of each code base and the software quality policies of each dev team makes me think that running revive with an unknown configuration (default.toml) is not without risk. For example new rules can produce a large number of "unimportant" failures or, the contrary, inadvertently skip some "important" checks.

Also notice that, usually, new rules are not added to the default config

[2019-10-17 20:38] chavacava commented on #235
Another concern with auto discovery is that you do not know precisely which configuration you are actually using (if you known which conf you are "auto discovering" then why not just point it explicitly?)

[2019-10-17 21:18] jpopadak commented on #66
Any chance of doing this now that Go 1.13 has been released? I believe the official Go Sum server does not hold the sums of all versions for a given branch (including master) and will return 410 GONE if it cannot find an old version sum in its database. It does, however, hold semver tags to a specific version.

[2019-10-17 22:33] delfick commented on #235
But it already finds a config in a home directory, which means developers can get different results from revive on their different computers based on whether they have one in home directory or not, whereas if one is in the repository, then they will have consistent results if they just say revive.

I'd also argue that auto finding configuration by looking up folders is a common pattern and less su

[2019-10-18 00:10] mgechev commented on #235
I'm more leaning towards dropping this feature.

This is more common for dynamic languages, I'd say. In Node.js it's a common practice. I'm not confident it's a good one.

[2019-10-18 00:15] mgechev commented on #66
Let me reopen.

[2019-10-23 00:25] tommyjcarpenter opened #242 "vimrc blurb blows up if ale is still being installed"
**Describe the bug**
If vim plugins like ale are not yet installed (eg open new vim for first time, and execute PluginInstall), the blurb in the instructions throws an error:

[code]

 I think just the presence in the vimrc is causing the panic? One way to fix it seems to be to install ale, then add that to my vimrc; however im setting this all up in a dockerfile, so the vimrc already exists when

[2019-10-23 19:05] mgechev commented on #242
Hey @tommyjcarpenter, thanks for giving revive a try with vim! I'm not sure if this is an issue in revive itself? Maybe it's more of an ale related problem that it'll be a better fit for their repo?

Let me know if you think otherwise so we can discuss further.

[2019-10-23 20:04] tommyjcarpenter commented on #242
hmm, I have other configurations for ale in my vimrc, but this is the only one that causes vim to barf. I agree the issue is likely related to ale, but I'm wondering whether there is another way to define this in the vimrc such that this doesn't happen. Basically, definitely not an issue with revive, but possibly an issue with the installation instructions for vim.

[2019-10-23 22:16] mgechev commented on #242
@ndyakov shared this config. Nedyalko, do you have any comments?

[2019-10-24 10:05] tommyjcarpenter commented on #242
normal usage probably wouldn't run into this btw; most people probably have ale installed, they see your great project, then they add the blurb to .vimrc, and it works. Or, they get the error, manually go past it to start vim anyway, go install ale, and then it works.
However, we use development environments in Docker, so I install vim, vim's plugins, and copy in a vimrc all while building a conta

[2019-11-07 13:47] jpopadak opened #244 "Ability to specify `exclude` or `include` file / directories in config"
**Is your feature request related to a problem? Please describe.**
I would love it if I could just point revive to a specific configuration file, and have it automatically pick up the `include` and `exclude` directories from that configuration file. I have some directories that are used for test helpers (multiple directories) with 50+ files and it is annoying to have to pass in the `--exclude` fla

[2019-11-07 18:33] mgechev commented on #244
Are you thinking of preserving the current semantics of `include`/`exclude` by getting all the files that match a pattern?

It's also interesting question what would be the result of combining a command line `include`/`exclude` with a config file. Do we override the config file or we get the union?

Override makes sense to me.

[2019-11-08 10:28] jpopadak commented on #244
I would like to preserve the semantics. Maybe allow both `exclude` and `include` to be an array of strings, similar to multiple `-exclude` `-include` flags?

Override makes the most sense to me also.

[2019-11-08 10:44] chavacava commented on #244
There is an `include` CLI flag? I think is not the case

[2019-11-10 05:59] mgechev commented on #235
Let's close this feature request for now and revisit if it's in a higher demand.

[2019-11-10 05:59] #235 closed

[2019-11-10 06:00] mgechev commented on #242
@tommyjcarpenter is there anything we can do on revive side here? Alternatively, I suggest to close the issue here.

[2019-11-10 13:44] tommyjcarpenter commented on #242
I suppose I don't have an idea for that currently; will close unless I think of something.

[2019-11-10 13:44] #242 closed

[2019-11-27 18:38] freedemster opened #245 "File Header rule panic with "index out of range""
**Describe the bug**
I got some files without comments and when 'revive' apply 'file-header' rule.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
We should not get panic.

**Logs**
[code]

**Desktop (please complete the following informatio

[2019-11-30 03:22] freedemster commented on #244
I think it's will be nice to have the ability to include/exclude files and directories for each rule. For example: disable some rules for several packages inside the project.

[2019-12-01 19:22] #245 closed

[2019-12-02 16:51] mgechev commented on #244
Since the main purpose of the linter is introducing consistency across the entire project, to me it looks like applying certain rules to a subset of packages would be defeating the goal.

[2019-12-02 18:02] jpopadak commented on #244
For our specific needs, we have a package that is just about wiring up dependencies. These few files we do not want to run the linter against. It would be even better if we could do on a per rule basis, because then we can enforce most rules but ignore a few for that given package.

[2019-12-02 18:08] chavacava commented on #244
You can disable revive at rule-level granularity by using [comment directives](https://github.com/mgechev/revive#comment-directives).

[2019-12-12 06:47] viveksinghggits opened #265 "[Question] some of the rules are not working by default"
So of the rules that are mentioned there in the documentation are not working be default. I was expecting them to work. If we take example of the go file

https://gist.github.com/viveksinghggits/6ca0aface93ebc90503e13dc77f3255c

I was expecting revive to break at line 27, not handling returned error.
The code after line is not reachable, I dont get any warning for that. `unreachable-code` should d

[2019-12-12 07:29] chavacava commented on #265
Hi @viveksinghggits, `revive` only applies those rules mentioned in the config file you pass in the command line through the flag `-config`. If there is no `-config` in the command line, `revive` will behave exactly as `golint` does.

[2019-12-12 07:36] chavacava commented on #265
The line number is lacking in your sentence but I guess you are referring to line 39: I'm afraid that `revive`is still not  capable to detect unreachable code in that situation (i.e. an always true condition that leads to a `return` statement)
Contributions are welcome!

[2019-12-12 08:08] viveksinghggits commented on #265
Hey @chavacava
Thanks for the explanation, but by looking at this rule `unreachable-code` I thought that it should complain that the code after line 39 is not reachable. And I can see the rule `unreachable-code` in the documentation.

[2019-12-12 09:43] chavacava commented on #265
@viveksinghggits, I've contributed the rule `unreachable-code`, the rule implementation is _sound_ (i.e. it does not return false positives) but it is _incomplete_ (it is not able to detect all the cases)

In **general**, detecting unreachable code is very hard (if not impossible) thus static analysis tools (like `revive`, or compilers) need to make a trade-of between completeness and soundness (a

[2019-12-12 15:02] #265 closed

[2019-12-14 08:09] chavacava opened #268 "New rule: cognitive complexity"
It could be nice to have a rule to check for Cognitive Complexity (see [Cognitive complexity - A new way of measuring understandability](https://www.sonarsource.com/docs/CognitiveComplexity.pdf)), a complexity measure complementary to cyclomatic complexity.

[2019-12-17 21:15] #268 closed

[2019-12-20 14:28] olivierperes opened #280 "Bare return detected in an anynomous function inside a function only if the latter function’s return value is named"
**Describe the bug**
With `[rule.bare-return]` on, Revive emits an error message in the case detailed below, and not in another case, also detailed below, that I think should be equivalent.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
No

[2019-12-20 17:28] chavacava commented on #280
Hi @olivierperes, thanks for the bug report.

It is a sort of scoping problem: the rule is interpreting the first `return` as been a `return`of the `f` function and not of the function literal.

I'll try to fix it this week.

[2019-12-20 19:46] chavacava commented on #280
@olivierperes you can check the PR #282 that aims to fix this bug

[2019-12-21 20:17] #280 closed

[2019-12-22 07:40] olivierperes commented on #280
Thanks!

[2019-12-25 16:41] PaperMountainStudio commented on #66
The lack of releases is also stopping packaging for distributions.

[2019-12-28 09:36] chavacava commented on #66
@mgechev what do you think about tagging and releasing v1.0.0 ?

[2019-12-28 20:01] mgechev commented on #66
Sure, let me create the v1.0.0 tag and push it.

[2019-12-28 20:09] mgechev commented on #66
https://github.com/mgechev/revive/releases/tag/v1.0.0

[2019-12-28 20:09] #66 closed

[2020-01-03 09:27] PaperMountainStudio commented on #66
Thanks

[2020-01-07 03:08] bpeake-illuscio opened #290 "Pass rule.deep-exit on TestMain function"
**Describe the bug**
When `[rule.deep-exit]` is being enforced, calling `os.Exit()` in the `TestMain()` function is flagged as an error.

The official go documentation for testing explicitly makes a call to `os.Exit()` at the end of `TestMain()` (see below), so it seems intuitive that it should be added to the whitelist of functions allowed to call os.Exit() with the rule active.

**To Reproduce**

[2020-01-07 22:03] chavacava commented on #290
Hi @bpeake-illuscio, thanks for filling the issue. Please check if the PR #294 behaves as you expect.

[2020-01-07 22:46] #290 closed

[2020-01-17 20:50] PaperMountainStudio commented on #66
https://github.com/void-linux/void-packages/pull/18004 😉

[2020-01-30 14:21] horacimacias opened #328 "Unable to install following readme instructions"
**Describe the bug**
I'm trying to install revive following the readme instructions:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. Step 1 fails

[code]

**Expected behavior**
Install to succeed

**Desktop (please complete the following information):**
 - OS: OSX Catalina
 - Version of Go: 1.13.1

[2020-02-01 06:46] Shailesh1994 opened #330 "Question about revive"
I'm trying to build an unrelated go package, I'm getting this error:

go: github.com/mgechev/revive@v0.0.0-20190809155814-a5c15acc084b requires
	github.com/mgechev/dots@v0.0.0-20190603122614-18fa4c4b71cc: invalid pseudo-version: does not match version-control timestamp (2018-12-28T16:47:30Z)

I'm on go 1.13, ubuntu 18.04, I don't know if this is a problem with the software download being corrupted

[2020-02-01 06:47] Shailesh1994 commented on #330
Never mind, it was a ME problem I figured it out.

[2020-02-01 06:47] #330 closed

[2020-02-08 10:08] chavacava commented on #328
Hi @horacimacias thanks for filling the issue. Even if I don't have access to the same platform, I will try to reproduce.

[2020-02-08 10:25] chavacava commented on #328
I'm not able to reproduce on a linux distribution

[code]

[2020-02-08 10:44] chavacava opened #336 "New rule: warn when converting int into string with string(int)"
`go vet` added a rule to warn on [string(int) conversion](https://github.com/golang/go/issues/32479), I think we could add the same rule in `revive`

[2020-02-08 14:19] horacimacias commented on #328
that's weird; I cannot reproduce anymore 😕

thanks for checking and sorry for the confusion.

[2020-02-08 14:19] #328 closed

[2020-02-17 16:03] ernestoalejo opened #344 "Cannot install using Go modules"
**Describe the bug**
Cannot install inside a project when it uses Go modules.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I am installing it as a module to run it inside a multi-tool binary with one additional custom rule. I am only interested in the `lint`, `formatter` and `rule` subpackages to create a new custom binary.  Forking is not an option for us becau

[2020-02-18 17:38] #336 closed

[2020-02-20 10:56] fgeckeler opened #347 "Support for regex/glob in -exclude"
Hi all,

**Is your feature request related to a problem? Please describe.**
I have a lot of generated files in my workspace which all end with '_generated.go' I would like to exclude them from revive/lint.

**Describe the solution you'd like**
Passing a regex or a [glob pattern](http://man7.org/linux/man-pages/man7/glob.7.html) to revive: `revive -exclude aWord` or `revive -exclude *_generated.go`

[2020-02-20 23:03] mgechev commented on #344
@ernestoalejo we depend on `blang/semver` only in one of the fixtures. It should be fine for us to drop this dependency completely.

[2020-02-20 23:09] mgechev commented on #344
@ernestoalejo [this PR](https://github.com/mgechev/revive/pull/349) should fix the issue.

[2020-02-21 17:46] jBugman opened #350 "`rule.unhandled-error` does not work for nested methods"
**Describe the bug**
Consider some abstract function/method `ReturnsError() error`
There are three general cases how it could be called
1. `ReturnsError()` — catches ok
2. `struct.ReturnsError()` — catches ok
3. `struct.field.ReturnsError()` — ignored by revive

**To Reproduce**
[code]

**Expected behavior**
Rule should work for all described cases.

[2020-02-24 19:35] chavacava commented on #350
Hi @jBugman, thanks for reporting this issue. I will work on it this week.

[2020-02-24 19:50] chavacava commented on #350
Hi @jBugman, I've tryed to reproduce the bug with

[code]

But `revive` correctly catches the last case

[code]

[2020-02-24 20:23] jBugman commented on #350
Hi, @chavacava as it turns out that example works for me also. But I modified it to something more realistic and it doesn't anymore. Looks like imported structures break something.

**main.go**
[code]

**pkg/pkg.go**
[code]

[code]

[2020-02-25 07:16] bernhardreisenberger opened #352 "New Rule: range-val-address"
Hallo.

**Is your feature request related to a problem? Please describe.**
Taking the address of the "loop variable" when ranging over a slice is a sneaky mistake, a developer can make. e.g.: https://play.golang.org/p/d6h81KqZiCa

**Describe the solution you'd like**
Lint assignments in loops, where the name on the rhs matches the "loop variable" and is prefixed by &

**Additional context**
i have

[2020-02-25 07:21] #344 closed

[2020-02-25 21:14] chavacava commented on #347
Hi @fgeckeler, did you try to exclude them by using the `ignoreGeneratedHeader` config option (see [here](https://github.com/mgechev/revive#configuration))?

[2020-02-25 22:41] chavacava commented on #350
It seems that the problem is not related to imported structures, `revive` behaves as expected for the following code:

[code]

[2020-02-26 08:10] fgeckeler commented on #347
Hi @chavacava,

we did not use generated headers. I added them now to our generator template.
I still think that excluding filename patterns could be really useful but for my use case the issue is solved.

Thanks for the response and best wishes
Florian

[2020-02-26 08:10] #347 closed

[2020-02-26 17:18] akerl-unpriv opened #355 "modifies-parameter flags on _ (ignored) parameters"
**Describe the bug**
The modifies-parameter rule flags "modification" of the `_` variable, despite the fact that this indicates ignoring that parameter. This causes issues in functions which ignore an input parameter and then drop a return value from a call.

**To Reproduce**
Steps to reproduce the behavior:

revive.toml:

[code]

main.go:

[code]

Run:
[code]

**Expected behavior**
No warning is

[2020-02-26 17:59] chavacava commented on #355
Hi @akerl-unpriv, thanks for reporting this problem. I'll fix it shortly.

[2020-02-26 18:32] chavacava commented on #355
@akerl-unpriv could you check if the PR #356 solves the problem? Thanks.

[2020-02-26 20:32] #355 closed

[2020-02-26 20:33] #352 closed

[2020-02-27 18:54] chavacava opened #358 "Spurious dependencies from test fixtures"
**Describe the bug**
The issue #344 root cause was a dependency introduced by one of our test fixture files: go tooling includes as `revive` dependencies all packages imported by the fixture files. In other words, imported packages in fixture files are added as dependencies in `go.mod`

**To Reproduce**
Steps to reproduce the behavior:
1. add an exotic dependency in a fixture file
2. build `revive

[2020-03-02 19:12] #358 closed

[2020-03-05 14:43] josemiguelmelo opened #364 "Run revive over a project with an invalid go source file"
**Describe the bug**
When you run Revive on a project that has an invalid go source file, it fails because it can't read the AST.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an invalid go source file, such as:
[code]

2. I run it with the following flags & no configuration file:
[code]

**Expected behavior**
Instead of failing the entire analysis, Revive could add the AST parsing

[2020-03-07 11:23] chavacava commented on #364
The current behavior is that of `golint`.

[code]

[2020-03-07 12:24] josemiguelmelo commented on #364
Is it required to have the exact same behaviour as `golint`? I think it would be nice to at least have the option to not fail when the AST is invalid in a file. I mean revive doesn't need compilation to analyse the code, so this invalid AST could become a revive Failure instead of finishing the process with exit status 1.

[2020-03-07 16:07] chavacava commented on #364
Hi @josemiguelmelo, thanks for filling the issue.
Does revive needs to behave as golint? I think yes because it is announced as a _

[2020-03-07 18:46] josemiguelmelo commented on #364
Sure, sure. That's why I was saying to add this incorrect file to the final results as a Failure, without failing the entire analysis. However, it gets a slightly different behaviour than the golint.

Maybe the command line flag would be nice. With it, revive continues with same behaviour as golint, unless the user specifically uses the flag.

[2020-03-08 21:34] mgechev commented on #364
Although configurability allows a level of flexibility, over time it can get hard to follow what's the combined behavior of different flags.

If we decide to introduce this feature I'd prefer if we enable it by default for everyone. As @chavacava mentioned, ideally we want to keep compatibility with golint, but we can continue the discussion and collect more opinions.

[2020-03-09 15:06] josemiguelmelo commented on #364
I agree that it can get hard over time. It would be just a way of continuing with the same behaviour as golint by default, except if the user specifies it.

[2020-03-28 23:34] 6543 opened #378 "cant get revive by "go get""
**go version go1.14.1 linux/amd**

return error if execute: `go get -u github.com/mgechev/revive`

error:
[code]

[2020-03-30 03:52] mgechev commented on #378
I can't reproduce it with the latest master. I'm using macOS though, unfortunately, I can't verify the behavior on linux.

[2020-03-30 09:32] JiriSko opened #381 "Application version support"
Hi, thanks for this great tool.

Would be possible to add application version support in standard way? I mean to add `--version` CLI option which shows revive version.

[2020-03-30 15:48] chavacava commented on #378
Hi @6543,

I can not reproduce on Linux:

[code]

[2020-04-09 14:27] rekby opened #384 "Include flag"
**Is your feature request related to a problem? Please describe.**
I work with very large monorepo, which entire placed in gopath. Only small part of repo is go code. Smaller part - go code need for me. Now vscode take a lot of time when try scan full repo by default and I have hundreds exclude rules.

**Describe the solution you'd like**
I want "include" flag - for describe only packages, what I

[2020-04-09 16:44] mgechev commented on #381
Maybe `revive -help` can show the current SHA. In general, I am hoping us to not have to stick to a particular version. Instead, revive is supposed to be an "evergreen" tool that anyone can use the last version of. That's one of the reasons I was originally against introducing semver to the project.

[2020-04-09 16:44] mgechev commented on #378
Looks like the problem is not reproducible. Closing this issue.

[2020-04-09 16:44] #378 closed

[2020-04-09 16:50] JiriSko commented on #381
That would be helpful. I just want to see in my pipeline which version I'm using and this would be enough.

[2020-04-09 16:51] mgechev commented on #384
You can specify which packages you want to lint by setting the arguments of the binary:
[code]

This will be interpreted as "include github.com/mgechev/revive". That's what revive uses under the hood https://github.com/mgechev/dots.

[2020-04-09 16:54] mgechev commented on #236
@chavacava this makes sense. Let's close for now, we can revisit at a later stage.

[2020-04-09 16:54] #236 closed

[2020-04-09 23:54] jpopadak opened #386 "Incorrectly identifies channel draining as "empty code block""
**Describe the bug**
`revive` incorrectly identities channel draining as an empty code block and suggests to remove it.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

A really bad example, but in our scenario, we have many routines reading from `processChan` whe

[2020-04-10 05:34] mgechev commented on #386
Looks like we should type check to verify that we're dealing with a channel. This would slow down the rule though, but seems like the right way to go.

[2020-04-10 12:47] elgs opened #388 "How can I disable receiver-naming check?"
I don't agree that I should not use this or self as receiver. The reason I use revive is because there is no way to disable this shit in golint. I'm not sure if I can disable it in revive? Thanks.

[2020-04-10 12:51] elgs commented on #388
It seems it works by removing this line [rule.receiver-naming] from the config file. Thanks.

[2020-04-10 12:51] #388 closed

[2020-04-15 12:56] rekby commented on #384
It it my mistake of understand documentation of vscode - I read as about it linters for autocomplete. But it isn't.

[2020-04-15 12:56] #384 closed

[2020-05-01 10:29] chavacava opened #404 "new rule: late-return"
This new rule is inspired by [this question on twitter](https://twitter.com/francesc/status/1255620804705808384):

[code]
Should be:
[code]
Contrary to other `revive` rules this is more a style-related rule. I'm not sure if it has its place in `revive`

[2020-05-03 21:53] mgechev commented on #404
I think it makes sense to have it.

[2020-05-08 18:14] #404 closed

[2020-05-08 20:37] chavacava opened #410 "new rule: identical-branches"
An `if-then-else` conditional with identical implementations in both branches is an error.
I've developed a prototype of a rule that detects such cases (testing the rule against real code has [already found bugs](https://github.com/gogo/protobuf/issues/687))

[2020-05-09 15:31] chavacava opened #412 "new rule: unconditional-recursion"
Unconditional recursive calls will produce infinite recursion, thus program stack overflow.
Even if it seems that the frequency of such errors is low, autocompletion functionality of IDEs facilitates them. A typical case is:

[code]

[2020-05-09 23:51] peake100 commented on #244
+1 on this. I have a CI/CD template that runs the linter for all my libs, so there isn't a great way to specify project-specific ignores right now.

[2020-05-09 23:58] peake100 opened #414 "Revive not ignoring gRPC-generated files"
**Describe the bug**
Hi! I have been using revive for a while now and love it! I recently started exploring gRPC and ran into an issue where revive is not ignoring the generated files, even though the setting is turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[2020-05-10 09:01] chavacava commented on #414
Hi @peake100, thanks for filling the issue.
Did you try setting `ignoreGeneratedHeader` to `false`?

[code]

[2020-05-10 10:38] chavacava commented on #386
For the sake of rule simplicity, I think these corner cases should be handled by disabling the linter in the concerned lines.
Anyway, I've pushed PR #415 with a fix based in type information.

[2020-05-10 14:09] chavacava commented on #350
The rule needs type information to identify functions returning values of type error, that is why at the beginning of the rule execution over a file, it performs type-checking on the package.
Paradoxically, we do not check for potential errors from the call to `file.pkg.TypeCheck()` therefore the rule will apply without type information thus no failures are detected on those functions for which no

[2020-05-10 16:47] mgechev commented on #410
Really cool example with `protobuf`!

[2020-05-10 17:43] #410 closed

[2020-05-10 23:16] peake100 commented on #414
Thanks, that fixed it. I think my brain automatically interpreted that option as ignoring files with generated headers, not ignoring the headers and thereby processing the files.

Should have read the docs more carefully. Thanks for your quick response!

[2020-05-10 23:16] #414 closed

[2020-05-11 16:38] martin-sucha opened #416 "panic: unable to type check"
**Describe the bug**
 We've seen a transient panic in revive in our CI job (it did not occur when the job was retried).

[code]

https://github.com/mgechev/revive/blob/1da965b65f8a0e3aa83cd9d6d38153a32f308960/rule/empty-block.go#L23

**To Reproduce**

I couldn't reproduce the issue - it worked when I retried the job. Could it have been caused by some network issue when getting the package from our

[2020-05-11 18:29] chavacava commented on #416
Hi @martin-sucha, thanks for filling the issue.
Since yesterday, the rule `empty-block` needs to type check the code before analyse it (see #386)
When type check fails, we do not have other information than the one we print in the error message.

To alleviate the problem, we could:

1. avoid the panic, add a failure in the output of `revive` (see #364) and do not analyse the file
2. same of above

[2020-05-13 13:32] martin-sucha commented on #416
Okay, so I've seen another instance of the panic, indeed seems to be related to network since an unrelated job failed at the same time that clearly shown network error.

Could you please confirm whether the type check actually downloads data from network or not? If it doesn't I need to check whether we have a bug in other parts of the CI job (which should have reported it instead). If it does, I'd

[2020-05-13 17:16] mgechev commented on #416
I'd be surprised if the type checker uses network resources, this would introduce large latency.

I'm thinking if the completeness we get with type checking is worth it the performance penalty. Maybe instead of solving https://github.com/mgechev/revive/issues/386, we can just reduce the confidence level.

@chavacava @martin-sucha what do you think?

[2020-05-13 19:55] chavacava commented on #416
@mgechev, I was thinking on something like that

If type-checking is not OK we can go on but reducing the confidence level of failures at `for-range` statements

[2020-05-13 19:59] chavacava commented on #416
@martin-sucha wrote

It is a coherence problem we need to address

[2020-05-14 16:48] tymonx opened #418 "No colors output for non TTY environment like for example GitLab CI"
**Describe the bug**
No colors output for non TTY environment like for example GitLab CI. The [kyoh86/richgo](https://github.com/kyoh86/richgo) tool have the same issue but it provides the `RICHGO_FORCE_COLOR` environment variable to force colors output to non TTY. The `revive` tool should have something similar.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u git

[2020-05-14 20:33] tymonx commented on #418
I have added support for the `REVIVE_FORCE_COLOR` environment variable in this PR #420. It will force colorizing for no TTY environments. It is similar to the `richgo` project that use `RICHGO_FORCE_COLOR=1` for that.

Tested:
[code]

The `TERM` environment variable is handled internally by the `fatih/color` package. It disables colorizing when `TERM=dumb` by setting the global `color.NoColor` boo

[2020-05-14 20:35] tymonx commented on #418
@mgechev can you look into that? It is OK?

[2020-05-14 21:49] #418 closed

[2020-05-15 20:08] #412 closed

[2020-05-18 11:36] mrVanboy commented on #416
Some more information from the investigation:
1. I pulled a docker image of the job from the CI (it has only `go mod download`).
2. Installed revive with `GO111MODULE=off go get -u -v github.com/mgechev/revive`.
3. Run `revive -exclude vendor/... -formatter friendly -config .revive.toml ./...`

I've done 3rd step with and without network connection by applying `docker network disconnect bridge CON

[2020-05-18 18:43] mgechev commented on #416
@chavacava I'd suggest to revert the fix which introduced type checking and reduce the confidence level. Looks like there were fewer cases when folks had issues with channel draining compared to the regression. WDYT?

[2020-05-19 20:26] chavacava commented on #416
@mgechev I'm OK with reverting and reduce confidence (to how much?)
Another option is: try type checking, if fails apply the rule by lowering the confidence only on issues related to `for-range` (the single case where type info is used)
Let me know what do you prefer, I'll try to fix it tomorrow.

[2020-05-20 16:27] mgechev commented on #416
The first option seems more deterministic. Alternatively, we can also match the most common channel training AST pattern, and still reduce with `0.1`.

[2020-05-20 18:12] chavacava opened #424 "extend testing machinery to allow more precise cheks"
Rules are tested through a tiny mechanism where rules are executed on source files with annotations describing the expected failures.
For example:

[code]

The test machinery will check if the rule produced a failure at the line annotated with `// MATCH` and will also check that the message of the failure matches that of the annotation.

This approach works fine for almost all cases but it has its

[2020-05-20 19:05] #416 closed

[2020-05-20 19:07] mgechev commented on #386
@jpopadak, because of some regressions (both stability and performance), we reverted the fix. It's still possible to recognize this pattern without type checking. This is something we'd investigate in the future.

[2020-05-21 07:30] martin-sucha commented on #416
I see you removed the type check, which will fix the issue with panic.

However, the type checking might still be failing in the other rules as well, the error is just suppressed, so it would be good to find the root cause of this.

I managed to reproduce the panic (on version of code before you removed it from the empty-block rule) with just revive repo and it seems to happen more often than on t

[2020-05-21 07:36] martin-sucha commented on #416
Also, I found out that there is a code path in https://github.com/golang/go/blob/dfd613e0e4fd93ef945e9fbd6d42b79bcaf73905/src/go/build/build.go#L1017 that spawns `go` subprocess, so I tried to add a global mutex around `config.Check` call (package.go:104), but that did not prevent the panic from happening.

[2020-05-21 08:08] iiinsomnia opened #427 "Warn on unused variables, functions and methods"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-21 14:30] chavacava commented on #416
@martin-sucha thanks for your analysis and the tooling.
I've checked-out your branch and made some tests and, I have both, good and bad news. The good one: I think I've found (accidentally) a fix for the problem. The bad new: I do not yet understand the "fix"
Trying to get more information about the error, I've modified the configuration of the type-checker to:
[code]
Then I've used your script to

[2020-05-22 11:40] chavacava commented on #427
@iiinsomnia detecting unused symbols requires to analyse packages as a whole. Currently `revive` applies rules file by file thus it can't determine if a symbol is not used.
Some time ago we discussed to extend `revive`'s analysis framework to allow developing _package wide_ rules (see #146

[2020-05-22 11:57] chavacava commented on #416
Well further investigations show that setting `Config` with an `Error` function that does not include a call to `panic` will make type-checking to fail, contrary if the function calls `panic` the type-checking goes on.

[2020-05-22 12:19] martin-sucha commented on #416
Hmm, the behavior you described above is caused by

[code]

in `revive/lint/package.go` `check()` - if the value that was recovered is anything else than an `error`, err is set to nil and the panic is recovered. (you called `panic` with `err.Error()`, which is a `string`, not an `error`)

If I change it to:

[code]

then the panic is reported correctly.

[2020-05-22 12:23] martin-sucha commented on #416
Based on git history, the recover was added there to fix #59

[2020-05-22 19:20] chavacava commented on #416
A good example on why it is never a good idea to recover from panics :)

I continue trying to find the root of the problem.
This issue golang/go#31821 suggest that this kind of problems could be related with the lack of support of modules in `go/build`.

The importer we use in the checker configuration (from `gcexportdata.NewImporter`) is based on `go/build`, its doc says:

I'll follow the recomme

[2020-05-23 07:55] iiinsomnia commented on #427
I see, thanks!

[2020-05-23 15:39] chavacava commented on #427
@iiinsomnia I've just made public a [repository](https://github.com/chavacava/gusano) with a tool that detects unused symbols. The tool is something I use to experiment with new features for `revive` (package-wide analysis for example) therefore is far to be perfect and is not as ergonomic as `revive`.

[2020-05-24 18:55] chavacava opened #429 "rule warning on defer gotchas"
It could be useful to have a rule that warns on [`defer` gotchas](https://blog.learngoprogramming.com/5-gotchas-of-defer-in-go-golang-part-iii-36a1ab3d6ef1)

[2020-05-25 03:27] iiinsomnia commented on #427
OK！I will try it.

[2020-06-08 16:40] #429 closed

[2020-06-18 11:21] nano-adhara commented on #381
+1 golint doesnt provide any information and i was hoping for this tool to provide such information on top of golint

[2020-07-15 20:43] chavacava opened #442 "Warn on exported symbols within private scopes"
In GO a symbol is exported (outside a package) if its name begins with a capital letter.
Declaring an exported symbol within a private scope is useless, the symbol is not visible outside its scope ([example](https://play.golang.org/p/CWKw5KWKj3X)) Even if these kind of declarations are not a bug, they might difficult program understanding.

`revive` could warn on such cases

[2020-07-18 16:55] hbt opened #444 "warn when passing a pointer explicitely and method receiver is not a pointer receiver"
**Is your feature request related to a problem? Please describe.**

[code]
This is an issue when an API changes underneath you. Making a call to an API, passing the pointer with "&" then later API method changes from pointer receiver to value and there are no warnings.

Or in my case, using the IDE to implement the interface "dst.Visitor" but IDE generated code didn't use a pointer receiver and no

[2020-07-19 12:54] chavacava commented on #444
Hi @hbt, thanks for the rule proposal.
Some questions/comments:
1. Why passing a pointer to a non pointer receiver is an error? (GO intentionally handle this case)
2. When you say "explicitly" you mean cases like the following are not in the scope of the rule?
[code]
but
[code]
it is in the scope of the rule?

3. The file-scoped nature of analysis in `revive` might make this rule not very effectiv

[2020-07-19 15:10] hbt commented on #444
2. Yes. Explicitly passing by reference with "&" when it is 100% unnecessary should be a code smell warning or potential bug (i.e did you mean to do X?)

3. Understood. I can see how the goal is to have high value linters to minimize compute time so people keep using revive in pre-commit hooks (majority of my usage).
But there is also a case for using revive and other linters as a debugging tool.

[2020-07-22 23:17] #442 closed

[2020-07-24 14:48] jwmach1 opened #446 "Rule specific include and exclude patterns"
**Is your feature request related to a problem? Please describe.**
Similar to #244, and discussed in [those comments](https://github.com/mgechev/revive/issues/244#issuecomment-560509840)
A family of micro services that are contained in one repository. Some code is specific to individual services, other packages are shared/used for multiple services. To be specific, rules like `[rule.exported]` cou

[2020-08-05 13:03] chavacava opened #451 "Rule cognitive-complexity panics in presence of functions w/o body"
**Describe the bug**
`cognitive-complexity` rule panics when analysing functions without body

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

[code]

**Expected behavior**
`revive` must not panic, the rule must calculate a cognitive complexity of 0 (zero) for the

[2020-08-05 16:25] #451 closed

[2020-08-13 23:07] mgechev commented on #446
What about having different configuration files for different parts of the project? This way you can enable a subset of them in particular directories.

I believe both approaches will have comparable ergonomics:
- More configuration & code to maintain
- Inconvenience of having an extra config file

[2020-08-14 12:05] jwmach1 commented on #446
Yes, I also considered the extra configuration file approach in the **Describe alternatives you've considered** section above. Do you envision the files are stand-alone or cumulative? I earlier only thought of the cumulative approach where config files in child directories build upon the rules found in higher directories. In this cumulative approach I saw rules needing to be added and removed.  Ho

[2020-08-14 22:18] mgechev commented on #446
They are stand-alone for the reasons you pointed. Trying to keep the feature set orthogonal to reduce the amount of flags and (potentially) conflicting options in the future.

[2020-10-06 10:30] chavacava opened #470 "Fails to parse valid toml configuration"
**Describe the bug**
`revive` fails with an error when executed with certain configurations, for example:

[code]

The output error message is from the toml parsing library:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]
[rule.add-constant]
  arguments = [{maxLitC

[2020-10-29 13:11] #470 closed

[2020-11-09 08:58] ocavue opened #481 "Unable to find the config file in VSCode"
**Describe the bug**

We keep the revive config in the project root. However, we are unable to make revive to read this config file in vscode.

Based on [this comment](https://github.com/Microsoft/vscode-go/pull/1699#discussion_r192266394), revive should support vscode's `${workspaceFolder}` variable, but it doesn't work as expected.

**To Reproduce**

1. Clone <https://github.com/ocavue/revive_vs

[2020-11-09 09:14] ocavue commented on #481
Just found that I need to use the following way to config vscode. I don't know why there's a difference between the two way. But since my issue is solved, I will close this issue.

[code]

[2020-11-09 09:14] #481 closed

[2020-11-20 08:22] jasonkylelol opened #484 "consider add funlen as new rule"
https://github.com/ultraware/funlen

[2020-11-20 09:19] chavacava commented on #484
There are already some rules of that kind (eg line-length-limit) so why not.

[2020-11-21 04:08] jasonkylelol commented on #484
it's different. line-length-limit warns when a line have characters over limit num. funlen warns when a function has too many lines.

[2020-11-21 18:57] chavacava commented on #484
Hi @jasonkylelol, yes I understand that the goals of these rules are different, that's why I've said that I do not see any problem in adding that about function length.

[2020-11-22 13:06] mgechev commented on #484
Sounds good to me.

[2020-11-30 13:42] mariadb-zdraganov opened #486 "How to setup rules for camelCase enforcement?"
**Describe the solution you'd like**
Option to enforce camelCase usage for variable and function names.

[2020-12-17 09:56] inhuman opened #489 "Revive docker image"
**Is your feature request related to a problem? Please describe.**
No docker image for CI

**Describe the solution you'd like**
Create please docker image for use in CI

[2020-12-17 17:13] jniedrauer opened #490 "Indirectly imported types have "invalid type""
If a function returns a type declared in another package, you cannot determine the type in a linter rule. after running TypeCheck() and looking at the entry in TypesInfo.Defs, it has "invalid type".

A minimal reproduction would look like this:

a/a.go:
[code]
example.go:
[code]
If you lint this file with a linter rule like the following:

[code]

You will get this output:

[code]

This seems to b

[2020-12-18 14:31] mgechev commented on #490
Revive currently does not perform cross-fire analysis. We've discussed it in the past and it's a trade-off between completeness and performance. What's your use case?

[2020-12-18 16:10] jniedrauer commented on #490
I'm trying to write a linter rule that detects leaked connections; for example, leaked file descriptors or leaked HTTP request bodies. But type checking like this only works for files that call the core library directly. For files that call wrapper functions, types do not propagate and so it can't be done with revive.

[2020-12-18 21:32] mgechev commented on #490
I remember @chavacava had fork of revive which allows cross-file type checking, but I can't seem to find it.

I'll be curious what's the performance penalty. I suppose it'll be significant because we'll no longer be able to lint individual files in separate go routines independently.

[2020-12-18 23:09] jniedrauer commented on #490
Interesting. I guess I can see how that might have a performance impact, since the linter would need to recursively import all the imports of all of its imports. I don't think this would be slower than compiling though, and I would expect that the importer in golang.org/x/tools/go/gcexportdata is already doing that. If I'm reading it correctly, lint.Package.TypeCheck() uses a mutex to check types

[2020-12-20 14:02] chavacava commented on #490
Hi, sorry for the late response.

You can check [gusano](https://github.com/chavacava/gusano) a sandbox project I've created to investigate package-wide analysis.

[2021-01-21 13:12] renovate[bot] opened #497 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:58] #497 closed

[2021-01-23 01:15] nvuillam commented on #381
@mgechev I also need --version for [Mega-Linter](https://nvuillam.github.io/mega-linter/) , please :)

[2021-02-02 04:08] Groxx opened #498 "string-of-int missed a cast that `go vet` caught"
## The bug

I just started hooking up revive, and results are very good so far!  Many thanks for this project :)
When adding the `string-of-int` check, I toyed around with the equivalent `go vet -stringintconv` check, and found a discrepancy that seems.... odd.

Undoing a fix in this commit reproduces it, the `shardIDstr := string(shardID)` line below is not found:
[code]
Since the same variable i

[2021-02-06 09:29] chavacava commented on #498
Hi @Groxx, thanks for filling the issue (and sorry for the late response)

Il will study the problem this weekend but at a first glance I suspect that the rule does not have enough type information to deduce that the function `common.WorkflowIDToHistoryShard` returns an `int` therefore the function `isIntExpression` of the rule
[code]
returns `false`...
A couple of `println` in the `isIntExpressio

[2021-02-06 12:24] chavacava commented on #498
Hi again @Groxx , I've reproduced the bug and after analysis, I confirm that the problem root is the lack of type information about the variable `shardId`.
As you can see in the following debug session, there is no type information attached to `shardId` therefore the function `isIntExpression` conservatively returns `false`.

![no_type_info](https://user-images.githubusercontent.com/25788468/10711

[2021-02-07 02:57] Groxx commented on #498
It's still kinda strange that it can't figure that type out though, as it's a direct import to a `func WorkflowIDToHistoryShard(workflowID string, numberOfShards int) int {`...

Anyway.  I'm not entirely sure what you mean by the "evolve the type-checking mechanism in order to use the latest building libraries of the language" - I don't suppose there's a github issue or something around it already

[2021-02-07 03:41] Groxx commented on #498
Ah hah.  I can make a minimal repro with two packages, like below.  Seems like type information isn't propagated?
[code]
If that's known: https://pkg.go.dev/golang.org/x/tools/go/analysis can at least make that kind of lookup work, I've built tools with it in the past.  It's not really suitable out-of-the-box except for "toys" due to how its runner calls `os.Exit`, but the approach is sound.

[2021-02-07 11:03] chavacava commented on #498
`revive` collects type information by using the `Config.Check` function from the `go/types` library . This function, with the advent of modules, was somewhat deprecated in favor of `go/packages` in the context of building analysis tools.
We need to replace the use of `Config.Check` with functions from the `go/packages` (e.g. `Load`) that will provide inter-package type-checking. This replacement i

[2021-02-26 17:41] grongor opened #500 "Don't consider blank import of "embed" (Go 1.16) an error"
I don't think that it should be necessary to comment on a blank import of "embed" everywhere, as the "why" is obvious.

Of course, it only makes sense to ignore this import if the embed is actually used in the file.

[2021-03-06 13:04] #500 closed

[2021-03-16 17:40] Clivern commented on #381
I can do this if my PR to add goreleaser got approved/released, since goreleaser already provide these info from git as ldflags. so it is just a matter of adding these vars to `main.go` and create a command to return them.

[code]

[2021-03-20 22:43] #244 closed

[2021-03-20 22:45] #484 closed

[2021-03-21 08:43] chavacava commented on #381
@Clivern #503 is merged ;)

[2021-03-21 12:37] Clivern commented on #381
yeah, i will take care of this request then @chavacava

[2021-03-23 19:45] #381 closed

[2021-04-06 21:43] very-amused opened #510 "New rule: check string literals against regular expressions"
In some Go programs, string literals will be primarily used for messages that will face users (such as error messages sent from an API). In these cases, it makes sense to have the ability to enforce a specific kind of formatting for these string literals, such as forced (un)capitalization, forcing or forbidding the usage of certain punctuation, etc. This enforcement can be achieved with the `strin

[2021-04-07 19:13] chavacava commented on #510
Hi, thanks for filling the issue (and the PR)
I've been confronted with this kind of problems with string literals (e.g. with error messages) and I've finally decided to use custom `revive` rules because a generic rule like `rule.string-regex` will generate a lot of _false positives_. For example, running the proposed rule with the example configuration on the [golang/tools](https://github.com/gol

[2021-04-10 01:38] very-amused commented on #510
I think scoping rules to specific method calls like you said is a really good way to accomplish this. I could add a method/function name as the first value in each argument, so `["/^([^A-Z]|$)/", "must not start with a capital letter"]` would become `["fmt.Errorf", "/^([^A-Z]|$)/", "must not start with a capital letter"]`. If this is an acceptable solution to make the rule more precise, I can impl

[2021-04-10 10:28] chavacava commented on #510
We can try your proposition and see if the rule is useful (easily configurable, spot problems with high confidence, and avoid false positives) in real cases.

Two details:
1) because the rule will check string literals only in function calls, a renaming of the rule might be necessary
2) the configuration could accept a slice of function names (for example `[["fmt.Errorf","errors.New"], ...]`)

[2021-04-18 16:35] #510 closed

[2021-04-30 09:52] bernhardreisenberger opened #513 "range-val-address: does not detect specific case"
**Describe the bug**
range-val-address does not detect an address reuse

**To Reproduce**
see https://play.golang.org/p/Dp4jBn9d0Ci for details.

**Expected behavior**
Revive should tell the user that this code is bad

**Additional context**
pull request ready.

[2021-05-03 12:22] #513 closed

[2021-05-14 01:23] Zamiell opened #517 "Expose the ability to enable all rules"
Hello, and thanks for the linter. I have a feature request.

Right now, it appears that the only way that users can enable all rules and disable one rule is to manually specify every single existing rule into the config except for the one specific one that they don't want.

This is tedious, and not very future proof.
Meaning that when you guys add a new useful rule, I don't want to have to manuall

[2021-05-14 01:45] Zamiell opened #518 "Requesting golangci-lint documentation in README.md"
From #162, I am reading that `revive` is intended to be its own standalone-linter separate from golangci-lint.

With that said, I suspect that most new `revive` users will be using `revive` as a drop-in replacement for `golint` *using* golangci-lint, which is already the most popular Golang linter framework.

Currently, there is no mention of golangci-lint in the README.md file. After trying out t

[2021-05-14 10:10] chavacava commented on #518
Hi @Zamiell, thanks for the request.

Yes, of course. We can imagine a _Linter aggregators_ sub-section just after _Continuous integration_ describing how to configure `revive` under `golanci-lint`. If you can open a PR we will be glad to accept it.

[2021-05-14 11:40] chavacava commented on #517
Hi @Zamiell, thanks for filling the issue.

This is a subject that we had already talked about (for example #104 and #236) but for which we were not able to find a nice solution.

There are some aspects to take into account:
1. some rules need config (they will fail if not provided)...
2. ...using defaults config for those rules is possible but finding _good_ defaults is hard (or impossible) becau

[2021-05-14 12:14] Zamiell commented on #517
I think that both 1 and 2 are fine.

Here's a hypothetical user story:

1) Alice enables `revive` for the first time through golangci-lint. (She also disables `golint`, which she was previously using).

2) Alice finds `revive` useful. But she realizes that she actually wants to disable the `exported` rule and keep everything else.

3) Alice adds the following to her .golangci.yml file:

[code]

4)

[2021-05-14 16:21] chavacava commented on #517
@Zamiell, please check [this branch](https://github.com/mgechev/revive/tree/all-rules) and let me know if it fits your expectations.

The _all-rules-activated_ configuration looks something like:

[code]

[2021-05-14 16:31] Zamiell commented on #517
Nice, thanks chavacava.
Would it be simpler to use `Severity = disabled` rather than adding a whole new `Deactivated = true`?
I don't care much either way, just pointing that out.

[2021-05-14 16:49] chavacava commented on #517
Sure, it is simpler but _disabled_ is not a _severity_ (i.e. using the `Severity` field to deactivate a rule is somehow a hack)

Yes, I've hesitated between `Disable` and `Deactivate`; even if I prefer `Disable` I've used `Deactivate` to be in line with the jargon already used in the code... later investigation shown that the `activate` jargon was introduced **by me** (7 month ago) therefore I wil

[2021-05-15 00:14] mgechev commented on #517
The process for introducing a tool for static analysis described in [this](https://github.com/mgechev/revive/issues/517#issuecomment-841205830) comment sounds like:
- Enable all the rules
- Disable rules one by one until you get fewer errors/warnings
- Introduce the tool as part of your CI pipeline

That's probably a valid approach, especially in a large codebase. A more intentional approach I see

[2021-05-15 10:02] chavacava commented on #517
My understanding of the so called "first approach" is that a rule is disabled because it is not of interest (steps 5 and 6)
While implementing the proof-of-concept of the feature, I've went all over the steps to get a valid configuration. It took 8 iterations of: run revive, check output, fix config

Yes, even if the `enable-all` config knob of golangci-lint applies to linters the reason of its de

[2021-05-15 11:55] Zamiell commented on #517
mgechev, it is unclear what you mean by this. For example, building on my hypothetical above:

- Alice has already gone through her first round of `revive` tuning. All of Alice's code passes the linter.
- Upon writing a new function, Alice realizes that her new code is failing the linter because of a previously-unknown rule that she had not come across before.
- Alice googles the rule, and realize

[2021-05-18 04:30] mgechev commented on #517
That's the main problem I see as well. Given the configuration is implicit by default, nobody really knows what checks apply to their project.

I don't see this as a scalable approach in large repositories.

This is the approach my colleagues and I would take + a team discussion after that. I consider it as a best practice.

Bob's company sounds like a bad place so he should have left on the first

[2021-05-18 18:44] chavacava commented on #517
I think we can add the feature and let users decide to use it or not.

(I'll not use it but some of my colleagues find it useful)

[2021-05-19 20:58] mgechev commented on #517
Sounds good!

[2021-05-20 00:09] thezerobit opened #519 "Use "repetitive" to describe repetitive exported symbols"
I got this message from the linter: "exported: type name will be used as bloop.BloopConfig by other packages, and that _stutters_; consider calling this Config". I'm not sure why a speech disorder that causes people anxiety needs to be used as a metaphor for something that doesn't need one. This would be just a bit clearer and more inclusive: "exported: type name will be used as bloop.BloopConfig

[2021-05-20 12:02] finnan444 opened #520 "struct-tag rule false-positive on json inline tag"
**Describe the bug**
[struct-tag](https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#struct-tag) produces warning for json inline tag `struct-tag: unknown option 'inline' in JSON tag (revive)`

**To Reproduce**
Steps to reproduce the behavior:
1. add
[code]
2. Run revive with struct-tag rule enabled

[2021-05-20 12:34] chavacava commented on #520
Hi @finnan444 thanks for filling the issue.
In fact `inline` is not an [official option of JSON struct tags](https://pkg.go.dev/encoding/json?utm_source=godoc) (this [8 years old but still ongoing discussion](https://github.com/golang/go/issues/6213) also talks about it)

(Actually, the `inline` option works by lucky it might be possible that if you change yours `inline` by `something` it will sti

[2021-05-20 19:26] chavacava commented on #519
Hi @thezerobit, thanks for filling the issue.

You are right, the message could be better (clearer and more inclusive) than what is it currently.

As you might know, `revive` can be used as a drop-in replacement for `go-lint`, this means that `revive` implements exactly the same (input/output) interfaces than `go-lint`, that includes error messages. The message we are discussing [comes from `go-li

[2021-05-21 07:53] #517 closed

[2021-05-21 09:07] finnan444 commented on #520
Hi @chavacava, sorry for inconvenience, this tag is widely used in my company (this practice came from kubernetes repo), so i thought `inline` is part of standard now

[2021-05-21 09:17] chavacava commented on #520
Do not worry, we have been all trapped by this `inline` option :)

Thanks again for taking the time of filling the issue.

[2021-05-21 09:17] #520 closed

[2021-05-22 16:14] frederikhors opened #522 "Using golangci-lint is there a way to disable a single revive's rule?"
I'm using golangci-lint 1.40.1.

Is there a way to disable a single revive's rule?

Such as:

[code]

This doesn't work right now.

[2021-05-22 19:20] chavacava commented on #522
Hi @frederikhors,

I do not known how to configure `revive` from `golangci-lint` (there is an issue #518 waiting for a PR from someone that masters `golangci-lint`, if it is your case, we will be glad to accept a PR from you!)

By default, `revive` only enables rules that are named in the configuration, therefore if you want to disable a rule you just need to delete (or comment out) it from the co

[2021-05-23 08:41] chavacava commented on #522
Hi @frederikhors, you can also check PR #523 that provides more information on how to configure `revive` in `golangci-lint`

[2021-05-23 20:31] #518 closed

[2021-05-24 19:11] coder543 opened #525 "context-as-argument is unsatisfiable sometimes"
**Describe the bug**

The [context-as-argument](https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#context-as-argument) linter is unsatisfiable if a function accepts more than one context as parameters to the function.

**To Reproduce**

It is impossible to satisfy the linter with code like this (I haven't specifically tested this exact code block, but there's no way it _shouldn't

[2021-05-24 20:12] chavacava commented on #525
Hi @coder543, thanks for filling the issue.

You've spotted a little bug here. As you said it is a rare situation but it deserves to be correctly handled by `revive`.
I will try to provide a fix.

[2021-05-25 09:52] frederikhors commented on #522
@chavacava I will wait for a new golangci-lint version to try configuration in my project. Please do not close this.

[2021-05-25 14:50] chavacava commented on #525
@coder543 you can check if the PR #526 works as you expect

[2021-05-25 15:13] coder543 commented on #525
yep

[2021-05-25 22:09] #525 closed

[2021-06-03 20:58] rdeusser opened #529 "Disallow nested structs"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Nested structs in projects are annoying and ugly. I'd like a rule that disallows them entirely.

**Describe alternatives you've considered**
I haven't really considered any alternatives. I'm not sure if there are any.

**Additional context**
For example:

[code]

Is awful to look at. This i

[2021-06-04 17:49] chavacava commented on #529
Hi @rdeusser thanks for the rule proposal.

The rule is very opinionated. Considering nested structs "annoying and ugly" is very personal and a matter of style (I think that they are hard to read but that is me)

[2021-06-04 18:31] chavacava commented on #522
The master branch of `golangci-lint` already includes the `revive` version supporting `enableAllRules` configuration option.

https://github.com/golangci/golangci-lint/commit/b5d847f07f3059e2c3d8a52be50c8c1970f97f71

[2021-06-04 18:49] frederikhors commented on #522
Yeah but it's still not released, right?

[2021-06-04 20:37] chavacava commented on #522
I do not think so

[2021-06-15 09:36] #529 closed

[2021-06-17 14:45] SamuelCabralCruz commented on #125
inspired from this gist: https://gist.github.com/soniah/c11633551c6dd84dab66cad20453cfa8 -> this is how I solved the problem:
[code]

[2021-06-17 14:49] SamuelCabralCruz opened #532 "Banned characters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to prevent the use of Ω symbol in projects using Gomega.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Without creating rules specific to gomega, it would be nice to have a rule t

[2021-06-27 17:36] powerman opened #534 "import-shadowing shouldn't check current package name"
**Describe the bug**
[code]
[code]

**To Reproduce**
I use revive bundled with golangci-lint 1.41.1.

**Expected behavior**
Within package named "x" we should be able to import/create identifiers with same name "x" - there is no shadowing in this case.

**Desktop (please complete the following information):**
 - OS: Gentoo Linux
 - go version go1.16.5 linux/amd64

[2021-06-28 13:21] SamuelCabralCruz opened #535 "Can't enable all rules"
**Describe the bug**
A clear and concise description of what the bug is.

Can't enable all rules at once

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

All rules are being ena

[2021-06-28 17:13] MorpheusXAUT commented on #522
Looks like this feature was released in version [1.0.7](https://github.com/mgechev/revive/releases/tag/v1.0.7) without a mention in the changelog - at least the [comparison](https://github.com/mgechev/revive/compare/v1.0.6...v1.0.7) shows the relevant PR 521 in the commits included.
1.0.7 was released on May 28th, now being supersede by [1.0.8](https://github.com/mgechev/revive/releases/tag/v1.0.8

[2021-06-28 19:57] chavacava commented on #534
Hi @powerman, thanks for filling the issue.

[2021-06-28 20:08] chavacava commented on #535
Hi @SamuelCabralCruz, thanks for filling the issue.

As described in the documentation (see README.md at section Configuration)

In your case, `revive` is telling you that you need to provide a configuration for the rule `argument-limit`. Why? because the that rule (and a few others) needs configuration to be executed. In the case of `argument-limit`you need to indicate the max number of argument

[2021-06-28 20:29] MorpheusXAUT commented on #522
Oh, sorry @chavacava, I must've lost track of which repository/issue I was looking at before posting this - I thought this was opened in the golangci-lint repo and we were waiting for a revive release 🙈

Sorry for the confusion and for the hint, I'll make sure to check out the new config options tomorrow!

[2021-06-28 20:38] SamuelCabralCruz commented on #535
@chavacava ok yeah I understand now! I tried the proposed solution and it did work as expected. I still think that all rules should have a prescribed value which would allow to use them without additional config. This would also be more use friendly and less confusing for new comers like me!

The following should be enough to benefit from all the goodies of revive imho.

[code]

Is there a specifi

[2021-06-28 21:26] chavacava commented on #535
Great!

This is a topic we have already discussed and we opted to do not set _default_ values for configurations because these defaults will certainly do not match with the style rules defined in the majority of code bases out there. For example, which value should we set as a default for `argument-limit`? 3, 4, 10, 12 ? And what about `cyclomatic` complexity, or `line-length-limit`? All these are

[2021-06-28 21:26] #535 closed

[2021-06-28 21:33] chavacava commented on #522
@MorpheusXAUT you've spotted an actual problem in the release's changelog! Beyond that we are always glad to answer questions and help on using `revive`

I've checked `golangci-lint` releases and the version [v1.41.0](https://github.com/golangci/golangci-lint/releases/tag/v1.41.0) includes `revive 1.07`

[2021-06-28 21:33] #522 closed

[2021-06-28 21:36] SamuelCabralCruz commented on #535
@chavacava thanks for the quick feedback. it is really appreciated. I do agree that these subjects are really opinionated, but having the possibility to override the default value if it does not fit my needs is good enough to me! But never the less I really enjoy using revive. Thanks for your time and the great work 💪

[2021-06-29 15:33] rliebz opened #537 "if-return incorrectly treated as golint rule"
**Describe the bug**
The README describes `if-return` as a `golint` rule, and therefore includes it in the set of defaults here and in `golangci-lint`. This is no longer true as of 2018.

- Related issue: https://github.com/golang/lint/issues/363
- Related PR: https://github.com/golang/lint/pull/388

Because of this discrepancy, there is an increased barrier to adoption of `revive` over `golint`.

[2021-06-29 19:38] chavacava commented on #537
Hi @rliebz, thanks for filling  the issue. I expect to work on it in the coming days.

[2021-06-29 19:40] #534 closed

[2021-06-29 20:04] #537 closed

[2021-07-01 21:12] kevincantu opened #540 "revive:disable-next-line isn't working"
Using macOS and golangci-lint v1.41.1 (a207480, 2021-06-19), I expected this to work, and not give me a linter failure:
[code]

But actually I get this error when linting:
[code]

To work around, I can use this:
[code]

But from how `disable-next-line` is described in the README, I think I've seen a bug.

[2021-07-01 21:45] SamuelCabralCruz opened #541 "Extending defaults config"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am wondering if there is any way to extend the default rules' configuration.
One such situation would be with import-blacklist which is an array formed of two crypto imports by default md5 and sha1, but to which I would like to add anoth

[2021-07-02 08:33] chavacava commented on #540
Hi @kevincantu, thanks for filling the bug description. I'll check it ASAP

[2021-07-07 20:19] powerman commented on #386
Would be nice to have this fixed. I've a project with dozen of such false positives and have to disable the rule. :(

[2021-07-08 20:20] chavacava commented on #386
branch https://github.com/mgechev/revive/tree/fix-386 implements a fix consisting in trying to identify channel draining loops by their syntax (a range without value nor key) and avoids raising a failure for such cases

branch https://github.com/mgechev/revive/tree/alleviates-386 also identifies channel draining loops by their syntax but in place of not raising a failure it raises one with a lower

[2021-07-10 07:24] chavacava commented on #540
Hi @kevincantu, can you please check if the PR #543 fix the problem?

I've detected the following bug: when the disable annotation was not the first line in the comment block, the annotation was ignored. Example:

[code]

The example you provided in the issue is something that should work without this fix, i.e. I was not able to reproduce the bug with the exact code example you provided.

[2021-07-12 04:31] #540 closed

[2021-07-14 02:44] EmmetZC opened #545 "suppressing lint issues for lines"
**Is your feature request related to a problem? Please describe.**
Sometimes, I would like to ignore some lint errors/warnings instead of simply refactor it. Especially var naming problems since fixing it may cause compatibility issues.

**Describe the solution you'd like**
use `// nolint` comment or something similar to ignore one line or the line after. For example:
[code]
I wish `//nolint:reviv

[2021-07-14 06:04] chavacava commented on #545
Hi @EmmetZC  thanks for filling the issue. Could you please check if [comment directives](https://github.com/mgechev/revive#comment-directives) do what you are requesting?

[2021-07-14 06:34] EmmetZC commented on #545
Wow, thanks a lot. That's exactly what I've been looking for. Guess I've just missed that part. XD

[2021-07-14 06:34] #545 closed

[2021-07-26 20:37] cce opened #546 "Add Unwrap to common methods"
**Is your feature request related to a problem? Please describe.**
The golint "common methods" list of exported functions that don't need a comment was extended to include Unwrap in https://go-review.googlesource.com/c/lint/+/221610 (Github PR https://github.com/golang/lint/pull/487). However revive did not pick up this change.

**Describe the solution you'd like**
Unwrap should be on the common m

[2021-07-28 08:50] #546 closed

[2021-08-02 20:08] chavacava opened #550 "Warn on useless break statements in case clauses"
When executing switch or select statements, GO, unlike other programming languages like C, only executes statements of the selected case clause while ignoring the subsequent clauses. Therefore, inserting a `break` at the end of a case clause has no effect. I propose to add a rule to spot those cases.

More over, because `break` statements are rarely used in case clauses, when switch or select stat

[2021-08-05 11:40] kostakhv opened #552 "`exported` rule does not warn of method comments not starting with the method name if the receiver is private"
**Describe the bug**

`exported` rule does not warn of method comments not starting with the method name if the receiver is private.
Probably this is the root cause- https://github.com/mgechev/revive/blob/98c374dcad22caddb52ea2a38394a4158a1de0c4/rule/exported.go#L64

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the fol

[2021-08-05 12:19] chavacava commented on #552
Hi @kostakhv, thanks for filling the issue.

As you mention, the rule does not spot the "problem" because of the line you referenced. In fact these lines are equivalent to those in the `golint` code base (i.e. `revive` behaves as `golint`):

https://github.com/golang/lint/blob/6edffad5e6160f5949cdefc81710b2706fbcd4f6/lint.go#L859-L862

`golint` made the choice of not to lint comments of private id

[2021-08-05 13:15] kostakhv commented on #552
@chavacava thanks a lot for the detailed explanation.

I think it's a pretty common practice to have a ctor return a private type, so that the caller can use it only to call public methods.

[code]

https://stackoverflow.com/questions/37952354/golang-public-method-to-private-struct-is-this-have-any-use-case

Is there a chance we could add a config flag for this rule?
Something like,
[code]

[2021-08-05 15:13] mgechev commented on #552
Adding a config flag and keeping the default aligned with golint sounds good to me.

[2021-08-09 07:41] archseer opened #553 "range-val-address false positive"
**Describe the bug**
A false positive occurs when we're taking the value of a field on a pointer struct.

**To Reproduce**
This is a valid case, but it will get picked up by the linter:
https://play.golang.org/p/DcTOwoJ5cmZ

[2021-08-09 07:42] archseer commented on #553
\cc-ing @bernhardreisenberger since they wrote the lint

[2021-08-09 17:56] cbergoon opened #555 "Question: Is it possible to disable the "stutters" warning?"
I have went through the configuration options but have been unable to find an option that disables only the stutters warning. The specific output I am trying to ignore is:

[code]

[2021-08-09 18:32] cbergoon commented on #555
Just for some additional clarification I see the option to disable all "exported" rules [here](https://github.com/mgechev/revive/blob/7abb883d0fc2f1dd6a558c1c7e3e16bf2805999e/rule/exported.go#L41), but would prefer not to remove all warnings on exported types.

Is there any appetite for adding configuration to the config option to specify and conditionally enable/disable stutters warning? Happy to

[2021-08-15 08:46] chavacava commented on #555
Hi @cbergoon, as you already found, there is no configuration option to just disable _stuttering_ warnings.

Adding configuration options for THE `exported` rule need to cope coherently all the sub-cases of the rule. For example, there is already #552 that requires a configuration option for enable/disable checking of private methods.

[2021-08-15 22:30] #550 closed

[2021-08-16 10:06] chavacava opened #556 "useless-break rule does not handle range-loops correctly"
**Describe the bug**
The useless-break rule provides a specific message when a useless break is found in a switch (or select) statement inside a loop.
For example, for the following code:

[code]
the rule will emit a failure: _useless break in case clause (WARN: this break statement affects this switch or select statement and not the loop enclosing it)_

The same kind of message is expected in the

[2021-08-16 10:15] #556 closed

[2021-08-16 11:02] enckse opened #558 "TestUselessBreak fails on macOS (arm64)"
**Describe the bug**
`TestUselessBreak` fails on macOS

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. On macOS download/checkout version `1.1.0`
2. Run `go test -v ./...`
3. `TestUselessBreak` fails

**Expected behavior**
All tests should pass

**Desktop:**
 - OS: macOS 11.5 BigSur (M1)
- Go (via `macports`)
[code]

**Additional context**
I did spin up a Linux (aarch64) VM on the M1

[2021-08-16 11:31] chavacava commented on #558
Hi @enckse, thanks for filling the issue and sorry for the inconveniences this bug is causing.
The master branch of the project includes the recent PR #557, and should fix the problem.

[2021-08-16 11:34] enckse commented on #558
Ah, I was typing this up as you fixed the issue! Wonderful, thanks! (I tested on master on macOS and it is fixed)

[2021-08-16 11:42] #558 closed

[2021-08-16 12:02] chavacava commented on #552
Hi @kostakhv, the branch [exported-config](https://github.com/mgechev/revive/tree/exported-config) adds the possibility of configuring the `exported` rule.
There is a flag (_checkPrivateReceivers_) that enables checking of public methods of private types.

The configuration of the rule should be something like:

[code]

Please let me know if it fits your needs.

[2021-08-16 12:05] chavacava commented on #519
Hi @thezerobit, the branch [exported-config](https://github.com/mgechev/revive/tree/exported-config) adds the possibility of configuring the `exported` rule.
There is a flag (_sayRepetitiveInsteadOfStutters_) that will change the wording of failure messages to do not use the term _stutter_.

The configuration of the rule should be something like:

[code]

Please let me know if it fits your needs.

[2021-08-16 12:13] chavacava commented on #555
Hi @cbergoon, the branch [exported-config](https://github.com/mgechev/revive/tree/exported-config) adds the possibility of configuring the `exported` rule.
There is a flag (_disableStutteringCheck_) that will disable stuttering warnings.

The configuration of the rule should be something like:

[code]

Please let me know if it fits your needs.
Notice that disabling this check is somewhat strange a

[2021-08-17 11:38] kostakhv commented on #552
@chavacava this looks awesome, appreciate it!
Thanks a lot.

[2021-08-17 13:56] invidian opened #559 "Installing executables with 'go get' in module mode is deprecated"
Currently README.md says to use `go get -u github.com/mgechev/revive` to install revive.

With the following environment:
[code]

The following gets printed:
[code]

It seems README.md should be changed to use the following?
[code]

[2021-08-17 13:59] invidian opened #560 "Ambigous version information printed when installing using recommended method using 'go get'"
To reproduce:
[code]

Perhaps [debug.ReadBuildInfo()](https://pkg.go.dev/runtime/debug#ReadBuildInfo) could be used to make it right.

[2021-08-17 14:04] invidian opened #561 "Panic when only "enableAllRules = true" is set in the configuration"
**Describe the bug**
When only `enableAllRules = true` is set in the configuration, `revive` panics without helpful message for the user.

**To Reproduce**
[code]

**Expected behavior**
Binary exits gracefully, printing helpful message for the user in case of invalid configuration.

**Desktop (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04] Arch Linux
 - Version of Go: 1.1

[2021-08-17 14:58] chavacava commented on #561
Hi @invidian, thanks for filling the issue.

As described in the documentation (see README.md at section Configuration)

In your case, `revive` is telling you that you need to provide a configuration for the rule `argument-limit` (the first line of the trace  says: `invalid configuration for "argument-limit"`)
Why? because the that rule (and a few others) needs configuration to be executed.
In the

[2021-08-17 16:02] #559 closed

[2021-08-17 16:05] chavacava commented on #560
Hi @invidian, thanks for filling the issue, we will fix it ASAP.

[2021-08-18 14:16] invidian commented on #561
So the error message after #563 is nicer now, saying: `panic: not enough arguments for argument-limit rule, expected 1, got 0. Please check the rule's documentation`.

However, I'm still surprised that `panic` is used for flow control, as in https://github.com/golang/go/wiki/CodeReviewComments#dont-panic. Usually panic is used for programmer mistakes, not for user mistakes.

It would be nice if co

[2021-08-18 14:43] chavacava commented on #561
Yes, it would be nice. You can open an issue and even create a PR on that subject.

[2021-08-18 14:43] #561 closed

[2021-08-18 22:34] sonalys opened #564 "indent-error-flow incorrectly identifying conditional attribution as redundant"
**Describe the bug**
When we declare variables inside if statements, and returns inside the if block, on the else statement, we can no longer use other declared variables because revive detects indent-error-flow redundancy.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:
[code]

[2021-08-19 03:13] cbergoon commented on #555
@chavacava thank you for taking extra time on this. Ah, I didn't know about comment directives. That seems like a better fit than disabling globally. As you guessed this is isolated to a single area and caused by a lib with a backwards compatibility constraint.

Cam

[2021-08-19 12:09] chavacava commented on #564
Hi @sonalys, thanks for filling the issue.

For the example code you provided, `revive` should generate a message like:

[code]
As the message says, if necessary, you'll need to move the variable declaration to its own line. Something like:
[code]

The current implementation of the rule in `revive` is from the original one from `golint` and is based the on a simple _structural_ analysis (in the li

[2021-08-19 12:36] sonalys commented on #564
yes, improving the message would be great, because it doesn't seem to justify the behaviour it wants with the actual message
if it considered the declaration of variables inside the if scope it would be great, because sometimes it's really bothersome to already have an error declared above in the code, and you need a new variable like in the code below:
[code]
because we will need to either declar

[2021-08-19 12:59] chavacava commented on #564
As I've said, for the example you provided, `revive` **already generates** a message in the lines of:
[code]
If in your case is not generating such a message, please provide the actual code you are linting.

There are many subjects that are a matter of personal taste, thus which is more easy to read
[code]
or
[code]
It is not something  we will discuss :)
Again, you can _fix_ the scoping problem b

[2021-08-25 04:38] renovate[bot] opened #566 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-25 20:22] gandarez opened #567 "revive --version command seems to be useless or unset"
**Describe the bug**
Asking for revive version prints an unknown string.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install revive
2. ` revive --version`

**Expected behavior**
The version when it was built.

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Go 1.16.3

[2021-08-27 00:27] #567 closed, assigned to nobody

[2021-08-27 19:28] mark-kubacki opened #568 "Do not fail if excluded paths are missing"
Excluding a path that is absent gets an error, yet the absence should be satisfactory in the first place.

For example, reproduce in any repository, such as *revive’s* own, that has no `vendor/` (or `private/`, …):
[code]

I’ve expected a happy run and no output related to the exclusion.

Yet got with v1.1.1:
[code]

[2021-08-28 11:04] chavacava commented on #568
Hi @wmark, thank for filling the issue.
The root cause seems to be a bug in `dots` package.
I'll try to fix it in the next days.
Meanwhile you can use the `vendor/...` pattern to avoid the problem and get the same behavior.

[2021-08-30 13:50] wmark commented on #568
Thank you for considering this!

For some context, I am building images with **revive** with defaults that cover frequently found layouts, like this (hereby in public domain):
[code]

[2021-09-10 02:57] butuzov opened #571 "`time-naming` missing cases"
**Describe the bug**
`time-naming` check missing cases.

* `Hours`  (all other hour  related case)
* `Min` (as in `RULES_DESCRIPTIONS.md`) (all other minute related case)
* Singular Forms

**To Reproduce**
[code]

**Expected behavior**

to match duration variables

**Additional context**
Found on testing revive integration.

[2021-09-10 03:22] butuzov opened #573 "`time-naming` speeding up"
**Is your feature request related to a problem? Please describe.**
I believe its possible to speed up `time-naming` rule by implementing imports checking for time package first.

**Describe the solution you'd like**
If we check import and don't see `time` there, no point in running lint.

**Describe alternatives you've considered**
Left it as is.

[2021-09-12 02:38] butuzov commented on #573
Closed - as duration can be returned from some other imported packages functions and assigned to any variable.

[2021-09-12 02:38] #573 closed

[2021-09-12 23:09] #571 closed

[2021-09-22 16:02] rustysys-dev opened #577 "Global severity setting has no effect if `enableAllRules` is `true`"
**Describe the bug**
Due to the code not having flags for parsing the global severity setting from toml, its not possible to globally set the severity.

https://github.com/mgechev/revive/blame/d7e3d5eac7453bfbb4c5d02e612459f91024427f/lint/config.go#L28

Proposed fix is to add the toml tag for severity here.

[2021-09-22 16:03] rustysys-dev commented on #577
apparently setting `confidence` does nothing either.

[2021-09-22 18:00] rustysys-dev commented on #577
This issue is actually a bit deeper...

with the following config

[code]

and the following command.

[code]

you will never see error severity raised for any of the rules.

1. Main first calls [GetConfig](https://github.com/mgechev/revive/blob/master/config/config.go#L189) which checks for a config file path specified on the command line.  If found when found it parses the file and then normaliz

[2021-09-22 18:35] chavacava commented on #577
Hi @rustysys-dev, thanks for filling the issue.

Confidence does something:

[code]

With a config file:
[code]
with `XXXX` set to 0.5, 1.0, and 1.5 respectively

I'll check for `severity`

[2021-09-22 18:47] chavacava commented on #577
Testing `severity` with the following configuration
[code]

Results in:
[code]
After setting `severity` to `"warning"` in the configuration, we get

[code]

That seems a correct behavior of the `severity` flag of the configuration.

[2021-09-22 19:16] mgechev commented on #568
Just merged the PR in dots. @chavacava thanks for the fix!

[2021-09-22 19:16] #568 closed, assigned to chavacava

[2021-09-22 19:16] mgechev commented on #577
Keeping open until we hear back from @rustysys-dev

[2021-09-23 12:02] jawnsy opened #579 "Apply default settings for some checks in golangci-lint"
**Is your feature request related to a problem? Please describe.**

Some checks in golangci-lint, such as `argument-limit` and `cognitive-complexity` cause a panic if no argument is supplied. It would be nice to have a default value in this case, rather than a panic like:

[code]

**Describe the solution you'd like**

Apply a default argument if none is supplied.

**Describe alternatives you've co

[2021-09-23 18:01] chavacava commented on #579
Hi @jawnsy, thanks for filling the issue.
This is a subject we have already discussed. Setting defaults for these rules is something we decided not to do.
The configuration is already very flexible (global/per rule settings, all/individual rule activation, ...) and allows you to deeply tweak revive's behavior.
If someone is able to read the documentation to known how to activate all rules it is ve

[2021-09-23 19:07] jawnsy commented on #579
Thanks so much for your reply and sorry for filing a duplicate (I only checked open issues and didn't do a search). I'll close this issue out. As one of the maintainers, it's ultimately your call and I respect your decision.

My humble opinion as a user of this software is that it's better to have reasonable defaults where possible, and minimize the amount that people have to read in order to use

[2021-09-23 19:07] #579 closed

[2021-09-24 06:59] rustysys-dev commented on #577
@mgechev Thank you for keeping the issue open.

I just tried it on my end, and I am still not getting results.

The configuration that you tried above works on my end.

### Working config
[code]

### Working config output

[code]

### Non-working config
[code]

### Non-working config output
[code]

the only difference being that in the one that doesn't work `enableAllRules = true` is defined and `

[2021-09-24 10:44] chavacava commented on #577
Thanks @rustysys-dev I'll check the cases you describe.

These annotations are not necessary if struct's field names match (case-insensitively) with the fields in the toml file.
Short example: https://play.golang.org/p/9Mx0QSHO8b6

[2021-09-24 10:56] chavacava commented on #579
Side note: it is possible that `golangci-lint` maintainers will accept to set default values for `revive` rules. The place to set these default values seems to be https://github.com/golangci/golangci-lint/blob/c6c55d2502b052e2e5925389ee40b6bde887e3db/pkg/golinters/revive.go#L152

[2021-09-27 03:10] rustysys-dev commented on #577
Thank you! that makes sense... and now that you say it I do remember hearing about that before... I am just used to seeing everything defined explicitly.  Feel a bit stupid now :joy:

Also I checked out your PR and tried it for my use case and it looks good!

[2021-09-27 06:47] ChenhuaYang opened #582 "`unhandled-error ` could not detect unhandled errors of third party package methods"
**Describe the bug**

Method `TypeCheck()` will return error "could not import xxx" if detect third party package.  Such as:
`could not import github.com/hyperledger/fabric/core/chaincode/shim (can't find import: github.com/hyperledger/fabric/core/chaincode/shim)`

When the error emerged, revive could not get enough type information. So revive could not detect unhandled errors of third party packa

[2021-09-27 12:07] sina-devel opened #583 "add new rule to suggest using time.Time.Equal instead of == and !="
according to this [link](https://pkg.go.dev/time#Time) is better used `time.Time.Equal` method instead of == and != in most codes

[2021-09-27 13:53] chavacava commented on #583
Hi @sina-devel, thanks for the proposal

[2021-09-28 17:42] chavacava commented on #582
Hi @ChenhuaYang, thanks for filling the issue.
As you describe, the rule needs type checking information to complete its analysis. If the type check fails then the rule is unable to continue.
To fix this bug it is necessary to improve the type analysis code. In fact the current analysis code leverages on the original GO build machinery that was then superseded by `packages` package to better cope

[2021-09-28 21:17] mattysweeps opened #585 "cannot set confidence to 0"
**Describe the bug**
It's impossible to set revive's `confidence` setting to `0.0` because this is the default value and is overwritten here:
https://github.com/mgechev/revive/blob/389ba853b0b3587f0c3b71b5f0c61ea4e23928ec/config/config.go#L133

[2021-09-29 01:36] ChenhuaYang commented on #582
So we might need `packages.Load` to load packages? Or use `go/analysis`?

[2021-09-30 20:37] #577 closed

[2021-10-01 11:55] #583 closed

[2021-10-04 16:37] #585 closed

[2021-10-09 10:41] jan-xyz commented on #241
That would be my favorite solution 🤗 I would also offer to provide the PR for it, if you are ok with adding it

[2021-10-10 08:36] jan-xyz commented on #241
I filed #589 , let me know what you think 🤗

[2021-10-12 12:58] doniacld commented on #489
Hey
I would be happy to work on this issue.

[2021-10-14 18:42] doniacld opened #592 "Revive in mode debug"
**Is your feature request related to a problem? Please describe.**

During the development of a new rule, I had to add `Println` to debug my code when running the revive binary.

**Describe the solution you'd like**

I would like to add logs and activate a debug mode to revive when the corresponding flag is activated.
So I can see the logs and verify the steps of the analyse.

[code]

[2021-10-15 03:12] ChenhuaYang opened #594 "Limit Concurrent Number"
**Is your feature request related to a problem? Please describe.**
Is it necessary to limit concurrent number of lintfiles or lintPackage？If checking a huge project，revive will eat almost all resources.

[2021-10-15 09:17] doniacld commented on #489
Hey @inhuman
When revive will be released, you will be able to pull the docker image `ghcr.io/mgechev/revive:<tag-version>`. It will be found under the assets section.

If you really need it in the docker hub. I'll let @mgechev or @chavacava creates a repository in [dockerhub](https://docs.docker.com/docker-hub/repos/) under their name for revive if they want to. Then, I could update the gorelease

[2021-10-15 19:37] chavacava opened #596 "False positive in `unconditional-recursion` rule"
**Describe the bug**
The rule `unconditional-recursion` produce false positives in presence of anonymous receivers.
For example, for the following code
[code]
it will warn about an unconditional recursive call.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

Oupu

[2021-10-15 20:14] #596 closed, assigned to chavacava

[2021-10-16 17:53] chavacava commented on #594
Hi @ChenhuaYang, could I close this issue?

[2021-10-16 18:16] chavacava opened #599 "Rule to spot (possibly) inefficient conditional expressions"
In some cases it is possible to alter the order of terms in a conditional expression to speed up its average evaluation time.
For example:

[code]
can be safely (i.e. no change in the semantic) rewritten as

[code]

To avoid making a function call in those cases where `!config.IgnoreGeneratedHeader` evaluates to _false_

A rule like this can not have a confidence of 1 because the analysis does not

[2021-10-16 21:53] VictorAssunc commented on #599
hey, i want to work on it

[2021-10-17 18:36] chavacava commented on #364
closed by #598

[2021-10-18 03:19] #594 closed, assigned to nobody

[2021-10-18 06:29] invidian commented on #560
[code]

Looks better now, thanks!

[2021-10-18 11:04] doniacld commented on #599
Hola @chavacava
I would be happy to add this new rule, if you could assign me the issue ?
Thanks

[2021-10-20 17:32] #592 closed, assigned to nobody

[2021-10-22 18:38] euank opened #605 "Allow `*testing.T` before `context.Context` in the context parameter check"
This issue mirrors the upstream one [here](https://github.com/golang/lint/issues/422), which ended up stalling out due to upstream abandoning golint.

The specific case I'm referring to looks like so:

[code]

Currently, the `context-as-argument` lint will complain that `fooSubtest1` should be written with the signature `func(context.Context, *testing.T)` instead.

To me, it's idiomatic for `*test

[2021-10-25 15:41] mx-psi opened #607 "False positive on `package comment is detached` lint on CRLF ended files"
**Describe the bug**

`revive` will incorrectly report `package comment is detached` on CRLF ended files. This is likely related to golang/go#41197.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I created a `main.go` file with the following content:
[code]
3. I changed the line endings to be CRLF (e.g. one can run `sed -e $'s/$/\r/'

[2021-10-27 14:40] mrd0ll4r opened #608 "`rule.error-strings` does not catch `errors.Wrap` messages"
Using `rule.error-strings`, I expected a warning from code like this:
[code]

I'm not sure if the usual error string formatting applies here, but I would expect that it does...

 - OS: Latest Ubuntu (e.g. whatever is used in GitHub runners)
 - Version of Go: 1.16

[2021-10-28 19:26] #608 closed, assigned to doniacld

[2021-10-29 12:09] gburanov opened #610 "Crash in revive - when using master branch - happens after commit 0fada9d76c4319e446514f2df0a3cd819c88f58d"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

**Expected behavior**
it should not crash at least

**Logs**
[code]

[2021-10-30 06:45] #610 closed

[2021-10-30 06:52] gburanov commented on #610
@doniacld @chavacava thank you very much for quick fix

[2021-11-24 16:28] Gusted opened #613 "Allow use of `_xxx` with `unused-parameter` rule"
**Is your feature request related to a problem? Please describe.**
[We're](https://github.com/go-gitea/gitea/pull/17803) enabling the `unused-parameter` rule on our repo to detect if there are possible bugs. A lot of parameters can be changed to `_`, but in [certain cases](https://github.com/go-gitea/gitea/pull/17803#discussion_r756222147) it will make the code more unreadable

**Describe the solu

[2021-11-25 19:04] chavacava commented on #613
Hi @Gusted thanks for filling the issue.

It is common in JS but not in GO, to the point that `golint` (thus `revive`) will warn you with a:
`don't use underscores in Go names`

[2021-11-25 21:51] Gusted commented on #613
I see, fair point.

Thank you for your response.

[2021-11-26 00:25] silverwind commented on #613
Is it out of question to have a rule configuration option for this? For example allow the user to define a regex pattern? The default pattern could be `^_$` and users would be free to define `^_` for example.

[2021-11-26 07:05] chavacava commented on #613
Not at all. My intention with the previous comment was to highlight that prefixing identifiers with `_` is not idiomatic in GO

Yes, it is something that could be studied

[2021-11-28 04:08] SamuelCabralCruz commented on #532
@doniacld Thanks a lot for your time! However, I just tried it out using example config provided in the documentation and I am getting `cannot find rule: banned-characters` error.
I went through the code and everything seems fine.
I am really clueless about what could cause this error.
I am using latest version of revive.
Is this rule supposed to be release or not yet @mgechev ?

Thanks again!

[2021-11-28 04:10] SamuelCabralCruz commented on #532
Just found my answer:
Last release was in September and this pull request has been merged in October. Sorry for the disruption.
When are you expecting to make another release?

[2021-12-12 00:32] nvuillam opened #615 "SARIF formatter not outputing SARIF :/"
**Describe the bug**
It seems that latest version of revive only outputs in text format, not in SARIF

**To Reproduce**

[code]
**Expected behavior**
Having a SARIF output :) (file or stdout, i can work with both)

**Logs**
![image](https://user-images.githubusercontent.com/17500430/145696068-92642950-1db4-480f-ba72-1be82ae61719.png)

**Desktop (please complete the following information):**
 - OS:

[2021-12-14 17:11] mgechev commented on #615
@chavacava would you have a moment to have a look?

[2021-12-14 18:10] chavacava commented on #615
Hi, this week I have restricted access to the internet, I will try to work in the issue next week

[2021-12-16 01:15] chavacava commented on #615
Same problem with any formatter

[code]

The `master` branch works correctly:
[code]

[2021-12-16 21:34] nvuillam commented on #615
Would it be possible to generate a new patch that would allow reporters to work like in master ? :)

[2021-12-20 12:11] DGollings opened #617 "Enable all linters doesnt enable all linters?"
**Describe the bug**
[code]

Doesn't appear to enable revive

Changing that to
[code]

Fixes it (as in, it now errors)

I've manually disabled 30 other linters so I take it 'enable all' does enable plenty. Just seemingly not all all :)

Had a quick look in the codebase, I can't tell if this is a bug or feature though

**To Reproduce**

Have some go code that would trigger a rule, exported is an ea

[2021-12-20 12:27] chavacava commented on #617
Hi @DGollings, it seems that the issue is more a `golangci-lint` issue than a `revive` one.

[2021-12-20 12:27] #617 closed

[2021-12-20 12:28] DGollings commented on #617
You're entirely right, wrong tab. Apologies :)

On Mon, Dec 20, 2021, at 1:27 PM, SalvadorC wrote:

[2022-01-01 01:11] #605 closed

[2022-01-04 00:26] nvuillam commented on #615
@mgechev @chavacava is there any ETA for this fix ?
Many thanks & best regards

[2022-01-04 23:15] SamuelCabralCruz commented on #532
@mgechev any insights about above question?

[2022-01-05 03:53] SamuelCabralCruz opened #619 "Imports-blacklist should support regex"
**Is your feature request related to a problem? Please describe.**
It would be nice that imports-blacklist rule supports regex or match any sub-packages.

**Describe the solution you'd like**
adding
[rule.imports-blacklist]
  arguments = ["github.com/pkgA/pkgB", "github.com/pkg1/**/pkg2"]
configuration would prevent following imports:
import "github.com/pkgA/pkgB"
import "github.com/pkgA/pkgB/pkgC

[2022-01-14 08:51] ricenzca opened #621 "Cannot find certain rules"
**Describe the bug**
Cannot find the following rules:
- time-equal
- banned-characters
- optimize-operands-order

**To Reproduce**
Steps to reproduce the behavior:
1. I installed revive `go install github.com/mgechev/revive@latest`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
I expect the rule to be present and executed

**Logs**
![image](https:

[2022-01-14 15:38] chavacava commented on #621
Hi @ricenzca, thanks for filling the issue.
I was unable to reproduce the problem.

[code]

[2022-01-18 11:12] chavacava commented on #621
Hi @ricenzca , could you please check if the `revive` binary you are executing is the very one you've installed with `go install github.com/mgechev/revive@latest`?

Does `$ which revive` result in the `revive` binary you expect?

thanks

[2022-01-18 12:35] 0xrgb opened #622 "Rule 'var-naming' should allow Fuzz_xxx()"
**Is your feature request related to a problem? Please describe.**
In Go 1.18, [fuzzing is officially supported](https://go.dev/doc/fuzz/). FuzzXxx should be treated as same as TestXxx, BenchmarkXxx, ExampleXxx, which can use underscore(`_`) in the function name.
For example, if you are developing `big.Int` and add a fuzz test to `big.Int.SetString`, the test function's name will be `FuzzInt_SetSt

[2022-01-18 14:25] chavacava commented on #622
Hi @0xrgb, thanks for filling the issue and providing guidance to solve it.

[2022-01-18 14:26] #622 closed

[2022-01-19 21:00] mgechev commented on #615
Let me release a new patch.

[2022-01-20 19:58] mgechev commented on #532
I pushed a new tag yesterday, but it seems the GitHub workflow failed. I'll look into this later today/over the weekend.

[2022-01-24 16:37] ricardobeat opened #624 "too many open files"
When running revive over a medium size codebase (~1500 files) it occasionally hits the system file descriptor limit.

Originally we suspected Chrome eating up FDs, but this still happens even with no other software running on the system, and with high system wide limits set.

After some profiling it seems that revive will spawn a new goroutine for every file upon calling `revive.Lint`, all at the

[2022-01-25 08:13] chavacava commented on #624
Hi @ricardobeat could you please let me know if the branch https://github.com/mgechev/revive/tree/max-open-files fixes the problem?

you can use the command line flag `-max_open_files` to limit the number of open files at a given time.

[2022-02-08 01:36] #624 closed

[2022-02-09 09:57] chavacava commented on #621
No feedback from @ricenzca, I'll close the issue. We can re-open it if necessary.

[2022-02-09 09:57] #621 closed

[2022-02-10 01:27] tartale opened #632 "Latest version 1.1.3 needs a go mod tidy"
**Describe the bug**
My run of dependabot tripped on the version 1.1.3 of this repo:
[code]

I cloned the repo, and found that running `go mod tidy` updated the `go.sum` file; perhaps an oversight on the latest release.  I won't know if this fixes the issue I'm seeing on dependabot until it's merged and a new version is tagged.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive

[2022-02-10 04:55] #632 closed

[2022-02-11 11:17] Zenithar commented on #632
👋  - Did you overwrite the tag? Because this dependency is referenced by golangci since version 1.44.0 (published 17 days ago) and looks to be published yesterday.

This will raise the GOSUMDB error

[code]

[2022-02-14 21:59] iMichka opened #634 "1.1.3 release checksum has changed"
**Describe the bug**

Hi. I am a maintainer of the Homebrew package manager.
We noticed that the checksum of the 1.1.3 release has changed from 8aab7c604229a40f443a5fb3b1112b7ebb0b8e31 to baa70eb87ce60e5905df49d63815a9f712c8058f

This is a major security issue as upstream release checksums are not supposed to change. Did you retag the release (which is something that should never be done, see http

[2022-02-14 22:34] veger opened #635 "blank-imports and constant-logical-error do not support cgo"
**Describe the bug**
When using CGO an `import "C"` is required to active cgo (and import/define C code). The blank-imports check does not accept this and throws the following warning:

` blank-imports: a blank import should be only in a main or test package, or have a comment justifying it (revive)`

**To Reproduce**

Consider this main.go file:
[code]

Run `revive` for this file and the waring a

[2022-02-14 22:49] veger commented on #635
Related I guess:
[code]
triggers `constant-logical-expr: expression always evaluates to true (revive)`

[2022-02-15 02:12] twmb opened #636 "modifies-value-receiver: incorrect vet on nested pointer struct"
[code]

[code]
a.V is modifying a pointer, not a value.

[2022-02-15 03:12] twmb opened #637 "range-val-in-closure: incorrectly flags struct key if the key has the same name as a range variable"
[code]

[code]

[2022-02-15 21:44] chavacava commented on #637
Hi @twmb, thanks for reporting the bug

[2022-02-15 21:46] #637 closed

[2022-02-15 21:54] chavacava commented on #636
Hi @twmb, thanks for reporting the bug.
The current implementation of the rule does not use type information thus it fails to identify `a.V` as a pointer.

[2022-02-15 22:00] chavacava commented on #635
Hi @veger thanks for filling the issue.
I'll try to work on it in the week.

And always keep in mind what [Rob Pike says about Cgo](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=12m37s) :)

[2022-02-15 22:58] mgechev commented on #636
That's out of the scope of revive. There's a trade-off between type checking and performance and we decided to go with some false positives, but keep revive ⚡. I'll close for now, but will be happy to reconsider in case this turns out a popular request.

[2022-02-15 22:58] #636 closed

[2022-02-15 22:59] mgechev commented on #634
Sorry about that. Feel free to use v1.1.4 that I just published and includes the latest fixes by @chavacava.

[2022-02-15 22:59] #634 closed

[2022-02-16 20:22] veger commented on #635
Yes I am not a fan as well, but we have to use a proprietary, 3rd-party library that would take years to reproduce and we simply have not the time to do so unfortunately (because it would be a very nice project)... :)

[2022-02-21 19:47] veger commented on #635
Finally I figured it out... The example uses package `main`, when looking at the error at package main the 'blank-import' behavior is allowed :facepalm:

I tried some more but was still not able to make an example. :disappointed:

Using `golangco-lint` I was able to, but only with all linters enabled:
[code]

and the following code changes in 'deleteme' (basically it is only the import in a non-ma

[2022-02-23 10:22] chavacava commented on #635
Hi @veger thanks for the investigations.
I've quickly tried to reproduce by changing the package name but the failure did not show up.

![Screenshot_2022-02-23_11-18-15](https://user-images.githubusercontent.com/25788468/155300358-9b5f954a-413d-46bb-b950-51e83963f3f5.png)

I'll continue searching.

[2022-02-23 10:24] veger commented on #635
It only shows up when using revive via golangci-lint, I was also not able to reproduce it directly with revive itself.

Maybe golangci-lint does something 'behind the scene' causing revive to choke? :thinking:

[2022-02-23 10:31] chavacava commented on #635
I really do not known `golangci-lint` internals thus it is hard to me to imagine how it can _force_ `revive` to produce these false positives.
Maybe opening an issue on `golangci-lint` side will help.
I'll continue trying to see if some special configuration makes `revive` produce these errors

[2022-02-23 14:29] oschwald commented on #635
This may be related to https://github.com/golangci/golangci-lint/pull/2611.

[2022-02-23 14:49] veger commented on #635
I grabbed and build golangci-lint with this commit and tried. Unfortunately I still have the same issue.
[code]

I'll open an issue at golangci-lint

[2022-02-24 12:23] chavacava commented on #635
From the comments in golangci/golangci-lint#2612 it is clear that it is more a `golangci-lint` issue than a `revive`'s one
@veger are you OK for closing this issue?

[2022-02-24 12:42] chavacava commented on #635
@veger because the actual file `revive` analyses (when ran inside `golang-ci`) it is a generated file you might configure `revive` to ignore it by setting
[code]

[2022-02-24 13:38] veger commented on #635
Yes I am fine with closing, it indeed seems to related to golangci-lint and how it processes the files.

Shouldn't the `ignoreGeneratedHeader` not be set to true? It enabled ignoring the generated files?

We already set this to true, as we have no (direct) influence on any of our generated code and cannot fix any linting issues that are found.

[2022-02-24 15:51] chavacava commented on #635
The config flag is somewhat difficult to understand :)
When setting `ignoreGeneratedHeader` to `true` you are saying to `revive`: "ignore the presence of the GENERATED header"... thus because `revive` ignores the presence of the header, a generated file will look as an ordinary file (i.e. it will anlyze it)

[2022-02-24 15:52] chavacava commented on #635
Not a `revive` issue

[2022-02-24 15:52] #635 closed

[2022-02-24 19:13] veger commented on #635
Thanks for the explaining :+1:
I'll reverse our configuration, as I misunderstood the flag completely.

[2022-02-25 18:03] twmb commented on #613
Prefixing with `_` is common for fields in structs when you want to define a struct but not have it exported. This is commonly used for forcing users of the struct to specify all fields, and to specifically pad the struct. This can be seen within the Go stdlib itself:
[code]

[2022-02-25 18:56] chavacava commented on #613
@silverwind thanks for joining to the discussion

could you provide more details about the use of `_` in structs?

Do you mean `_` disables the struct or the field to be exported?
What is the difference between
[code]
and
[code]

I know that adding a blank field is a hack to force you to use field names when instantiating a struct (https://go.dev/play/p/dmYhk3q204o)
But prefixing fields with `_` d

[2022-02-25 19:09] twmb commented on #613
TIL that a field in a struct can literally be named `_`! I've always used `_somename`. My concern is largely moot now.

[2022-02-25 19:48] silverwind commented on #613
Can't really comment much on golang practices, but I'm using the [`^_` pattern](https://github.com/silverwind/eslint-config-silverwind/blob/3550b5a3549b147740ff8adda2131ca185d4e6ea/.eslintrc#L267) in JavaScript via eslint which allows to [define a regex pattern](https://eslint.org/docs/rules/no-unused-vars#varsignorepattern) and I thought it would be great to have this flexibilty too in golang.

E

[2022-02-26 19:28] shmsr opened #641 "Improve handling for token.{LEQ,GEQ} for constant-logical-expr lint"
**Describe the bug**
From `revive/testdata/constant-logical-expr.go`:

[code]

But, for a binary expression with both operands being equal, it is expected that `token.{EQL,LEQ,GEQ}` should return `true` instead of `false`.

**To Reproduce**
Look at the `testdata/constant-logical-expr.go` and the implementation for `constant-logical-expr`. No need to reproduce it as it can be seen clearly from the

[2022-02-27 08:37] #641 closed

[2022-02-27 08:38] chavacava commented on #641
Hi @shmsr, thanks for filling the issue and for the PR

[2022-03-04 03:25] zhuxubin01 opened #645 "Is there any config to ignore all test files?"
I want to ignore all test files. Is there any way to do it?

[2022-03-04 07:33] chavacava commented on #615
Hi @nvuillam, can I close this bug? Do you reproduce the problem with the last release?

[2022-03-07 17:44] #615 closed

[2022-03-08 14:11] bernhardreisenberger commented on #513
another improvement on the detection. https://go.dev/play/p/sGUhgSGZWvd

pull request ready.

[2022-03-15 01:26] rittneje opened #648 "Support disabling rules for single line"
**Is your feature request related to a problem? Please describe.**

We want to disable the `error-strings` rule for a single variable. However, revive doesn't seem to have any way to support this.

[code]

Instead, we have to do this, which is pretty awkward and non-standard compared to the `nolint` directive.

[code]

**Describe the solution you'd like**

A way to just disable a rule for a specif

[2022-03-15 07:43] chavacava commented on #648
Hi @rittneje,

Did you try `revive:disable-next-line` or `revive:disable-line` as is documented in the section [Coment Directives](https://github.com/mgechev/revive#comment-directives) at the project's README.md ?

[2022-03-15 11:29] rittneje commented on #648
Wow, somehow I missed that sentence. 🤦

[2022-03-15 11:29] #648 closed

[2022-03-18 11:54] chavacava commented on #645
Hi @zhuxubin01, sorry for the late response.
There is no an explicit flag to ignore test files.

[2022-03-21 01:17] heynemann opened #654 "Allow configuration to be passed in to library mode"
I was checking how golangci-lint [uses revive](https://github.com/golangci/golangci-lint/blob/30c6166b08117b0b19ec44c26c7e97c1506656ba/pkg/golinters/revive.go) and they seem to have copied a substantial part of the codebase.

Now that it is possible to run revive as a library I was thinking of making a PR to golangci-lint to improve revive's usage there. The only thing missing is passing in config

[2022-03-21 13:49] chavacava commented on #654
After merging your last PR I immediatly thinked on golang-ci and how we could facilitate the integration of revive.

[2022-03-21 14:22] heynemann commented on #654
Will get a draft PR as soon as possible for us to work on this...

[2022-03-23 19:18] 89z opened #656 "this value of err is never used"
Using this program:

[code]

With other tools [1], I get this error:

[code]

but nothing with Revive. I am trying to find something that works with Go 1.18.

1. https://github.com/dominikh/go-tools

[2022-03-24 12:31] chavacava commented on #656
Hi @89z, `revive` has not a rule to detect that kind of problems.
It is something that could be added. Contributions are welcome!

[2022-03-24 14:57] jan-dubsky opened #657 "Call of function with side-effect is incorrectly identified as constant logical expression"
**Describe the bug**

Multiple calls of a function with side effect are incorrectly evaluated as constant and linted as redundant.

I have a following example code:
[code]
which is supposed to read the second line in the file.

This code is perfectly valid and the result of `scanner.Scan()` is definitely not constant as the call has effect in change of both the internal state of the scanner and th

[2022-03-24 16:51] chavacava commented on #657
Hi @jan-dubsky, thanks for filling the issue.
Currently, `revive` is unable to know if a function has a side effect or not (it is a hard problem in the general case).
We could lower the confidence of the failures in the case of Boolean expressions including function calls.
For the moment you can add a [comment directive](https://github.com/mgechev/revive#comment-directives) to disable the rule for

[2022-03-25 03:43] ChenhuaYang opened #658 "Why not add a flag to exclude detecting through regular expressions"

[2022-03-25 09:32] jan-dubsky commented on #657
Hi @chavacava, thanks for the recommendation about disabling the linter. I use it as a quick hack solution.

What I wanted to propose is to make the linter conservative in what is considered an error. In this case, the expected behaviour for me would be that the linter won't considered function call a constant value. Possible future improvements could then include recognition of getters, pure func

[2022-03-25 10:53] chavacava commented on #658
Hi @ChenhuaYang, could you elaborate a little bit more? Thanks

[2022-03-25 12:11] chavacava commented on #657
I totally agree on the need to minimize the number of false positives.
It is something we control before adding new rules to `revive`.
In this particular case, I've re-run the rule against some large repos (kubernetes, docker, terraform, ...) and I got zero false positives (discarding the `x != x` used to check if a float is NaN)

About considering functions to be non-pure by default is something

[2022-03-25 12:33] chavacava commented on #645
If your goal is to do not receive lint failures related to test files you could use `grep` to filter out the output, something like:
[code]

[2022-03-29 18:26] mgechev commented on #645
Closing for now.

[2022-03-29 18:26] #645 closed

[2022-03-29 18:28] #658 closed

[2022-03-29 20:15] heynemann opened #662 "use-any reports incorrectly that I should use any"
**Describe the bug**
use-any rule is incorrectly reporting an error

**To Reproduce**

Using this code:

[code]

It reports that I should use any, but that's not correct as I just declared an empty named interface. It's not like map[string]interface{} where I actually should use any.

**Expected behavior**

It should report only for incorrect uses of empty interfaces, not on type declarations.

[2022-03-29 21:08] heynemann opened #663 "add-constant reports problem with string even if it should ignore"
**Describe the bug**
Even if string is in the `allowStrs` list, once it appears more than `maxLitCount` I get an error. Not sure if this is the desired effect, but had to disable if it is.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
Even

[2022-03-30 07:33] chavacava commented on #662
Hi @heynemann, thanks for filling the issue.
The GO 1.18 release note says "_The new [predeclared identifier](https://tip.golang.org/ref/spec#Predeclared_identifiers) any is an alias for the empty interface. It may be used instead of interface{}._"
Nothing indicates it can not be used in type declarations.
Looking into the massive PR in the GO repo where `interface{}` was replaced by `any` you can

[2022-03-30 10:57] chavacava commented on #663
Hi @heynemann, thanks for filling the issue.
I was unable to reproduce the problem.
For the intput file `deleteme-663.go`
[code]
With the configuration `deleteme-663.toml`
[code]

And running `revive` with
[code]
I obtain the expected output:
[code]

The sandbox I've used to try to reproduce is available in the branch https://github.com/mgechev/revive/tree/reproduce/663

[2022-03-30 14:38] heynemann commented on #662
I get what you are saying and the distinction is really difficult to do in a linter, but those are type aliases. I really shouldn't have an interface with no methods (as it does not make sense), and would rather have that as a linter, but that won't work either as you won't be able to differentiate between:

[code]

and

[code]

The first would be used to do `variable.(MyInterface)` casting. The s

[2022-03-30 14:38] #662 closed

[2022-03-30 15:46] chavacava commented on #662
I do not get the point.
Do you mean that there is a difference between
[code]
and
[code]
?
It is a type definition with an empty interface in both cases.. isn't it?

The examples I've pointed in the `src/crypto/crypto.go` of the GO PR are all type definitions. (alias definitions use `=` between the type name and the type)

[2022-03-31 08:48] powerman opened #664 "nested-structs does not detect a slice of structs"
**Describe the bug**
Rule `nested-structs` detects this:
[code]
but not this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

**Expected behavior**
[code]

**Desktop (please complete the following information):**
 - OS: Gentoo Linux
 - Go: 1.18

[2022-03-31 15:40] #664 closed

[2022-03-31 15:41] chavacava commented on #664
Hi @powerman, thanks for filling the issue.
I've merged the fix. #665

[2022-04-03 16:35] 4ricci opened #666 "VERSION_FLAGS in Makefile are incorrect"
**Describe the bug**
since 1c283837a98f60bbb58746d96cb62c024c8dec3a build info variables are defined in "github.com/mgechev/revive/cli", not "main", but the Makefile was not updated.

**To Reproduce**
Steps to reproduce the behavior:
[code]

After applying this diff:
[code]

[code]

[2022-04-04 10:58] chavacava commented on #666
Hi @4ricci thanks for filling the issue. It seems you also know how to fix the problem,could you please make a PR?

[2022-04-04 13:37] #666 closed

[2022-04-04 13:41] chavacava commented on #654
Closed by #655

[2022-04-04 13:41] #654 closed

[2022-04-06 08:31] palsivertsen opened #669 "Distinguish generic types"
**Describe the bug**
Revive reports receiver name error at first and only declaration.

**To Reproduce**
Run `revive` on this code:
[code]

[code]

**Expected behavior**
1. I expected to *not* see any errors regarding receiver types.
2. The receiver error should not report "invalid-type".

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - go version go1.18 linux/amd64

[2022-04-07 13:52] zimmski opened #670 "Extra empty line at the end of a block because that empty line is a comment"
(i am currently in the process of adding "revive" to our linter stack and i am going through the false-positives for us)

**Describe the bug**

[code]

leads to "extra empty line at the end of a block" even though it shouldn't.

**Expected behavior**

Such comments are meant for exactly being at that location. Marking the comment as a probem, is a false-positive for our source code.

[2022-04-07 14:06] zimmski opened #671 "Allow to ignoring "unhandled errors" by their type and method"
**Is your feature request related to a problem? Please describe.**

When one is using the method "WriteString" of the type "strings::Builder" and does not handle the error it is flagged because all errors must be handled. However, This method never returns an error. Hence, it makes sense to ignore it (even by default).

The problem with revive is, that it does not allow to ignore methods with thei

[2022-04-07 14:24] zimmski commented on #670
Same is true for

[code]

[2022-04-07 17:27] zimmski opened #673 "Do not mark built-in types that are only there for documentation"
The "redefines-builtin-id" rule flags some identifiers that are strictly speaking just built-in for the documentation of the standard library. Hence, there should be no reason not to allow them.

[code]

For example marking "Type" as a name that should not be used is really annoying since that is such a common name.

I would suggest just removing them. There is no harm in using them as if you woul

[2022-04-07 21:16] zimmski opened #674 "Test packages are not analyzed"
Files of test packages (package name with "_test" suffix) are not analyzed. For me, this is a bug since they are on the same level  as _test.go files which are analyzed.

Steps to reproduce the behavior:
1. mkdir -p src/foobar.com/bar
2. Add the following file in src/foobar.com/somepackage/baz_test.go

[code]

3. Do a `revive foobar.com/... and see that an error is reported
4. Change "package some

[2022-04-07 21:37] zimmski commented on #230
@mgechev i just migrated our monorepo from golint to revive (because i couldn't get myself to debug another false-positive for golint, doesn't make sense that we maintain it internally if it is deprecated). We have build tags and test packages implemented over go/loader for golint. I think the only thing that is missing is CGo support but we have that implement with our internal static analysis. I

[2022-04-08 06:44] chavacava commented on #673
Hi @zimmski, good point.
PR are welcome

[2022-04-08 08:01] zimmski commented on #673
@chavacava should i leave this for a newbie coder or go ahead? We have it solved in our repository by ignoring the messages for these types.

[2022-04-08 08:02] chavacava commented on #674
Hi @zimmski, thanks for filling the issue.
I was not able to reproduce the problem.
I've setup the following directory tree
[code]
Every `.go` file has the following content:
[code]
(please notice `Foo` with capital `F` to trigger a failure due to comment absence on public function)

I run
[code]
as indicated in your description, and I get:
[code]
The result is OK. The rule `exported` generates a

[2022-04-08 08:07] chavacava commented on #673
You can go ahead with a PR @zimmski
Removing the problematic identifiers from the list of [built-in-types](https://github.com/mgechev/revive/blob/ef9b58ba0b3616b2f0878daecd7b34924657613a/rule/redefines-builtin-id.go#L36)  should be enough

[2022-04-08 10:57] zimmski opened #676 "Revive fatally fails with "Concurrent map writes""
**Describe the bug**

Revive has a fatal error sometimes that says "concurrent map writes". I would expect revive not to fail.

Here is the very long stack trace output:

<details>

[code]
</details>

**To Reproduce**
Steps to reproduce the behavior:
1. Using Go 1.18.0. Did not try with other versions
1. I think one needs only a repository with the right error reports. I can reproduce it (after lo

[2022-04-08 10:59] zimmski opened #677 "Revive has data races"
**Describe the bug**
When compiled with the race detector on, data races are printed. I would expect no races.

Here is the output i receive:

<details>

[code]

</details>

**To Reproduce**
Steps to reproduce the behavior:
1. go install -race github.com/mgechev/revive
2. revive github.com/...

[2022-04-08 11:00] zimmski commented on #677
We btw test with -race on in our CI. Helps to find issues like this with the usual tests. Maybe part of this issue should be to add -race when everything is fixed there?

[2022-04-08 13:18] #673 closed

[2022-04-09 13:03] chavacava commented on #676
duplicated of #677

[2022-04-09 13:03] #676 closed

[2022-04-10 07:06] #677 closed

[2022-04-10 10:15] zimmski opened #680 "Different results when removing the GOCACHE and pkgs directories"
**Describe the bug**

This is more of a **"i need a better idea on how to debug this"** bug reports because i do have a reproducer, but it involves our monorepo (which i can't just send out).

The bug of this issue is that the output of revive is not deterministic for one specific problem. The following Revive config enables the rule that finds the reported problem.

[code]

Th problem appears det

[2022-04-10 10:25] zimmski commented on #680
Same with Go 1.17.8

[2022-04-10 10:42] zimmski commented on #680
OK i think i have a reproducer now at least for the reported problem. It does disappear when one includes all code in one file.

[2022-04-10 10:44] zimmski commented on #680
go.mod
[code]

model/mode.go
[code]

valid.go
[code]

Doing Revive on this code:

[code]

But when valid.go is merging everything into one file:

[code]

There is no problem anymore:

[code]

[2022-04-10 18:43] zimmski opened #681 ""range-val-address" has false-positives when pointers are involved"
**Describe the bug**
The "range-val-address" rule flags identifiers and field-selectors to variables defined in a for-range header because the address of these variables stays the same. That is true when the data is in that address but not if the data is accessed through a pointer.

**To Reproduce**

There are test cases in "testdata/range-val-address.go" that show that there are false-positives.

[2022-04-10 18:44] zimmski commented on #681
Will do a change for this behavior now, since i cannot merge a PR on our side. If you agree with this report i will do a PR.

[2022-04-10 19:11] zimmski commented on #681
Oh wow. Never mind. I just saw that this is all connected to the problem i have with #680. There are no false-positives reported, and they are not marked in those functions. Sorry for the spam.

[2022-04-10 19:11] #681 closed

[2022-04-10 19:26] zimmski commented on #680
Narrowed this down to ".TypeCheck()" throwing an error which is mostly never checked in the repository.

The error is something like `panic: tt.go:3:8: could not import xyz/model (can't find import: xyz/model)`

So the reason for throwing that error is that the type information is not present? My guess is that the type information is loaded from the binary-files which makes it clearer why deleting

[2022-04-10 21:55] mgechev commented on #230
@chavacava might be a better person to have a look at the code with you. I've been mostly focused on TypeScript nowadays.

[2022-04-13 15:24] s3rj1k commented on #520
@chavacava So why not add a configuration option to struct-tag linter?

[2022-04-13 15:31] chavacava commented on #520
@s3rj1k What do you need to configure?

[2022-04-13 16:10] s3rj1k commented on #520
I was thinking of an array with additionally allowed list of tags, to make that `inline` tag allowed per user-configuration

[2022-04-13 17:49] chavacava commented on #520
Could you please develop on the interest of using non-standard options in struct tags?
Why not just remove `inline` from JSON tags? (unknown options are ignored by `encoding/json`)

[2022-04-13 20:06] s3rj1k commented on #520
@chavacava inline tag is needed for kubernetis CRD creation, please see link below
https://book.kubebuilder.io/reference/generating-crd.html#additional-printer-columns

[2022-04-14 07:57] chavacava commented on #520
I do not know about CRD creation but I know that non standard tag options are [ignored by `encoding\json`](https://github.com/golang/go/blob/d2552037426fe5a190c74172562d897d921fe311/src/encoding/json/encode.go#L1213) so its hard to me to imagine what is the interest of using `inline` option.
Did you try to replace `json:",inline"` by just `json:""` when creating a CRD? It should be semantically eq

[2022-04-14 08:05] s3rj1k commented on #520
@chavacava inline is used across all K8s code, for example here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/metaonly/types.go#L30

I would rather use it also like docs say.

Sure, so a list per tag or a map[string][]string

[2022-04-14 08:24] chavacava commented on #520
I know. I use Kubernetes repo as the main sandbox for testing new linting rules because: a) it is a huge repo and, b) it is not famous for its coding style quality ;)

[2022-04-14 08:43] s3rj1k commented on #520
So, either we have some kind of a configurable option for struct-tag, to allow this K8s mess and have other struct tags checked or we go and disable struct-tag linter for specific places or for all code base.

Personally I would be happy with configuration option, that way linter will work on other structs inside project.

[2022-04-14 09:16] johan-lejdung opened #682 "New Rule for warning when fields are not set when initialising a struct"
**Is your feature request related to a problem? Please describe.**
Given the nature of Go there is a lot of translating one struct to another (eg, Create Payload to an Update Payload or simliar). I'm always frustrated when I'm adding new fields, and have to manually remember each mapping function I have. Often times a mapper is forgotten without any visible warnings, and only discovered once a bug

[2022-04-14 11:50] chavacava commented on #682
Hi @johan-lejdung thanks for filling the issue.
As you, sometimes I'm not quite comfortable with GO's structure initialization, and as you, I've searched for some idioms to avoid problems like the one you mention.

Here are some remarks about this subject:
1. GO's philosophy is to [Make zero value useful](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=6m25s)
2. As Rob Pike mentions in the above vid

[2022-04-21 14:04] #619 closed

[2022-04-21 14:11] chavacava commented on #657
Closing without fixing. These kind of false positive are likely to be very rare.
Will re-open if false positives are too noisy.

[2022-05-17 07:45] scop opened #685 "More initialisms"
**Is your feature request related to a problem? Please describe.**

I can think of a bunch of common acronyms that would be good to have built in as initialisms in revive.

**Describe the solution you'd like**

BGP, DB (as in database), MAC (as in address), SCSI, SDN, VRF added.

MAC could be a bit controversial, but I don't see the other ones causing false positives. Not all of them are _that_ co

[2022-05-18 10:24] jwrookie opened #687 "How to check Unused methods?"

[2022-05-18 11:24] chavacava commented on #685
Hi @scop
The rule `var-naming` already accepts as parameter a list of initialisms to check and a list of initialisms to ignore.
You can check the [rule's documentation](https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#var-naming)
For technical details check the [related commit](https://github.com/mgechev/revive/commit/90f51530cc4b7bc0aafc9f8a28c874f1a43143fa)

[2022-05-18 11:24] #685 closed

[2022-05-18 11:32] chavacava commented on #687
Hi @jwrookie, detecting unused (public) methods requires project-wide analysis but `revive` does file-wide analysis thus it can not safely report unused (public) methods.

[2022-05-18 19:35] scop commented on #685
I know, that's what I referred to by "local config" in the initial commit. The point here was to add some common built in ones that people would not have to do that.

[2022-05-19 21:04] scop opened #688 "Enther AST as node for underscore in package name var-naming issues"
**Describe the bug**
Underscore in package name var-naming violations get the entire source of the file printed as context in golangci-lint output.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

[code]

**Logs**
See reproducer and expected behavior.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Version of Go: 1.17.10

**Additio

[2022-05-21 17:50] dschveninger opened #690 "Deprecate the use of words Whitelist and Blacklist"
# Overview
The words whitelist and blacklist been used for years, but with current events we are questioning if we could some more inclusive terms.

## Question
I was wonder if you would be opposed to deprecating the use of the words blacklist and whitelist in this repository?

## Suggestion
I would like to get feed back on either addressing the whole repo

Whitelist https://github.com/mgechev/rev

[2022-05-23 10:49] chavacava commented on #690
Hi @dschveninger, thanks for filling the issue.

Changing all internal declarations and references to `whiteList` and `blackList` seems OK and without risk.
On the other side, changing rule names (like `import-blacklist`) and rule configurations should be done very carefully.
I propose to go ahead with your suggestion in three steps:
1. refactoring internal use of `whiteList` and `blackList`
2. **

[2022-05-27 13:42] MarcelXia opened #691 "False positive on const missing comment"
**Describe the bug**
False positive : exported const TTLkey should have comment (or a comment on this block) or be unexported

**To Reproduce**
[code]
When the comment is above it, it won't complain, but when it is after it (same line) it complains.

Using revive 1.2.1
Command:
revive -formatter friendly -exclude ./vendor/... ./...

[2022-05-28 07:52] chavacava commented on #691
Hi @MarcelXia, thanks for filling the issue.

[2022-05-30 20:11] johan-lejdung commented on #682
Hi @chavacava, thanks for the detailed response!

You raise good points, although there are some workaround it's a bit clunky. For example there is no way to enforce use of constructors, so even if you use one it's not immediately clear that the struct should only be initialised through constructors.

Additionally depending on the use-case it can be very hard to make zero-value useful. But I'm get

[2022-06-01 02:21] ifooth commented on #691
same issue +1

[2022-06-01 04:07] okhowang opened #693 "Package comment is not confidence"
**Is your feature request related to a problem? Please describe.**
Currently, a file without doc is reported by rule `package-comments` with confidence 0.2 .
but it is not check is there other files in package have doc.
I want make this rule more confident

**Describe the solution you'd like**
check package comment in package level

**Describe alternatives you've considered**

**Additional context

[2022-06-01 07:14] chavacava commented on #693
Hi @okhowang thanks for taking the time of creating the issue and developing a fix. Could you please create the pull request to integrate your code?

[2022-06-15 21:21] oschwald opened #697 "error-strings function list should be user configurable"
**Is your feature request related to a problem? Please describe.**

Our code-base has error strings that are not being checked by `error-strings`.

**Describe the solution you'd like**

Currently, `error-strings` uses a [hardcoded list](https://github.com/mgechev/revive/blob/04728cf0de86ab99fb3327a1ea48f7d51a411352/rule/error-strings.go#L20-L32) of functions that it checks. We use an internal pack

[2022-06-18 16:47] #669 closed

[2022-06-19 11:21] #693 closed

[2022-06-21 05:47] nobu-k opened #698 "False positive on empty select block"
**Describe the bug**

`empty-block` complains about `select {}` that `empty-block: this block is empty, you can remove it`.

**To Reproduce**

[code]

**Expected behavior**

It shouldn't be an error as it's a valid way to block forever.

**Logs**

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Version of Go: 1.18.1

**Additional context**

I used revive via

[2022-06-22 11:42] chavacava commented on #698
Hi @nobu-k, thanks for creating the issue.
IMO, the frequency of use of an empty `select` is very low to deserve a refactoring of the rule.
For these rare cases I suggest to [deactivate the linter rule at the specific line](https://github.com/mgechev/revive#comment-directives): `//revive:disable-line:empty-block`

[2022-06-23 06:43] nobu-k commented on #698
It's definitely rare and I didn't even see it for a long time, so I totally agree with your opinion.

I've already applied the workaround you mentioned (via golangci-lint's `// nolint`), but I just wanted to let you know about the issue in case it was easy to fix. I'm closing this issue. Thanks for the clarification!

[2022-06-23 06:43] #698 closed

[2022-06-25 08:43] chavacava commented on #691
Hi, I've created the PR #700

GO parser makes the difference between _comment_ and _documentation_
[code]
`revive` checks the content of _documentation_. For example in the following code it will complain if the documentation text does not start with the name of the constant
[code]

The PR, applies the same checks to _comments_, i.e. on

[code]
it will complain because the comment does not of the

[2022-06-28 06:19] chavacava commented on #691
Sure, the parser attaches _documentation_ and _comments_ to statements.
My question is about the pertinence of enforcing on _comments_ the same style rules that are enforced on _documentation_ (case 3 below)

There are the following cases:
Case 1: no doc, no comment
[code]
`revive` will complain about the absence of doc

Case 2: doc, no comment
[code]
`revive` will complain iff the **doc** style i

[2022-06-30 06:31] vposhamod opened #701 "regex based exclude param"
**Is your feature request related to a problem? Please describe.**
I would like to include some rules like function-length, line-length-limit, etc. on actual code and ignore them on unit test files. Especially as go has multi input args based unit tests - they tend to make the function big.

**Describe the solution you'd like**
Supporting something like this ```-exclude "*_test.go"``` will  work f

[2022-06-30 06:35] vposhamod commented on #701
Some history on this feature here too - https://github.com/mgechev/revive/issues/347

[2022-06-30 06:46] chavacava commented on #701
Hi @vposhamod thanks for filling the issue.

You can completely disable these rules (on _actual code_ and on tests) through [configuration](https://github.com/mgechev/revive#configuration):

[code]
Does that solve the problem?

[2022-07-01 20:19] vposhamod commented on #701
Thats really a useful rule for actual code and not for unit test cases. @chavacava

[2022-07-04 07:59] chavacava commented on #701
I misunderstood your first comment ("_I would like to **exclude** some rules ... on **actual code** ..._"), my bad.

Using the command line flag `-exclude` might be too coarse grain: no rule at all will be applied to the files matching the pattern (in your example, test files will be totally ignored by `revive`)

A more fine grained possibility might be to set exclusion patterns as per rule:
[code

[2022-07-05 03:46] git-hulk commented on #697
@chavacava I would like to resolve this issue if no one took it.

[2022-07-05 08:14] git-hulk commented on #670
@chavacava I would like to handle this issue.

[2022-07-05 19:51] #697 closed

[2022-07-06 03:57] git-hulk commented on #670
It's true since revive will check nothing when the block list is empty, so any empty line in the empty block will be ok(I think it can also regard as a bug).

[2022-07-06 04:10] git-hulk commented on #670
For this case:
[code]

The owner(key in `w.cmap`) of the comment line is `FuncDef` instead of the last node, so is between comment check is false. The workaround can be that records the current block's FuncDef and lookup the comment group with `FuncDef` node as well. How do you think about this solution?

Workaround from the user side can be:

[code]

[2022-07-06 23:57] mgechev commented on #701
I agree that's adding complexity to the configuration. Maybe we can keep this feature request open for a bit to collect feedback from folks and decide based on the demand.

[2022-07-08 17:49] chavacava commented on #670
Fixing the bug might require to stop using the `cmap` as it is currently used.
The way comments are attached to the AST nodes does not help us.

We could just extract from `cmap` the list of positions (line, col) of all comments in the whole source file. Then, using that list, for each statement block we can check if there is an empty line (i.e. without an statement or a comment) just after/before

[2022-07-08 18:35] chavacava commented on #670
@git-hulk please take a look into [this commit](https://github.com/mgechev/revive/commit/bf23317d8f65a77d2f4d72d4dfbbdd6782a242b5) as a guide on how the bug can be fixed

[2022-07-11 05:34] git-hulk commented on #670
Cool, thanks for @chavacava guide.

[2022-07-11 07:57] git-hulk commented on #671
Currently, revive supported the ignore list but it used AST subtree to match
the ignore function name. For example, we need to add `b1.WriteString`
to the ignore list:

[code]
This will be trivial when the variable names were different, so I'm wondering
whether below rules is good to guys or not:

1. `WriteString` will ignore all function calls named with `WriteString`
2. `xxx.WriteString` will ig

[2022-07-12 12:11] git-hulk opened #705 "Does it make sense to check the duplicate struct tag name?"
**Is your feature request related to a problem? Please describe.**
Duplicate tag name should make no sense in the same struct and most of
cases should be mistaken, so I think we can check the struct tag.

**Describe the solution you'd like**

Check whether has the duplicate struct tag key or not

**Describe alternatives you've considered**
No

**Additional context**
No