[2022-07-12 12:39] git-hulk commented on #705
Yes, I guess the tag key in most tag types should be unique. I will have a check and post them here.

[2022-07-12 12:58] git-hulk commented on #705
`revive` supported `ASN1`/`BSON`/`JSON`/`ProtoBuf`(Not implemented yet)/`XML`/`YAML` now, all tag type should be unique except `ASN1` which required the unique tag number instead of the tag key. Correct me if I was wrong. @chavacava

[2022-07-13 09:18] zimmski commented on #680
Sounds great, looking forward to your fix :-) Ping me when i should test it with our CI.

[2022-07-13 12:39] chavacava commented on #680
Type information of each package is calculated lazily. The calculation relies on the GO's `type` package (`go/types.Config.Check`)
My understanding of @git-hulk proposition: to make the type calculation _greedy_ (instead of _lazy_) and to make all type information accessible from any package. Is my understanding right?

[2022-07-13 12:58] chavacava commented on #671
Trying to handle all cases by matching strings will necessarily be and incomplete and uncomfortable solution. For example, using string matching to ignore the following call
[code]
will require to add `b1.WriteString` to the ignore list. So far so good. If we now add a new variable to our code:
[code]
we need to add `b2.WriteString` to the ignore list... and that is not comfortable and it does not

[2022-07-13 16:15] git-hulk commented on #680
Yes, but I found that it still didn't work after loading the package first, need do more investigations on this issue.

[2022-07-13 18:26] #705 closed

[2022-07-14 13:15] #670 closed

[2022-07-17 20:02] zimmski opened #709 ""context.Context" should not be the first parameter when a testing parameter is used"
**Describe the bug**

When one defines a testing helper e.g.

[code]

revive complains that context parameter should go first.

**Expected behavior**

I argue that "t *testing.T" (and i guess the benchmark parameter) should go first. AFAIK this is the case for every assert functionality.

[2022-07-18 06:50] chavacava commented on #709
Hi @zimmski, the rule `context-as-argument` can be parametrized to accept other parameters before context.
More details [here](https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#context-as-argument)

Please let me know if that can resolve your problem.

[2022-07-20 08:55] Abirdcfly opened #710 "add testing.FailNow and related function to unreachable check"
**Is your feature request related to a problem? Please describe.**

A simplified code is as follows:
[code]

The actual code can be seen in k8s https://github.com/kubernetes/kubernetes/pull/111228/files#diff-b5b428649cab55e247eddbd00bc278c628c40ed524814ffe9dede44af19ee3b5R1899 and etcd https://github.com/etcd-io/etcd/pull/14235

**Describe the solution you'd like**
I wish there was a way to detect

[2022-07-20 16:19] ldez opened #713 "gcexportdata.NewImporter: huge impact on performance"
**Describe the bug**

`gcexportdata.Find` has been rewritten:

- https://go-review.googlesource.com/c/tools/+/310515
- https://github.com/golang/tools/commit/2a900561e78a69afe5828ff8388aeb0dfc6220dc

`gcexportdata.NewImporter` uses `gcexportdata.Find`.

And `revive` uses `gcexportdata.NewImporter`:
https://github.com/mgechev/revive/blob/60e1ae4a014ff158513922aff1597ec974945546/lint/package.go#L30

[2022-07-20 16:29] Trim21 commented on #713
it looks like this function is only for go files' type checking.

[2022-07-20 16:37] ldez commented on #713
@Trim21 The replacement is defined inside the deprecation notice: https://github.com/golang/tools/blob/79f3242e4b2ee6f1bd987fdd0538e16451f7523e/go/gcexportdata/importer.go#L26

[2022-07-20 22:41] #710 closed

[2022-07-21 17:33] chavacava commented on #713
Hi @ldez, thanks for proposing this improvement. I'll work on it in the next days.

[2022-07-21 20:09] chavacava commented on #713
Update: I have a working version where the problematic lib was replaced with `go/packages` (huge modif)
PR: #716

TODO:
1. check if perf is better wrt the `master` branch
2. fix test data (`go/packages` requires go files to be compilable... testdata are syntactically OK but it do not necessarily compile :( )
3. only type check if a type-dependent rule is activated (at the moment type information i

[2022-07-22 05:51] Abirdcfly opened #717 "unreachable-code rule has some flaws"
I noticed that in some cases we give unreachable code incorrectly and in other cases we cannot detect unreable code.

Just pointing it out for others to see. If anyone wants to fix it, I'd appreciate it!

[code]

[2022-07-23 07:40] Groxx opened #718 "Capture more bad / risky defer+recover patterns"
While cleaning up some code in a repo I work on, and attempting to lock down our `defer` rules, the first round of fixing the problem led to code like this:
[code]
turning into code like this:
[code]
... which trades one issue for another.

---

Since our underlying goal is to block all non-deferred recovers because it's error-prone (there are a few flaws in our codebase motivating this cleanup),

[2022-07-23 07:53] armsnyder commented on #680
For anyone using golangci-lint with both `revive` and `ireturn` linters enabled, I've found that this combination induces this non-determinism.

Using golangci-lint v1.47.1

Repro steps:

[code]

[2022-07-23 07:54] chavacava commented on #713
Using `packages` in place of `gcexportdata` beaks some (important) things and I did not find simple solutions:
- Now the code to be analyzed needs to compile. Before a syntactically correct code was enough. (will need to update all the `testdata`)
- Now `revive` needs to be aware if the analyzed code is developed as a `mod`ule or not. Before `revive` just run on any code base

[2022-07-23 12:31] chavacava commented on #717
IMO both cases are unreachable code. There is no reason the `os.Exit(1)` in function `A` does not take the control out of the program ([actual example](https://go.dev/play/p/KYPPIDo4jxK)), thus spotting the next sentence as unreachable is not a false positive.

To spot the second case we could exploit the import [alias information in the AST](https://pkg.go.dev/go/ast#ImportSpec) and retrieve the

[2022-07-24 02:33] Abirdcfly commented on #717
I agree with the other parts.

as for the first case, the `panic` acts as a `return` statement in many functions that require a return value, just so the compiler doesn't report an error.

in the case of the above example, if I delete the panic statement on `func A() int{}`, I get an error when compiling`. /main.go:17:1: missing return`.

[2022-07-24 07:26] chavacava commented on #717
Yes but it changes nothing to the unreachable nature of the statement thus it is difficult to argue the warn is a _false positive_.

For the sake of comfort (i.e. to avoid adding a comment to deactivate the linter in that exact line) One thing we could do is to do not warn if the unreachable statement is exactly `panic("unreachable")`

[2022-07-24 07:34] #718 closed

[2022-07-24 07:37] chavacava commented on #709
Hi @zimmski I'll close this issue. If the solution described in my previous comment does not fit your needs we will re-open this issue.

[2022-07-24 07:37] #709 closed

[2022-07-25 13:08] zimmski commented on #709
Sorry i overlooked that option, will read the documentation more carefully before i report next time. Thanks so much, works perfectly!

[2022-07-26 06:48] git-hulk commented on #680
This issue should can be fixed after #716 since it'll load all packages.

[2022-07-26 09:51] chavacava commented on #680
Yes. The packages management will change completely and it is possible #716 is no longer an issue.

[2022-07-26 11:05] git-hulk commented on #680
Cool, can do many checks after this PR since we have enough type infos. I'm wondering if we can introduce go/packages when try to fix this issue because this will break many test cases.

Anyway, I like this change, also can have a hand on fixing those testdata if you need.

[2022-07-26 11:12] chavacava commented on #680
Yes, type info allows to implement some fancy checks but nothing is free... type info calculation takes time.
The idea (as is the case in the current version of `revive`) is to only trigger type info calculation if there are activated rules depending on that info.

Thanks! At some point I will ask for help on fixing some things like testcases.

[2022-07-29 22:47] mgnsk opened #721 "`unused-parameter` marks unused parameter as used due to identical field in composite literal struct"
**Describe the bug**
The `unused-parameter` rule doesn't detect unused parameter when the function body constructs a struct containing a field with the same name as the parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Installed revive from git
[code]
Config

[code]
2. The following file should give an error

[code]

[code]

**Expected behavior**
Expected an error saying that the `u

[2022-07-30 17:57] mgnsk commented on #721
It's a bit more complicated than that.

Given the following new testcases, `f10` and `f11` fail to match an error because it doesn't detect that `unused` is a struct field. `f12` correctly succeeds.

[code]

There are some nuances - if the struct was defined in another package, then it only has exported fields. Function parameters usually begin with a lowercase character, this means the struct typ

[2022-07-31 16:42] chavacava commented on #721
Hi @mgnsk, thanks for filling the issue, the complete analysis and the PR!

As you mentioned, the current implementation uses `ast.Object` to distinguish among all the identifiers and in some cases it is not enough to correctly differentiate two identifiers with the same name (for example a parameter from a struct field)

Leveraging type information solves the problem but at the price of requiring

[2022-07-31 16:52] ldez commented on #713
`golang.org/x/tools` has created a release v0.12.0 with the new implementation of `gcexportdata.Find`.

I don't know how I can help you.

related to #720

[2022-08-01 06:52] mgnsk commented on #721
I see now, there's a pretty significant performance drop:
[code]
->
[code]

The specific case I had was during refactoring old code to add context support, actually using the new `ctx` parameter was forgotten:
[code]

[2022-08-01 08:28] #721 closed

[2022-08-02 05:43] chavacava commented on #721
@mgnsk I'll study the case and see if it could be detected without using type info

[2022-08-02 20:54] mgechev commented on #713
I'll connect with the Go team and see if there's anything we can do.

[2022-08-02 21:20] mgechev commented on #713
Looks like lots of folks are out of office. Seems like `NewImporter` is deprecated. I put together a quick fix. Wondering if it resolves the performance issue? https://github.com/mgechev/revive/pull/723

[2022-08-02 21:22] ldez commented on #713
you can clone https://github.com/kubernetes-sigs/cluster-api to test your PR

[2022-08-02 21:24] ldez commented on #713
I tested your PR, it seems to work

[2022-08-02 21:45] Trim21 commented on #713
tested, looks good

[2022-08-03 17:48] notjedi opened #724 "prefer XDG_CONFIG_HOME for getting the revive.toml config file"
**Is your feature request related to a problem? Please describe.**
A lot of linux programs prefer `XDG_CONFIG_HOME` for default configuration. So a lot of linux users might prefer the default `XDG_CONFIG_HOME` instead of `HOME`.

**Describe the solution you'd like**
Check for the `revive.toml` file in `XDG_CONFIG_HOME` first and then check for it in `HOME`(for backward compatibility)

[2022-08-04 12:33] ldez commented on #713
I did tests inside golangci-lint and it seems to works as expected.

[2022-08-04 22:19] mgechev commented on #713
Thanks for giving it a try! I'l let @chavacava review and merge.

[2022-08-05 23:13] vposhamod commented on #701
I corrected it.

[2022-08-07 02:37] mgechev commented on #713
Released in v1.2.2.

[2022-08-07 02:37] #713 closed

[2022-08-07 02:59] mgechev commented on #717
Can we close this issue accepting the flaws?

[2022-08-07 03:00] mgechev commented on #690
@dschveninger do you want to move forward opening a PR? I'd love to make this change happen.

[2022-08-07 03:01] mgechev commented on #682
Let's close this feature request for now.

[2022-08-07 03:01] #682 closed

[2022-08-07 03:02] #674 closed

[2022-08-07 03:04] mgechev commented on #656
Closing due to inactivity.

[2022-08-07 03:04] #656 closed

[2022-08-07 03:05] mgechev commented on #607
Is this still relevant? The issue seems fixed and we're using the latest parser.

[2022-08-07 03:06] mgechev commented on #541
Let's keep the configuration as simple as possible for now unless this turns into a highly desired feature.

[2022-08-07 03:06] #541 closed

[2022-08-07 03:06] #490 closed

[2022-08-07 03:07] 89z commented on #656
don't you mean, wont fix? otherwise, you should probably update the readme, to reflect that you only accept feature requests in PR form

[2022-08-07 03:07] mgechev commented on #486
Let's keep it outside the scope of the project for now.

[2022-08-07 03:07] #486 closed

[2022-08-07 03:07] #446 closed

[2022-08-07 03:07] #444 closed

[2022-08-07 03:08] #427 closed

[2022-08-07 03:08] #97 closed

[2022-08-07 03:08] mgechev commented on #97
We're keeping the package-wide analysis out of scope for now to keep revive performant. Closing for now.

[2022-08-07 03:28] mgechev commented on #713
The release failed. @doniacld, @Clivern if you have a moment would you check `.goreleaser`? Looks like it complains about failing build for windows arm64.

[2022-08-07 03:34] mgechev commented on #713
Moved windows_arm64 to the ignore list of `.goreleaser.yml` for now.

[2022-08-07 03:35] ldez commented on #713
Maybe you can create a different issue to track this problem?

[2022-08-07 12:26] Clivern commented on #713
it seems `goreleaser` dropped windows arm64 support for go < 1.17 for some reasons.

[code]

Anyways i opened a PR to use 1.19 for release since i see we did the upgrade! also removed 1.16 build that keeps failing. https://github.com/mgechev/revive/pull/727

[2022-08-07 16:51] ernestoalejo commented on #97
@mgechev Sorry but I think this issue is about splitting a rule that does two checks in two different rules so we can control them independently of each other. For example I want to lint the variable names but I also want to ignore `this_package_names` and right now I need to keep a custom fork to do that. I fail to see how keeping both checks in the same rule keeps revive more performant.

[2022-08-07 20:31] mgechev commented on #713
Good catch, @Clivern! Thank you for the fix.

[2022-08-08 06:39] #717 closed

[2022-08-08 07:51] mx-psi commented on #607
This can still be reproduced with the latest version (`main.go` being the file on my original comment):

[code]

The issue upstream was not fixed by fixing the parser, but by applying a workaround on gopls. The solution would be to apply the same workaround here.

[2022-08-08 09:40] ccoVeille opened #729 "banned-characters rule prevents to use enableAllRules"
**Describe the bug**
The documentation is misleading about the default configuration when using enableAllRules

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

So the exact block currently documented in the README.md file

**Expected behavior**
Have no panic, and

[2022-08-08 11:21] #729 closed

[2022-08-11 09:51] chen3feng opened #731 "[rule.unnecessary-stmt] misreport for type assertion"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

with config:

[code]

**Expected behavior**
Should no warning

**Logs**
Report message:

[code]

**Desktop (please complete the following information)

[2022-08-11 10:01] #731 closed

[2022-08-11 10:03] chen3feng commented on #731
It can be rewrite to:

[code]

sorry for bothering.

[2022-08-12 07:36] chen3feng opened #732 "[rule.import-blacklist] should allow check tests"
**Is your feature request related to a problem? Please describe.**
Hi, I' using revive to check my team's project, it's great.

I want to disable an unmaintained and archived package, but it doesn't work:

[code]

So I checked the source code and found that:

[code]

**Describe the solution you'd like**
I don't know why this design, but at least it should be configurable.

Thanks!

[2022-08-12 08:08] chavacava commented on #732
Hi @chen3feng, thanks for filling the issue.
I do not remember why this exception was added. As you said, it could be configurable. For backward compatibility reasons, if we add a configuration, the default behavior must be the current one (ignore test files)

[2022-08-12 17:25] freeformz commented on #732
I'd like to take a look at doing this. @chavacava do you think this is satisfied by a global option to include tests? Or should it be an option to only this rule? Or should it be per argument (in the case where a user would want to include tests for package foo, but not package bar? Or something else?

[2022-08-12 18:25] freeformz commented on #732
Some options here...

Global
[code]

For the entire rule
One option is to treat certain strings as config options, something like with a special prefix like so...
[code]

or

allow either a []string (for backwards compatibility) or a []map[string]interface{} and DTRT in either case like so...
[code]

the above extends out well if different imports apply a different config....

[code]

[2022-08-15 15:24] burdiyan opened #733 "Bug: error-string work only for punctuation"
**Describe the bug**

The lint rule `error-strings` has two check, error strings should not be capitalized, and should not end with punctuation. It seems to be ignoring the case of capitalization.

**To Reproduce**

`
var errHello = errors.New("Hello world")
`

**Expected behavior**

Linter should complain about capitalized error string.

**Desktop (please complete the following information):**

[2022-08-16 04:38] chen3feng opened #735 "[Feature request] Check comment spacing"
**Is your feature request related to a problem? Please describe.**

In our projects, some comments didn't follow the style guides, such as commented code:

[code]

or the normal comments:

[code]

There should be a space between the leading `//` and the comment text.

**Describe the solution you'd like**
Add a rule to check commit spacing.

But for line comments, special comments such as compile d

[2022-08-18 19:22] mgechev commented on #733
@burdiyan would you want to open a PR with a fix?

[2022-08-18 19:23] mgechev commented on #735
I'd like that rule! Do you want to implement it and we can merge?

[2022-08-18 20:37] hansgylling opened #736 "Data race in rule function-length"
**Describe the bug**
When revive is installed with Go's race detector enabled, any use of the function-length rule triggers a data race.

**To Reproduce**
Steps to reproduce the behavior:
1. Install revive with the race detector enabled `go install -a -race github.com/mgechev/revive@latest`
2. Run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
No data race

[2022-08-19 15:21] hansgylling opened #737 "Update instructions from using go get to using go install"
**Describe the bug**
The project have some old files with instructions that tells the reader to use `go get -u` to install revive. I believe this should say `go install` nowadays. The files I have seen so far are `DEVELOPING.md` and `.github/ISSUE_TEMPLATE/bug_report.md`, but it could be a good idea to look for more instances with `grep -r -F 'go get'`

[2022-08-19 19:41] chavacava commented on #736
Hi @hansgylling, thanks for filling the issue.
Could you please check if the branch https://github.com/mgechev/revive/tree/fix/736 fixes the problem?

[2022-08-20 08:55] burdiyan commented on #733
@mgechev Unfortunately, no. I'm very short on time lately.

[2022-08-21 10:35] hansgylling commented on #736
Yes, I can test. I can probably do it tomorrow or on Tuesday.

[2022-08-23 16:11] Integralist opened #738 "Ignore rules set via flag"
**Is your feature request related to a problem? Please describe.**
I have my editor setup to run revive on the current file. Revive will report (as an example) `should have a package comment` but if I run revive across the whole project it's fine because revive will see another file under the same package has a comment. The downside to running revive across the whole project is that it will report

[2022-08-23 18:14] chavacava commented on #738
Hi @Integralist, thanks for filling the issue.
You can enable/disable rules through the configuration file. You can setup your IDE to run `revive` with the configuration file of your convenience.

[2022-08-23 20:04] #738 closed

[2022-08-23 21:39] hansgylling commented on #736
I have tested now and I can't reproduce the race condition using your branch. I tried both the original config file in the bug report and a config file using all rules at once.

[2022-08-24 07:18] chavacava commented on #736
Thanks for the check @hansgylling

[2022-08-24 18:40] mgechev commented on #737
Hey @hansgylling do you want to open a PR with the update?

[2022-08-25 01:55] twmb opened #739 "empty-lines false positive as of 1.2.2"
Single line functions are flagged as having an erroneous newline at the start and end as of revive 1.2.2.

main.go:
[code]

config.toml:
[code]

[code]

[2022-08-25 02:05] twmb opened #740 "package-comments flags main as of 1.2.2"
This might not be a bug, but I'd like to clarify if this is intentional. It's not common to document main packages, I personally plan to disable the rule if it continues to lint documenting main.

[2022-08-25 11:53] atc0005 opened #741 "`cmd/check_whois/main.go:8:1: should have a package comment` linting error emitted as of v1.2.2"
**Describe the bug**

The golangci-lint project updated its bundled copy of this linter from v1.2.1 to v1.2.3 for its v1.49.0 release. I've enabled the setting in golangci-lint to enable *all* checks that I've not explicitly disabled. As of the v1.48.0 release I received no complaints from `revive` for package-comments.

As of the v1.49.0 release I'm seeing this error for a small project that I ma

[2022-08-26 12:08] hansgylling commented on #737
Yes, I was thinking I could fix it myself. I didn't have much time when writing the bug, but could do it now. I have ran the grep command I suggested and didn't find any other file.

I will say that I'm not used to Github (we use Gitlab at work) and I haven't made any pull request on Github yet, so I will need to figure that out and may make some mistakes along the way. We'll see.

[2022-08-27 07:34] chavacava commented on #741
Hi @atc0005 thanks for filling the issue.
I've checked out your example repo and (as you mention) there is a `main/doc.go` at the root directory of the project and a `main/main.go` at `cmd/check_whois` directory.

`revive` (GO in fact) does not see both files under the same package. As the [official GO doc](https://go.dev/doc/code#Organization) states (bolds are mine):

After moving `doc.go` into

[2022-08-27 08:00] chavacava commented on #740
Hi @twmb, thanks for filling the issue.

Well, even if documenting `main` packages might be not so common, the [official guideline for documenting GO code](https://tip.golang.org/doc/comment) says they should be documented:

and it also provides an example for a `main` package:
[code]

As a reference, [standard GO tools](https://cs.opensource.google/go/x/tools/+/master:cmd/) have documented main p

[2022-08-27 11:18] #739 closed

[2022-08-27 11:22] chavacava commented on #737
Hi @hansgylling, I'll be glad to help you with the PR process.

[2022-08-27 12:06] atc0005 commented on #741
@chavacava

Thank you for the detailed response.

I appreciate how even though I am wrong you took the time to (respectfully) correct me and point me to the official docs for further reading.

Thanks.

[2022-08-27 12:07] #741 closed

[2022-08-29 18:55] mgechev commented on #736
@chavacava let me know if you'd like to open a PR so we can do a release.

[2022-08-30 01:26] hawkingrei commented on #740
We have meet this problem, too. but we are not main package.

https://github.com/pingcap/tidb/pull/37413

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_build/detail/tidb_ghpr_build/78196/pipeline

[code]

https://github.com/pingcap/tidb/blob/a80078538d366d55acfc34dd772b1977a720a9bc/util/texttree/texttree.go#L14-L16

[2022-08-30 20:40] chavacava commented on #736
I have restricted Internet access until the week-end. If the release can wait, I'll make the PR by saturday

[2022-08-31 15:06] Integralist opened #743 "allowInts doesn't ignore the set integers"
**Describe the bug**
I configure `allowInts: "0,1,2,3,4,5"` for the `"add-constant"` rule but still my editor reports that I should add a constant when seeing those integers.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go get -u github.com/mgechev/revive`
2. I run it with the following flags & configuration file:

[code]

[code]

**Expected behavior**
I expected lines l

[2022-08-31 18:19] hansgylling commented on #743
Are you expecting to install a binary of the latest version of revive when you run the command `go get -u github.com/mgechev/revive`? Because if you use Go 1.18 or later that doesn't happen. You need to use the command `go install github.com/mgechev/revive@latest` instead. This probably doesn't explain your bug, unless there has been a bugfix for the `add-constant` rule in a recent release, but it

[2022-08-31 18:44] hansgylling commented on #743
I have figured it out. You use the wrong syntax in your config file. I wrote some simple Go code and copied the section about add-constant from your config file and could reproduce your problem. Use this config file instead and you problem should go away:
[code]

What I wrote above about using go install has nothing to do with your bug, but could be good to know anyway.

[2022-08-31 20:18] Integralist commented on #743
Thanks. I actually use the @latest module approach for installing. The -u version was just part of the bug issue template 😬

I'll give the updated syntax a try in my morning and will report back. Thanks for testing this out. 👍

[2022-08-31 20:43] hansgylling commented on #743
I've already filed bug #737 to update the bug template and I will fix that soon (when I've learned a bit more about how Github works).

[2022-09-01 10:48] Integralist commented on #743
This worked for me, thanks! 🙂

[2022-09-01 10:48] #743 closed

[2022-09-02 00:10] chen3feng commented on #735
I'd like to implement this feature.

[2022-09-02 02:44] twmb commented on #740
I'm open to it, but I think it's worth a quick survey of the packages that already use revive to see if they currently document main. I never have -- I document my main packages elsewhere. As well, main packages do not follow the common `Package main ...`, as seen in the linked post above.

[2022-09-02 16:48] Integralist opened #744 "`chan struct{}` triggers nested-structs error"
**Describe the bug**
`chan struct{}` triggers the nested-structs error.

**Expected behavior**
I expected this use case to be ignored.

**Desktop (please complete the following information):**
 - OS: macOS Monterey
 - Version of Go: 1.19

**Additional context**
I'm presuming this is a false positive bug and there's no idiomatic go way to work around it (apologies if there is and I wasn't aware).

[2022-09-03 07:12] chavacava commented on #744
Hi @Integralist, thanks for filling the issue.
Does your issue refer to false-positives in cases like
[code]
?
If yes, the branch [fix/744](https://github.com/mgechev/revive/tree/fix/744) should fix the problem. Could you confirm?

[2022-09-03 07:21] chavacava commented on #740
Hi @hawkingrei , I've checked the [code you point in your comment](https://github.com/pingcap/tidb/tree/a80078538d366d55acfc34dd772b1977a720a9bc/util/texttree) and I've seen there is no documentation for the `texttree` package. Thus `revive` pointing that lack of documentation seems OK to me. Do you agree or I'm missing something?

[2022-09-03 07:24] chavacava commented on #740
Yes, [`revive` takes that into account](https://github.com/mgechev/revive/blob/553604eaced55ff3b0262525fa1cc19233cce297/rule/package-comments.go#L153)

[2022-09-03 12:02] chavacava commented on #733
Hi @burdiyan, I'm trying to reproduce the problem but without success at the moment.

Target file (`deleteme.go`)
[code]

Config file
[code]

Run `revive` with:
[code]

Result:
[code]

Could you please provide more information on how (config, command line, ...) you run `revive` to get the behavior you describe in the issue?

[2022-09-05 08:55] Integralist commented on #744
Hi @chavacava correct! I've noticed it specifically here where we have a struct field of `chan struct{}`:

https://github.com/fastly/cli/blob/c4a65100aeacabc740e5032c81034c15beed6ab3/pkg/commands/logtail/root.go#L30-L42

[2022-09-05 09:11] #744 closed

[2022-09-06 09:59] cyril1929 commented on #739
Shouldn't we create a v1.2.4 tag, to formalize this correction ?

[2022-09-10 07:08] #736 closed

[2022-09-10 16:54] hansgylling commented on #736
Thanks for fixing this bug.

[2022-09-11 21:50] burdiyan commented on #733
I was using revive via golangci-lint. And I made sure this particular rule is not disabled by their own config somehow. Will try to prepare more exact steps to reproduce. I believe I also tried doing this with revive itself (precisely to make sure it was revive issue and not something external), and it was also reproducing the same issue, but I’m not quite sure at this point.

Unfortunately I’m a

[2022-09-21 11:51] jan-dubsky opened #747 "Please release a new patch version."
We'd love to upgrade to the latest version of `go-revive` because of Go 1.19 support. Unfortunately our codebase uses many single-line functions, so the bug in #739 blocks us from upgrading. Would it be possible to release a new patch version of `go-revive` so that we can upgrade? Thank you!

[2022-09-23 11:36] rawen17 commented on #747
We have the same issue and ask to please release a new version. Thank you!

[2022-09-26 07:32] psmarcin commented on #747
I have similar situation. Please bump version.

[2022-09-27 17:01] mgechev commented on #747
Just pushed https://github.com/mgechev/revive/releases/tag/v1.2.4 and waiting for the GitHub action to release.

[2022-09-28 21:01] menma1234 opened #748 "Disable var-naming rule if type is implementing generated interface"
**Is your feature request related to a problem? Please describe.**

We use a library that generates some interfaces that need to be implemented ([gqlgen](https://github.com/99designs/gqlgen/)) and it will generate interfaces that don't necessarily conform to the `var-naming` rule\, e.g. `Vm`.

When creating types that implement these interfaces, the function implementation name gets flagged by the

[2022-09-29 09:47] chavacava commented on #748
Hi @menma1234, thanks for filling the issue.

Unfortunately, solving the problem you describe requires a global analysis of the project's code base and `revive`, for the sake of performance and simplicity,  does only file-scoped analysis.

Further, I think the naming problem of the generated code should be addressed at the generation library: make the gen lib generate GO idiomatic identifiers.

[2022-09-29 09:47] #748 closed

[2022-09-29 13:57] Dentrax opened #749 "panics with `enable-all-rules: true`: not enough arguments for cyclomatic rule, expected 1, got 0"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

Ref: https://golangci-lint.run/usage/linters/#revive

[code]

[code]

**Expected behavior**
It should work?

**Logs**
See the first section.

**Desktop (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04]
 - Version of Go 1.19.1

[code]

**Additional context**
Add any other context about t

[2022-09-29 17:35] chavacava commented on #749
Hi @Dentrax, thanks for filling the issue.

As is stated in the Configuration section of the README.md:
_ When enabling all rules you still need/can provide specific configurations for rules._

Rules like cognitive-complexity *require* to be parametrized to run.
The same section of the README provides a complete example of configuration with alll rules enabled.

(The idea of using default values f

[2022-09-29 19:18] Dentrax commented on #749
Sorry, I missed this! Isn't that a bit too complex for the end-user? This was my first try to run `revive` using golangci-lint and I got panic in first attempt. We can clarify the message instead of throw error for better UX.

Shouldn't all rules have _default_ values? The end user could not know the _best value_ for a specific rule. For example, I could not know the correct _parameter_ for the _c

[2022-10-01 07:00] doniacld commented on #737
@chavacava I think the issue is fixed, you can close it.

[2022-10-01 09:43] chavacava commented on #737
@doniacld there are still some references to `go get` in the project documentation

[2022-10-01 12:13] chavacava commented on #749
[code]
Do you think the message is not clear enough?

About default values, see below.

End users of tools like `revive` are not lambda end-users but actual developpers.

The simplest way of running `revive`:  `revive ./...`
Yes it does not "run everything" but it is simple.

Expectations are very personal. For example I'll be surprised if `revive` warns me about code lines longer than 80 characte

[2022-10-01 16:54] #747 closed

[2022-10-02 00:19] attiss commented on #737
@chavacava I'd be happy contribute these updates to the docs.

[2022-10-03 16:27] attiss commented on #737
https://github.com/mgechev/revive/pull/750

[2022-10-04 08:23] rawen17 opened #751 "[rule.add-constant] add ''ignoreFuncs' to exclude constants in functions"
**Is your feature request related to a problem? Please describe.**
I want to add 'ignoreFuncs' in configuration
to have a possibility to exclude constants in functions

[code]

**Describe the solution you'd like**
I want to create PR with changes, which add this feature

[2022-10-04 08:26] #737 closed

[2022-10-04 08:33] hansgylling commented on #737
Thanks for doing this. I said I would do it, but I've been very busy with work and life.

[2022-10-04 20:14] qascade commented on #735
Hi, May I work on this issue?

[2022-10-05 12:20] marek-valuch opened #752 "Rule `add-constant` is not working"
**Describe the bug**
Arguments in rule `add-constant` doesn't work

[code]

**To Reproduce**
Use `golang-ci` version 1.5 with following config

[code]
**Expected behavior**
No warnings expected

**Desktop (please complete the following information):**
 - OS: [Ubuntu 22.04]
 - Go version: 1.19.1

**Additional context**
In `golang-ci` version 1.49 these warnings doesn't occur.

[2022-10-06 08:49] chavacava commented on #751
Hi @rawen17, thanks for the proposal!
Could you please explain what is the problem you are addressing?
Your proposal is to skip rule application on specific function bodies or in specific function calls?
For example, imagine `ignoreFuncs="println"` when analyzing a source file with a function call as the following
[code]

Do you expect the rule to take into account (count in fact) the literal `1`?

[2022-10-06 09:31] chavacava commented on #752
Hi @marek-valuch thanks for reporting the issue.
Did you check if the problem occurs when running `revive` directly (i.e. without passing through `golangci-lint` ?

[2022-10-06 10:37] rawen17 commented on #751
Hi, @chavacava !
I want to add function names in configuration to exclude checking magic numbers in function calls.
(skip rule application to specific function calls)
For example
`"ignoreFuncs": "os.*,.Println,ignoredFunc",`
[code]
In your example rule will be excluded if 'myFunc' is in 'ignoreFuncs'

[2022-10-06 10:59] rawen17 opened #754 "[rule.unhandled-error] change 'arguments' (ignored function names) in configuration to regexp"
**Is your feature request related to a problem? Please describe.**
I want to change 'arguments' in configuration to have a possibility to add regexp function names

Example:
[code]

**Describe the solution you'd like**
I want to create PR with changes, which add this feature

[2022-10-06 12:55] marek-valuch commented on #752
Yes, I tried to use same rules in `toml` config. But I can't reproduce warnings (`avoid magic numbers like...` or `string literal "" appears...`) using revive directly.

[2022-10-06 14:41] chavacava commented on #752
@marek-valuch if the problem does not appear when running `revive` directly might indicate à problem at `golangci-lint`

[2022-10-06 15:38] marek-valuch commented on #752
Yes, it seems like parsing problem for `golang-ci`. Rule `add-constant` works propery when applied without arguments directly in revive.

It is probably already reported in here: https://github.com/golangci/golangci-lint/issues/3280

Thank you!

[2022-10-06 19:40] #752 closed

[2022-10-07 01:24] qascade commented on #735
Thanks, for assigning this issue to me. Going through the code base. Will get back to you, if I have any issues. Will raise a draft PR, half way through and request a review once done.

[2022-10-07 11:18] chavacava commented on #751
@rawen17 Could you please describe the use case you are addressing?

[2022-10-07 16:12] chavacava commented on #751
I see, thanks @xobotyi.
I'll not discuss the convenience of writing
[code]
vs
[code]
If for example, `os.Chmod` is in the ignore list, how the rule will apply to a call like:
[code]
The instance of `"test"` literal is ignored in the counting of repetitions of the literal?

[2022-10-13 11:23] #751 closed

[2022-10-13 12:00] rawen17 opened #759 "[rule.add-constant] change ''ignoreFuncs' expressions in documentation and test"
**Is your feature request related to a problem? Please describe.**
I want to change 'ignoreFuncs' regexp expressions in RULES_DESCRIPTIONS.md and test

before changes:
[code]

after changes:
[code]

**Describe the solution you'd like**
I want to create PR with changes

[2022-10-15 09:24] #759 closed

[2022-10-17 11:43] qascade commented on #735
Are there any other special comments or directives that I should look out for other than those mentioned in the issue? Is there a list that I can refer to ?? I can add a logic to match `//go:*` expression and add `//revive` comments specifically in the whitelist.

[2022-10-20 10:54] chloe-the-catgirl opened #762 "string-format: Missing possibility to consider matches as linting errors"
**Is your feature request related to a problem? Please describe.**
Since Go (or at least the RE2 parsing engine) does not support negative lookaheads in regular expressions, it's hard for me to exclude certain strings in the string format.

Right now, I want to check for the things inside the `fmt.Errorf` call:

1. Does not contain phrases like "could not", "error" or similar.
2. Verbs are using t

[2022-10-22 06:12] chavacava commented on #762
Hi @chloe-the-catgirl, thanks for filling the issue.

Does _negating_ the regular expression in the configuration could work for you? For example by adding a `!` in front of the regular expression:

[code]

Then your example could be written as:

[code]

[2022-10-22 06:33] chloe-the-catgirl commented on #762
Hi @chavacava, thanks for the quick response ☺️
That would be perfectly fine as it covers my usecases perfectly with a clean syntax. Really like the approach! 😄

[2022-10-22 07:06] chavacava commented on #733
Unable to reproduce the problem.
Closing for now.

[2022-10-22 07:07] #733 closed

[2022-10-24 18:48] #762 closed

[2022-10-25 06:01] okhowang commented on #693
There is no way to let the linter know which type of target (package/directory/file) it is checking as far as I know.
We shouldn't check package comments when lint on file level.

[2022-10-26 11:22] wojtekxtx opened #768 "Not working"
Exacty this.

Lead developer of `wojtekxtx/crowdsec` here. Trying to implement `revive` as per your horrible docs. Awful, not helpful at all.

Instead of shipping meaningless docs, maybe its assable to screw it all?

[2022-10-26 12:01] chavacava commented on #768
Closing it until some intelligible sentence emerges.

[2022-10-27 13:44] mgechev commented on #768
Closing and locking due to trolling :)

[2022-10-27 13:44] #768 closed

[2022-10-29 17:47] qascade commented on #735
Thanks @chavacava for the merge. If there are any other issues that I can work on, please let me know. I think this issue can be closed.

[2022-10-31 21:48] #735 closed

[2022-10-31 21:48] mgechev commented on #735
Thanks @qascade!

[2022-11-01 14:38] Integralist opened #769 "Doesn't return an appropriate exit code"
👋🏻

I was expecting `revive` to return exit code 1 if validation fails but it always returns exit code zero.

This makes it harder to implement solutions around revive, such as https://github.com/jose-elias-alvarez/null-ls.nvim which relies on a failure exit code to indicate whether to process diagnostics.

I guess it could be argued that if revive itself didn't error then it successfully validate

[2022-11-01 16:14] #769 closed

[2022-11-01 19:51] wojtekxtx opened #770 "Whats the reasoning behind this?"
Just as title goes. Anyone dare to answer?

[2022-11-01 19:55] #770 closed

[2022-11-09 12:13] #754 closed

[2022-11-09 15:26] rnikoopour opened #771 "SARIF mode line and column numbers off by 1"
**Describe the bug**
When outputting SARIF mode column and line numbers are both off by 1.

When uploading the SARIF file to Github, this results in Github misplacing the SARIF information in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `foo.go` with the following contents:
[code]
2. Run `revive -formatter sarif foo.go`
3. Look at the sarif output and see column and line nu

[2022-11-11 06:47] #771 closed

[2022-11-17 03:37] oslyak opened #774 "Can not disable ID var-naming"
**Describe the bug**
Can not disable ID var-naming

**To Reproduce**

.golangci.yml
[code]

How should file be named?
revive or revive.toml ????

[code]

[2022-11-17 03:40] #774 closed

[2022-11-21 06:09] mdelah opened #775 "early-return false positive"
**Describe the bug**
The `early-return` linter can give bad advice if there are multiple non-returning blocks in an if-else chain.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated revive `go install github.com/mgechev/revive@latest`
2. I run it with the following flags & configuration file:

[code]

[code]

On the following program:

[code]

The following is output:

[code]

**Expec

[2022-11-21 10:39] chavacava commented on #775
Hi @mdelah thanks for filling the issue.
My understanding of revive's suggestion is the code could be refactored into:
[code]

The message
[code]
Makes reference to the `else` of line 14, thus the`if` of line 12.
Do you agree?

[2022-11-21 11:07] mdelah commented on #775
Hi @chavacava, thanks for the reply.

Sorry, I'm not sure I see the reference to line 12? The predicate `c` that we are being instructed to invert appears in this case to be `*B`, which sits on line 14, the line indicated in the prompt. Also, the code you have posted is not valid syntax (there is a trailing right-brace).

(Just to be clear, I do like the _idea_ of this rule, and I'd like to enable

[2022-11-23 07:57] chavacava commented on #775
@mdelah, you are right, the line 14 is that of the `if *B` (my bad, I've did not count lines correctly :) )
Then, the message of `revive` is pointing to the following code section:
[code]
if you transform the code as proposed by the message, you will get:
[code]
Then the refactoring of the whole function results in:

[code]
[code]

[2022-11-24 01:10] mdelah commented on #775
Yes, that's another way to repair it, but performing such a refactor merely for the sake of placating the linter seems dubious. Consider:

1. The [stated aim](https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#early-return) of the rule is to "minimize nesting statements", but in the end we have strictly increased the nesting (the lines `if !*B {`, `println("neither A nor B branch

[2022-11-25 06:54] chavacava commented on #775
The linter makes suggestions is up to the developer to decide what to do. As any static analysis tool, the linter has its limitations.
In this particular case it could be possible, and maybe not so complex, to avoid the false positive case you spot. Now the problem is to find the pattern the rule must look for to avoid warning in such cases. The pattern must as precise as possible and, at the same

[2022-11-26 00:40] mdelah commented on #775
Okay, cheers - I'll see what I can come up with.

[2022-11-27 12:25] chavacava commented on #775
PR merged, thanks @mdelah

[2022-11-27 12:25] #775 closed